

<p class="page" id="researchpaper">


	<p restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Ссылки</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" ><span class="author">Фамилия, Имя</span> <span class="date">(ГГГГ). </span> <span class="source">Название источника. </span> <span class="publisher">Имя издателя,</span> <span class="range">начало - конец. </span></li>
			<li documentBlock="true" ><span class="author">Фамилия, Имя</span> <span class="date">(ГГГГ). </span> <span class="source">Название источника. </span> <span class="publisher">Имя издателя,</span> <span class="range">начало - конец. </span></li>
			<li documentBlock="true" ><span class="author">Фамилия, Имя</span> <span class="date">(ГГГГ). </span> <span class="source">Название источника. </span> <span class="publisher">Имя издателя,</span> <span class="range">начало - конец. </span></li>
			<li documentBlock="true" ><span class="author">Фамилия, Имя</span> <span class="date">(ГГГГ). </span> <span class="source">Название источника. </span> <span class="publisher">Имя издателя,</span> <span class="range">начало - конец. </span></li>
			<li documentBlock="true" ><span class="author">Фамилия, Имя</span> <span class="date">(ГГГГ). </span> <span class="source">Название источника. </span> <span class="publisher">Имя издателя,</span> <span class="range">начало - конец. </span></li>
			<li documentBlock="true" ><span class="author">Фамилия, Имя</span> <span class="date">(ГГГГ). </span> <span class="source">Название источника. </span> <span class="publisher">Имя издателя,</span> <span class="range">начало - конец. </span></li>
			<li documentBlock="true" ><span class="author">Фамилия, Имя</span> <span class="date">(ГГГГ). </span> <span class="source">Название источника. </span> <span class="publisher">Имя издателя,</span> <span class="range">начало - конец. </span></li>
			<li documentBlock="true" ><span class="author">Фамилия, Имя</span> <span class="date">(ГГГГ). </span> <span class="source">Название источника. </span> <span class="publisher">Имя издателя,</span> <span class="range">начало - конец. </span></li>
			<li documentBlock="true" ><span class="author">Фамилия, Имя</span> <span class="date">(ГГГГ). </span> <span class="source">Название источника. </span> <span class="publisher">Имя издателя,</span> <span class="range">начало - конец. </span></li>
			<li documentBlock="true" ><span class="author">Фамилия, Имя</span> <span class="date">(ГГГГ). </span> <span class="source">Название источника. </span> <span class="publisher">Имя издателя,</span> <span class="range">начало - конец. </span></li>
		</ul>
	</p>

</p>
<p></p>
