<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Ansioluettelo</title>
</head>
<body  class="concord_Doc_Style_1">
<p style="color:#0000ff;text-align:center;font-size:15pt;">Phillipe Babineaux</p>
<p style="color:#333333;text-align:center;font-size:10pt;"> </p>
<p style="color:#333333;text-align:center;font-size:10pt;">Pääkatu 1, Oma kaupunki, Oma maa</p>
<p style="color:#333333;text-align:center;font-size:10pt;">617 555 0000</p>
<p style="color:#333333;text-align:center;font-size:10pt;">phillipe.babineaux@omayritys.fi</p>
<p style="color:#333333;text-align:center;font-size:10pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIN"><li class="lst-cs" value="lst-cs">Yhteenveto </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">Olen luonteeltani rento, mutta tehokas, erittäin järjestelmällinen ja tarkka.</span></p>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIE"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Koulutus </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-weight:bold;font-size:11pt;">Yliopiston nimi</span></p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">2000–2004</span></p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">Loppututkinto ja pääaine</span></p>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIR"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Työkokemus </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="color:#333333;margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Nykyinen työnantaja, paikkakunta</p>
<p style="color:#333333;margin-left:0.4991cm;font-size:11pt;">2007–edelleen</p>
<p style="color:#333333;margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Tehtävänimike</p>
<ul class="lst-VDEA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li class="ls-d"><ul class="lst-d" >
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Projektin ohjaus luomalla aikataulu ja nimeämällä resurssit</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Asiakkaan tarpeiden ymmärtäminen ja projektisuunnitelman luonti</span></li>
</ul></li>
</ul>
<p style="margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Edellisen työnantajan nimi, paikkakunta</p>
<p style="margin-left:0.4991cm;font-size:11pt;">2004–2006</p>
<p style="margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Tehtävänimike</p>
<ul class="lst-VADA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li class="ls-d"><ul class="lst-d" >
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Projektin ohjaus luomalla aikataulu ja nimeämällä resurssit</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Asiakkaan tarpeiden ymmärtäminen ja projektisuunnitelman luonti</span></li>
</ul></li>
</ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHEN"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Harrastukset </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul class="lst-VCEA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Tärkein harrastukseni ovat lapseni. Haluan viettää aikaa heidän kanssaan ja osallistua kaikenlaiseen toimintaan, jossa voimme olla yhdessä.</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Pidän sähköisen median seuraamisesta joko erilaisten Web-sivustojen tai tilaamieni RSS-syötteiden avulla. Toisinaan nautin kirjan lukemisesta tai äänikirjan kuuntelusta.</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Haluan pysyä hyvässä kunnossa. Pyrin pitämään harjoittelurutiinini säännöllisenä kuulumalla urheiluseuraan. Urheiluharrastuksiani ovat pyöräily, juoksu, uinti, kävely, jalkapallo ja golf.</span></li>
</ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PEIN"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Suositukset </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">Kirjoita suosittelijoiden luettelo.</span></p>
</body>
</html>
