<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Katuosoite</span></p>
<p><span style="font-weight:bold;">Postinumero Paikkakunta</span></p>
<p><span style="font-weight:bold;">15.2.2012</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Phillipe Babineaux</span></p>
<p><span style="font-weight:bold;">Toimitusjohtaja</span></p>
<p><span style="font-weight:bold;">Entisöinti oy</span></p>
<p><span style="font-weight:bold;">Katuosoite</span></p>
<p><span style="font-weight:bold;">Postinumero Paikkakunta</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Arvoisa toimitusjohtaja Babineaux</p>
<p><br class="hideInIE"></p>
<p>Minulla on ilo esitellä teille uusin tuottavuustyökalu, HCL Docs.</p>
<p><br class="hideInIE"></p>
<p>HCL Docs on Web-perustainen muokkausohjelma, jolla voi luoda, määrittää yhteiskäyttöön ja laatia yhdessä asiakirjoja, laskentataulukoita ja esityksiä. Asiakirjojen luominen on entistä kätevämpää, koska voitte yhdessä työtovereiden kanssa muokata ja kommentoida sisältöä ja keskustella siitä sekä määrittää eri osia työryhmän jäsenten tehtäväksi.</p>
<p><br class="hideInIE"></p>
<p>Odotan yhteydenottoanne. Vastaan mielelläni mahdollisiin kysymyksiinne.</p>
<p><br class="hideInIE"></p>
<p>Terveisin</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Myyntipäällikkö</span></p>
<p><br class="hideInIE"></p>
<p>Liitteet</p>
</body>
</html>
