<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Faksin kansilehti</title>
</head>
<body  class="concord_Doc_Style_1">
<table cellspacing="0px" style="table-layout:fixed;word-break:break-all;border-collapse:collapse;">
<tbody>
<tr>
<td style="padding:0.5997cm;border-top:none ;border-left:none ;border-right:none ;border-bottom:2.4984pt solid #99ccff ;vertical-align:top;width:22%;">
<p><span style="color:#000000;font-size:10pt;">Yrityksen logo</span></p>
</td>
<td style="padding:0.5997cm;border-top:none ;border-left:none ;border-right:none ;border-bottom:2.4984pt solid #99ccff ;vertical-align:top;width:30%;">
<p><span style="color:#000000;font-weight:bold;font-size:14pt;">Entisöinti oy</span></p>
</td>
<td style="padding:0.5997cm;border-top:none ;border-left:none ;border-right:none ;border-bottom:2.4984pt solid #99ccff ;vertical-align:top;width:24%;">
<p><span style="color:#000000;font-size:10pt;">Yrityksen osoite</span></p>
</td>
<td style="padding:0.5997cm;border-top:none ;border-left:none ;border-right:none ;border-bottom:2.4984pt solid #99ccff ;vertical-align:top;width:24%;">
<p><span style="color:#000000;font-size:10pt;">Puhelin:&nbsp;617&nbsp;555&nbsp;0000</span></p>
</td>
</tr>
</tbody>
</table>
<p><br class="hideInIE"></p>
<table cellspacing="0px" style="table-layout:fixed;word-break:break-all;border-collapse:collapse;width:100%">
<tbody>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;width:40%;">
<p style="text-align:right;"><span style="color:#000000;font-size:10pt;">Vastaanottaja:</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;width:60%;">
<p style="text-align:left;"><span style="color:#000000;font-size:10pt;">Phillipe Babineaux</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;"><span style="color:#000000;font-size:10pt;">Faksinumero:</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="color:#000000;font-size:10pt;">617&nbsp;555&nbsp;0001</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;"><span style="color:#000000;font-size:10pt;">Lähettäjä:</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="color:#000000;font-size:10pt;">Joe</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;"><span style="color:#000000;font-size:10pt;">Päivämäärä:</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="color:#000000;font-size:10pt;">15.2.2012</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;"><span style="color:#000000;font-size:10pt;">Asia:</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span class="T6" style="color:#000000;font-size:10pt;">Faksin aihe</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;"><span style="color:#000000;font-size:10pt;">Sivuja:</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="color:#000000;font-size:10pt;">1</span></p>
</td>
</tr>
</tbody>
</table>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p style="color:#000000;">Kirjoita sisältö tähän...</p>
</body>
</html>
