

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Viitteet</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >Sukunimi, Etunimi (VVVV). Lähteen nimi. Julkaisijan nimi, alku–loppu.</li>
			<li documentBlock="true" >Sukunimi, Etunimi (VVVV). Lähteen nimi. Julkaisijan nimi, alku–loppu.</li>
			<li documentBlock="true" >Sukunimi, Etunimi (VVVV). Lähteen nimi. Julkaisijan nimi, alku–loppu.</li>
			<li documentBlock="true" >Sukunimi, Etunimi (VVVV). Lähteen nimi. Julkaisijan nimi, alku–loppu.</li>
			<li documentBlock="true" >Sukunimi, Etunimi (VVVV). Lähteen nimi. Julkaisijan nimi, alku–loppu.</li>
			<li documentBlock="true" >Sukunimi, Etunimi (VVVV). Lähteen nimi. Julkaisijan nimi, alku–loppu.</li>
			<li documentBlock="true" >Sukunimi, Etunimi (VVVV). Lähteen nimi. Julkaisijan nimi, alku–loppu.</li>
			<li documentBlock="true" >Sukunimi, Etunimi (VVVV). Lähteen nimi. Julkaisijan nimi, alku–loppu.</li>
			<li documentBlock="true" >Sukunimi, Etunimi (VVVV). Lähteen nimi. Julkaisijan nimi, alku–loppu.</li>
			<li documentBlock="true" >Sukunimi, Etunimi (VVVV). Lähteen nimi. Julkaisijan nimi, alku–loppu.</li>
		</ul>
	</div>

</div>
<p></p>
