<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Џои</span></p>
<p><span style="font-weight:bold;">Адреса</span></p>
<p><span style="font-weight:bold;">Град, држава, поштенски број</span></p>
<p><span style="font-weight:bold;">2012/02/15</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Филипе Бабино</span></p>
<p><span style="font-weight:bold;">Главен извршен директор</span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">Адреса</span></p>
<p><span style="font-weight:bold;">Град, држава, поштенски број</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Почитуван Г-дин Бабино,</p>
<p><br class="hideInIE"></p>
<p>Со оваа е-пошта, ми причинува чест да ви ја претставам најновата
алатка за
продуктивност HCL Docs.</p>
<p><br class="hideInIE"></p>
<p>HCL Docs е уредник базиран на интернет, за создавање,
споделување и
заедничко пишување на документи, пресметковни листови и презентации. Тоа
е подобар начин за создавање документи, бидејќи можете да
уредувате заедно со колегите, да коментирате и разговарате во контекст
и да
доделувате делови на членови на тимот.</p>
<p><br class="hideInIE"></p>
<p>Доколку имате потреба од повеќе информации, слободно контактирајте ме.</p>
<p><br class="hideInIE"></p>
<p>Со почит,</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Џои</span></p>
<p><span style="font-weight:bold;">Постар менаџер за
продажба</span></p>
<p><br class="hideInIE"></p>
<p>Прилози</p>
</body>
</html>
