<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Кратка биографија </title>
</head>
<body  class="concord_Doc_Style_1">
<p style="color:#0000ff;text-align:center;font-size:15pt;">Филипе Бабино</p>
<p style="color:#333333;text-align:center;font-size:10pt;"> </p>
<p style="color:#333333;text-align:center;font-size:10pt;">1 Улица,град, држава</p>
<p style="color:#333333;text-align:center;font-size:10pt;">617-555-0000</p>
<p style="color:#333333;text-align:center;font-size:10pt;">phillipe.babineaux@yourcompany.com</p>
<p style="color:#333333;text-align:center;font-size:10pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIN"><li class="lst-cs" value="lst-cs">Резиме </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">Толерантен,
посветен,
способен за организација и насочен кон детали.</span></p>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIE"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Образование </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-weight:bold;font-size:11pt;">Име
на универзитетот каде што последно сте студирале</span></p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">2000 -
2004 година</span></p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">Тип на
диплома, назив на студии </span></p>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIR"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Работно
искуство </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="color:#333333;margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Име
и презиме на тековен работодавач, локација</p>
<p style="color:#333333;margin-left:0.4991cm;font-size:11pt;">2007 година-Денес</p>
<p style="color:#333333;margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Работно место</p>
<ul class="lst-VDEA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li class="ls-d"><ul class="lst-d" >
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Создадете
распоред и идентификувајте ресурси со кои ќе го водите проектот</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Разберете
ги потребите на клиентот и поставете план на проектот</span></li>
</ul></li>
</ul>
<p style="margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Име
и презиме на последен работодавач, локација</p>
<p style="margin-left:0.4991cm;font-size:11pt;">2004 - 2006 година</p>
<p style="margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Работно место</p>
<ul class="lst-VADA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li class="ls-d"><ul class="lst-d" >
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Создадете
распоред и идентификувајте ресурси со кои ќе го водите проектот</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Разберете
ги потребите на клиентот и поставете план на проектот</span></li>
</ul></li>
</ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHEN"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Интереси
</li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul class="lst-VCEA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Децата
ми се најважни. Сакам да го минувам времето со нив и да бидам дел од
сите нивни активности.</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Уживам
во читање на интернет на одредени веб-страници или на РСС-навестувања
на содржина на кои сум претплатен, а повремено
уживам во книга или
аудио книга.</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Сакам
да сум активен. Се обидувам да одржувам редовна рутина на вежбање
како дел од спортска лига. Некои од активностите со кои се
занимавам вклучуваат:
возење велосипед, трчање, пливање, пешачење, играње фудбал
и голф.</span></li>
</ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PEIN"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Препораки </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">Наведете
информации за препораките.</span></p>
</body>
</html>
