

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Препораки</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >Име, презиме (ГГГГ). Име на извор. Име на издавач, почеток - крај.</li>
			<li documentBlock="true" >Име, презиме (ГГГГ). Име на извор. Име на издавач, почеток - крај.</li>
			<li documentBlock="true" >Име, презиме (ГГГГ). Име на извор. Име на издавач, почеток - крај.</li>
			<li documentBlock="true" >Име, презиме (ГГГГ). Име на извор. Име на издавач, почеток - крај.</li>
			<li documentBlock="true" >Име, презиме (ГГГГ). Име на извор. Име на издавач, почеток - крај.</li>
			<li documentBlock="true" >Име, презиме (ГГГГ). Име на извор. Име на издавач, почеток - крај.</li>
			<li documentBlock="true" >Име, презиме (ГГГГ). Име на извор. Име на издавач, почеток - крај.</li>
			<li documentBlock="true" >Име, презиме (ГГГГ). Име на извор. Име на издавач, почеток - крај.</li>
			<li documentBlock="true" >Име, презиме (ГГГГ). Име на извор. Име на издавач, почеток - крај.</li>
			<li documentBlock="true" >Име, презиме (ГГГГ). Име на извор. Име на издавач, почеток - крај.</li>
		</ul>
	</div>

</div>
<p></p>
