.PM0 {margin-bottom:0.00%;margin-left:0.00%;margin-right:0.00%;margin-top:0.00%;}  
.PM1 {margin-bottom:0.00%;margin-left:0.00%;margin-right:0.00%;margin-top:0.00%;}  
.Mdp116 {draw_background-size:border;}  
.Mdp117 {}  
.Mgr120 {background-color:#ffffff;}  
.Mgr124 {background-color:#ffffff;}  
.Mpr125 {}  .Mpr126 {}  .Mpr127 {}  .Mpr130 {}  .Mpr131 {}  .Mpr132 {}  .Mpr133 {}  .Mpr134 {}  .Mpr135 {}  .Mpr136 {}  .Mpr137 {}  .Mpr138 {}  
.MP118 {line-break:strict;font-size:0.78em;}  
.MP121 {line-break:strict;writing-mode:lr-tb;font-size:0.78em;}  
.MP122 {text-align:end;line-break:strict;font-size:0.78em;}  
.MP123 {text-align:end;line-break:strict;writing-mode:lr-tb;font-size:0.78em;}  
.MP128 {text-align:center;line-break:strict;font-size:0.78em;}  
.MP129 {text-align:center;line-break:strict;writing-mode:lr-tb;font-size:0.78em;}  
.MT119 {font-size:0.78em;}  
.ML116 {font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;}  
.ML117 {font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;}  