<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Morada</span></p>
<p><span style="font-weight:bold;">Cidade, Localidade, Código postal</span></p>
<p><span style="font-weight:bold;">2012/02/15</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Phillipe Babineaux</span></p>
<p><span style="font-weight:bold;">Director Geral</span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">Morada</span></p>
<p><span style="font-weight:bold;">Cidade, Localidade, Código postal</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Exm.º Sr. Babineaux,</p>
<p><br class="hideInIE"></p>
<p>Tenho o prazer de anunciar, através desta mensagem, o HCL Docs, a nossa ferramenta de produtividade mais recente.</p>
<p><br class="hideInIE"></p>
<p>O HCL Docs é um editor baseado na Web que permite criar, partilhar e elaborar em conjunto documentos, folhas de cálculo e apresentações. É a melhor forma de criar documentos, uma vez que pode co-editar os mesmos com colegas, comentar e debater em contexto e atribuir secções a membros da equipa.</p>
<p><br class="hideInIE"></p>
<p>Não hesite em contactar-me, caso necessite de mais informações.</p>
<p><br class="hideInIE"></p>
<p>Atenciosamente,</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Gestor de vendas sénior</span></p>
<p><br class="hideInIE"></p>
<p>Anexos</p>
</body>
</html>
