
<table cellspacing="0px" style="table-layout: fixed; border-collapse: collapse; width: 100%;"><tbody><tr>
	<td style="width: 100%;background-color: #333;padding: 0.7938cm;border-bottom: 3.75pt solid #00A6A0;">
		<p style="text-align: right;"><span style="font-size: 12pt;font-weight:bold;color: #fff;letter-spacing: 0;">Nome da empresa</span></p>
		<p style="text-align: right;"><span style="font-size: 7.5pt;font-weight:bold;letter-spacing: 0.0265cm;color: #00EEEE;">SLOGAN DA EMPRESA</span></p>
		<p style="text-align: right;font-size: 7.5pt;font-weight:bold;letter-spacing: 0.0265cm;color: #00EEEE;"></p>
		<p style="text-align: right;"><span style="line-height: 0.4233cm;font-size: 9pt;letter-spacing: .5px;color: #00EEEE;">Nome próprio Apelido</span></p>
		<p style="text-align: right;"><span style="line-height: 0.4233cm;font-size: 9pt;letter-spacing: .5px;color: #00EEEE;">DD/MM/AAAA</span></p>
		<p style="text-align: right;"><span style="line-height: 0.4233cm;font-size: 9pt;letter-spacing: .5px;color: #00EEEE;">email@exemplo.com</span></p>
		<p style="text-align: right;"><span style="line-height: 0.4233cm;font-size: 9pt;letter-spacing: .5px;color: #00EEEE;">(123) 456-7890</span></p>
	</td>
</tr></tbody></table>
<p></p>
