

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Referências</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >Nome próprio, Apelido (AAAA). Nome da fonte. Nome da editora, início - fim.</li>
			<li documentBlock="true" >Nome próprio, Apelido (AAAA). Nome da fonte. Nome da editora, início - fim.</li>
			<li documentBlock="true" >Nome próprio, Apelido (AAAA). Nome da fonte. Nome da editora, início - fim.</li>
			<li documentBlock="true" >Nome próprio, Apelido (AAAA). Nome da fonte. Nome da editora, início - fim.</li>
			<li documentBlock="true" >Nome próprio, Apelido (AAAA). Nome da fonte. Nome da editora, início - fim.</li>
			<li documentBlock="true" >Nome próprio, Apelido (AAAA). Nome da fonte. Nome da editora, início - fim.</li>
			<li documentBlock="true" >Nome próprio, Apelido (AAAA). Nome da fonte. Nome da editora, início - fim.</li>
			<li documentBlock="true" >Nome próprio, Apelido (AAAA). Nome da fonte. Nome da editora, início - fim.</li>
			<li documentBlock="true" >Nome próprio, Apelido (AAAA). Nome da fonte. Nome da editora, início - fim.</li>
			<li documentBlock="true" >Nome próprio, Apelido (AAAA). Nome da fonte. Nome da editora, início - fim.</li>
		</ul>
	</div>

</div>
<p></p>
