<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Gatuadress</span></p>
<p><span style="font-weight:bold;">Postnummer Ort</span></p>
<p><span style="font-weight:bold;">2012-02-15</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Phillipe Babineaux</span></p>
<p><span style="font-weight:bold;">Chief Executive Officer</span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">Gatuadress</span></p>
<p><span style="font-weight:bold;">Postnummer Ort</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Bäste herr Babineaux!</p>
<p><br class="hideInIE"></p>
<p>Jag är glad att kunna presentera vårt senaste produktivitetsverktyg HCL Docs för dig i detta meddelande. </p>
<p><br class="hideInIE"></p>
<p>HCL Docs är en webbaserad redigerare för att skapa, dela och samarbeta kring framtagandet av dokument, kalkylark och presentationer. Det är ett bättre sätt att skapa dokument, eftersom man kan arbeta tillsammans med kollegor, kommentera och diskutera saker i sitt sammanhang samt tilldela teammedlemmar olika avsnitt.</p>
<p><br class="hideInIE"></p>
<p>Kontakta mig gärna om du vill ha mer information.</p>
<p><br class="hideInIE"></p>
<p>Vänliga hälsningar</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Säljchef</span></p>
<p><br class="hideInIE"></p>
<p>Bilagor</p>
</body>
</html>
