<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>履歴書</title>
</head>
<body  class="concord_Doc_Style_11">

<p class="page" id="resume">

	<p documentBlock="true" restyle="false" concordTemplateComponent="letterhead" class="letterhead">
		<h1>姓 名</h1>
		<ul>
			<li class="addressLine1">郵便番号 都道府県、市区町村</li>
			<li class="addressLine2">市区町村番地</li>
			<li class="email">email@example.com</li>
			<li class="phone">(123) 456-7890</li>
		</ul>		
	</p>

	<p documentBlock="true" class="section summary">
		<h2>目的</h2>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		-->
	</p>
		
	<p documentBlock="true" class="section">
		<h2>学歴</h2>
		<p documentBlock="true"  class="subsection">
			<h3>学校名&nbsp; &nbsp;&nbsp; &nbsp; 都道府県、市区町村</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<li>取得学位 <!--Lorem ipsum dolor--> &nbsp;&nbsp;&nbsp;&nbsp;2006-2008</li>
			</ul>
		</p>
		<p documentBlock="true"  class="subsection">	
			<h3>大学名&nbsp; &nbsp;&nbsp; &nbsp;都道府県、市区町村</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<li>取得学位 &nbsp;&nbsp;&nbsp;&nbsp;2002-2006</li>
			</ul>
		</p>
	</p>
	
	<p documentBlock="true"  class="section">
		<h2>職歴</h2>
		<p documentBlock="true"  class="subsection">
			<h3>企業名&nbsp;&nbsp;&nbsp;&nbsp;都道府県、市区町村</h3>
			<h4>アカウントマネージャ  &nbsp;&nbsp;&nbsp;&nbsp;2008- 現在</h4>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt.</li>
				-->
			</ul>
		</p>
		<p documentBlock="true"  class="subsection">	
			<h3>会社名&nbsp;&nbsp;&nbsp;&nbsp;都道府県、市区町村</h3>
			<h4>アカウントアシスタント &nbsp;&nbsp;&nbsp;&nbsp;2006-2008</h4>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Nunc at tellus et est fermentum vehicula. Cras tristique, dolor id viverra varius, sem mi egestas mauris, quis molestie odio ipsum a urna.</li>
				-->
			</ul>
		</p>
		<p documentBlock="true"  class="subsection">	
			<h3>事業名&nbsp;&nbsp;&nbsp;&nbsp;都道府県、市区町村</h3>
			<h4>マーケティングインターン &nbsp;&nbsp;&nbsp;&nbsp;2005-2006</h4>
			<ul>
				<!--
				<li>Donec hendrerit ultricies ipsum in bibendum. Aliquam aliquet, diam quis adipiscing semper, arcu nisi viverra nulla, ac vehicula ligula nibh.</li>
				-->
			</ul>
		</p>
	</p>
	
	<p documentBlock="true"  class="section conclusion">
		<h2>スキルと資格</h2>
		<p documentBlock="true"  class="subsection">
			<h3>カテゴリ 1</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Lorem ipsum dolor sit amet</li>
				<li>Consectetur adipiscing elit</li>
				<li>Suspendisse facilisis ac mi porttitor</li>
				-->
			</ul>
			<h3>カテゴリ 2</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Nam faucibus nisi vel velit porta viverra</li>
				<li>Sed in augue id massa pulvinar scelerisque</li>
				-->
			</ul>
		</p>
	</p>
	
	<p documentBlock="true"  class="section references" concordTemplateComponent="references" >
		<h2>信用照会先</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li>姓 名、続柄 &nbsp;&nbsp;&nbsp;&nbsp;(123) 456-7890</li>
			<li>姓 名、続柄 &nbsp;&nbsp;&nbsp;&nbsp;(123) 456-7890</li>			
		</ul>
	</p>
	
</p>
</body>
</html>
