/*styles for title page title element*/
.Yellowdots-title p
{
	text-align:right;
}
.Yellowdots-title {
	/*font-size:32.4pt;*/
	font-size:1.8em;
	font-family:Georgia;
	color: #000000;
}
.Yellowdots-title li {
		/*font-family:StarSymbol;
		font-size:45%;*/
		text-align:right;
}
.Yellowdots-title li ul li {
		/*padding-left: 0.6cm;*/
		padding-left: 2.14%;
}
.Yellowdots-title li ul li ul li{
		/*padding-left: 1.2cm;*/
		padding-left: 4.28%;
}
.Yellowdots-title li ul li ul li ul li{
		/*padding-left: 1.8cm;*/
		padding-left: 6.43%;
}

/*styles for title page subtitle element*/
.Yellowdots-subtitle p
{
	margin-left: 0cm;
	margin-right:0cm;
	text-align:right;
	text-indent:0cm;
}
.Yellowdots-subtitle {
	/*font-size:18pt;*/
	font-size:1em;
	font-family:Georgia;
	color: #555555;
	text-transform: uppercase
}
.Yellowdots-subtitle li {
		font-family:StarSymbol;
		font-size:45%;
		text-align:right;
}
.Yellowdots-subtitle li ul li {
		/*padding-left: 0.6cm;*/
		padding-left: 2.14%;
}
.Yellowdots-subtitle li ul li ul li{
		/*padding-left: 1.2cm;*/
		padding-left: 4.28%;
}
.Yellowdots-subtitle li ul li ul li ul li{
		/*padding-left: 1.8cm;*/
		padding-left: 6.43%;
}
.concord .Yellowdots-datetime {
	font-family:Georgia;
	color:#555555;
	text-align:left;	
}

.concord .Yellowdots-pagenumber {
	font-family:Georgia;
	color:#555555;
	text-align:right;
}

.concord .Yellowdots-footer {
	font-family:Georgia;
	color:#555555;
	text-align:center;
}
.Yellowdots_default {
	/*font-size:44pt;*/
	/*font-size:2em;*/
	font-family:Georgia;
	color:#555555;
}
/*styles for other page (non title page) title */
.Yellowdots_text-title p
{
	text-align:center;
}
.Yellowdots_text-title {
	/*font-size:36pt;*/
	font-size:2em;
	font-family:Georgia;
	color:#000000;
}
.Yellowdots_text-title li {
	/*
		font-family:StarSymbol;
		font-size:45%;
		*/
		text-align:center;
}
.Yellowdots_text-title li ul li {
		/*padding-left: 0.6cm;*/
		padding-left: 2.14%;
}
.Yellowdots_text-title li ul li ul li{
		/*padding-left: 1.2cm;*/
		padding-left: 4.28%;
}
.Yellowdots_text-title li ul li ul li ul li{
		/*padding-left: 1.8cm;*/
		padding-left: 6.43%;
}
/*styles for outline */
.Yellowdots_text-outline1 p
{
	margin-top: 0cm;
	/*margin-bottom: 0.5cm;*/
	margin-bottom:2.38%;
}
.Yellowdots_text-outline1 li {
		/*font-family:StarSymbol;*//* only for the bullet icon*/
		/*padding-left: 0.3cm;*/
		padding-left: 1.07%;
		/*font-size:45%;*//* only for the bullet icon*/
		/*conversion of text:min-label-width="0.9cm"*/
}
.Yellowdots_text-outline1 li ul li {
		/*padding-left: 1.5cm;*/
		padding-left: 5.36%;
}
.Yellowdots_text-outline1 li ul li ul li{
		/*padding-left: 2.8cm;*/
		padding-left: 10%;
		/*font-size:75%; *//* only for the bullet icon*/
		/*conversion of text:min-label-width="0.6cm"*/
}
.Yellowdots_text-outline1 li ul li ul li ul li{
		/*padding-left: 4.2cm;*/
		padding-left: 15%;
		/*font-size:45%; *//* only for the bullet icon*/
		/*conversion of text:min-label-width="0.6cm"*/
}
.Yellowdots_text-outline1 {
	/*font-size:25.2pt;*/
	font-size:1.4em;
	font-family:Georgia;
	color:#555555;
}

body.lotusJapanese .Yellowdots-title, body.lotusJapanese .Yellowdots-subtitle,body.lotusJapanese .Yellowdots_default, body.lotusJapanese .Yellowdots_text-title,body.lotusJapanese  .Yellowdots_text-outline1{
	font-family: MS PMincho, MS PGothic, Apple Gothic, Arial, Verdana, sans-serif;
}

body.lotusKorean .Yellowdots-title, body.lotusKorean .Yellowdots-subtitle, body.lotusKorean .Yellowdots_default, body.lotusKorean .Yellowdots_text-title,body.lotusKorean .Yellowdots_text-outline1{
    font-family: "Gulim","GulimChe",Arial, Helvetica, sans-serif ;
}