<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Feuille d'envoi par fax</title>
</head>
<body  class="concord_Doc_Style_1">
<table cellspacing="0px" style="table-layout:fixed;word-break:break-all;border-collapse:collapse;">
<tbody>
<tr>
<td style="padding:0.5cm;border-top:none ;border-left:none ;border-right:none ;border-bottom:2.4984pt solid #99ccff ;vertical-align:top;width:2.5cm;">
<p><span style="color:#000000;font-size:10pt;">Logo de la <br/>société</span></p>
</td>
<td style="padding:0.5cm;border-top:none ;border-left:none ;border-right:none ;border-bottom:2.4984pt solid #99ccff ;vertical-align:top;width:4.5cm;">
<p><span style="color:#000000;font-weight:bold;font-size:14pt;">Renovations Inc.</span></p>
</td>
<td style="padding:0.5cm;border-top:none ;border-left:none ;border-right:none ;border-bottom:2.4984pt solid #99ccff ;vertical-align:top;width:3cm;">
<p><span style="color:#000000;font-size:10pt;">Adresse de la <br/>société</span></p>
</td>
<td style="padding:0.5cm;border-top:none ;border-left:none ;border-right:none ;border-bottom:2.4984pt solid #99ccff ;vertical-align:top;width:3cm;">
<p><span style="color:#000000;font-size:10pt;">Tél. : <br/>09-52-77-33-40</span></p>
</td>
</tr>
</tbody>
</table>
<p><br class="hideInIE"></p>
<table cellspacing="0px" style="table-layout:fixed;word-break:break-all;border-collapse:collapse;width:100%">
<tbody>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;width:40%;">
<p style="text-align:right;"><span style="color:#000000;font-size:10pt;">A :</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;width:60%;">
<p style="text-align:left;"><span style="color:#000000;font-size:10pt;">Philippe Babineaux</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;"><span style="color:#000000;font-size:10pt;">FAX :</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="color:#000000;font-size:10pt;">617-555-0001</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;"><span style="color:#000000;font-size:10pt;">DE :</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="color:#000000;font-size:10pt;">Joe</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;"><span style="color:#000000;font-size:10pt;">DATE :</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="color:#000000;font-size:10pt;">15/02/2012</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;"><span style="color:#000000;font-size:10pt;">RE :</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span class="T6" style="color:#000000;font-size:10pt;">Objet du fax</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;"><span style="color:#000000;font-size:10pt;">PAGES :</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="color:#000000;font-size:10pt;">1</span></p>
</td>
</tr>
</tbody>
</table>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p style="color:#000000;">Entrez un contenu ici ...</p>
</body>
</html>
