<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Lettre d'accompagnement</title>
</head>
<body class="concord_Doc_Style_11">

<p class="page" id="coverletter">

	<p documentBlock="true" restyle="false"  concordTemplateComponent="letterhead" class="letterhead">
		<h1>Prénom Nom</h1>
		<ul>
			<li class="addressLine1">Numéro nom de rue</li>
			<li class="addressLine2">Code postal Ville Pays</li>
			<li class="email">email@exemple.com</li>
			<li class="phone">(331) 4567 7890</li>
		</ul>
	</p>

	<p documentBlock="true" class="section summary">
		<h2>A</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list_16">
			<li class="name">Prénom Nom</li>
			<li class="addressLine1">Numéro nom de rue</li>
			<li class="addressLine2">Code postal Ville Pays</li>
			<li class="email">email@exemple.com</li>
			<li class="phone">(331) 4567 7890</li>
		</ul>
	</p>
		
	<p documentBlock="true"  class="section">
		<p>Madame, Monsieur,</p>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		-->
		<p>Cordialement</p>
		<p>Prénom Nom</p>
	</p>
	
</p>
</body>
</html>
