<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Numéro et nom de la rue</span></p>
<p><span style="font-weight:bold;">Code postal Ville</span></p>
<p><span style="font-weight:bold;">15/02/2012</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Philippe Babineaux</span></p>
<p><span style="font-weight:bold;">Président-directeur général </span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">Numéro et nom de la rue</span></p>
<p><span style="font-weight:bold;">Code postal Ville</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Cher monsieur Babineaux,</p>
<p><br class="hideInIE"></p>
<p>Permettez-moi de vous présenter dans ce courrier le dernier outil de productivité d'IBM, HCL Docs.</p>
<p><br class="hideInIE"></p>
<p>HCL Docs est un éditeur Web qui permet de créer, partager et développer à plusieurs des documents, des feuilles de calcul et des présentations. La création des documents est rationalisée, car vous pouvez les co-éditer avec vos collègues, les commenter et en discuter en contexte, ou encore attribuer des sections à des membres de l'équipe.</p>
<p><br class="hideInIE"></p>
<p>N'hésitez pas à me contacter si vous souhaitez plus d'informations.</p>
<p><br class="hideInIE"></p>
<p>Cordialement</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Directeur commercial</span></p>
<p><br class="hideInIE"></p>
<p>Pièces jointes</p>
</body>
</html>
