

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Références</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >Nom de famille, Prénom, (AAAA). Nom de la source. Editeur, début - fin.</li>
			<li documentBlock="true" >Nom de famille, Prénom, (AAAA). Nom de la source. Editeur, début - fin.</li>
			<li documentBlock="true" >Nom de famille, Prénom, (AAAA). Nom de la source. Editeur, début - fin.</li>
			<li documentBlock="true" >Nom de famille, Prénom, (AAAA). Nom de la source. Editeur, début - fin.</li>
			<li documentBlock="true" >Nom de famille, Prénom, (AAAA). Nom de la source. Editeur, début - fin.</li>
			<li documentBlock="true" >Nom de famille, Prénom, (AAAA). Nom de la source. Editeur, début - fin.</li>
			<li documentBlock="true" >Nom de famille, Prénom, (AAAA). Nom de la source. Editeur, début - fin.</li>
			<li documentBlock="true" >Nom de famille, Prénom, (AAAA). Nom de la source. Editeur, début - fin.</li>
			<li documentBlock="true" >Nom de famille, Prénom, (AAAA). Nom de la source. Editeur, début - fin.</li>
			<li documentBlock="true" >Nom de famille, Prénom, (AAAA). Nom de la source. Editeur, début - fin.</li>
		</ul>
	</div>

</div>
<p></p>
