
<table cellspacing="0px" style="table-layout: fixed; border-collapse: collapse; width: 100%;"><tbody><tr>
	<td style="width: 100%; padding-top: 1.0583cm; padding-bottom:0.2646cm; border-bottom: 3pt solid #9E9E9E;">
		<p><span style="font-weight:bold;font-size: 13.5pt;letter-spacing: 0.0529cm;color: #e1350d;">PRENOM NOM DE FAMILLE</span></p>
		<p style="font-size: 8.25pt;color: #555;letter-spacing: 0.0529cm;"><br class="hideInIE"></p>
		<p>
			<span style="font-size: 8.25pt;color: #555;letter-spacing: 0.0529cm;">NUMERO NOM DE RUE&nbsp;&nbsp;&nbsp;CODE POSTAL VILLE&nbsp;&nbsp;&nbsp;EMAIL@EXEMPLE.COM&nbsp;&nbsp;&nbsp;(331) 4567 7890</span>
		</p>
	</td>
</tr></tbody></table>
<p></p>
