

<p class="page" id="researchpaper">


	<p restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Bibliografia</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" ><span class="author">Nazwisko, Imię</span> <span class="date">(RRRR).</span> 
<span class="source">Nazwa źródła. </span> <span class="publisher">Nazwa wydawcy,</span>
<span class="range">początek - koniec.</span></li>
			<li documentBlock="true" ><span class="author">Nazwisko, Imię</span> <span class="date">(RRRR).</span> 
<span class="source">Nazwa źródła. </span> <span class="publisher">Nazwa wydawcy,</span>
<span class="range">początek - koniec.</span></li>
			<li documentBlock="true" ><span class="author">Nazwisko, Imię</span> <span class="date">(RRRR).</span> 
<span class="source">Nazwa źródła. </span> <span class="publisher">Nazwa wydawcy,</span>
<span class="range">początek - koniec.</span></li>
			<li documentBlock="true" ><span class="author">Nazwisko, Imię</span> <span class="date">(RRRR).</span> 
<span class="source">Nazwa źródła. </span> <span class="publisher">Nazwa wydawcy,</span>
<span class="range">początek - koniec.</span></li>
			<li documentBlock="true" ><span class="author">Nazwisko, Imię</span> <span class="date">(RRRR).</span> 
<span class="source">Nazwa źródła. </span> <span class="publisher">Nazwa wydawcy,</span>
<span class="range">początek - koniec.</span></li>
			<li documentBlock="true" ><span class="author">Nazwisko, Imię</span> <span class="date">(RRRR).</span> 
<span class="source">Nazwa źródła. </span> <span class="publisher">Nazwa wydawcy,</span>
<span class="range">początek - koniec.</span></li>
			<li documentBlock="true" ><span class="author">Nazwisko, Imię</span> <span class="date">(RRRR).</span> 
<span class="source">Nazwa źródła. </span> <span class="publisher">Nazwa wydawcy,</span>
<span class="range">początek - koniec.</span></li>
			<li documentBlock="true" ><span class="author">Nazwisko, Imię</span> <span class="date">(RRRR).</span> 
<span class="source">Nazwa źródła. </span> <span class="publisher">Nazwa wydawcy,</span>
<span class="range">początek - koniec.</span></li>
			<li documentBlock="true" ><span class="author">Nazwisko, Imię</span> <span class="date">(RRRR).</span> 
<span class="source">Nazwa źródła. </span> <span class="publisher">Nazwa wydawcy,</span>
<span class="range">początek - koniec.</span></li>
			<li documentBlock="true" ><span class="author">Nazwisko, Imię</span> <span class="date">(RRRR).</span> 
<span class="source">Nazwa źródła. </span> <span class="publisher">Nazwa wydawcy,</span>
<span class="range">początek - koniec.</span></li>
		</ul>
	</p>

</p>
<p></p>
