<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Gadenavn</span></p>
<p><span style="font-weight:bold;">Postnummer, by </span></p>
<p><span style="font-weight:bold;">2012/02/15</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Phillipe Babineaux</span></p>
<p><span style="font-weight:bold;">Direktør</span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">Gadenavn</span></p>
<p><span style="font-weight:bold;">Postnummer, by </span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p></p>
<p><br class="hideInIE"></p>
<p>Jeg er glad for at kunne præsentere dig for IBM's sidste nye produktivitetsværktøjer, HCL Docs, via denne e-mail.</p>
<p><br class="hideInIE"></p>
<p>HCL Docs er et webbaseret redigeringsprogram til oprettelse, deling og samarbejdsbaseret redigering af dokumenter, regneark og præsentationer. Det er en bedre måde at udarbejde dokumenter på, fordi du kan redigere dokumenterne sammen med kolleger, du kan kommentere og diskutere tekst i kontekst, og du kan tildele teammedlemmer bestemte sektioner.</p>
<p><br class="hideInIE"></p>
<p>Du er meget velkommen til at kontakte mig, hvis du har brug for flere oplysninger.</p>
<p><br class="hideInIE"></p>
<p>Med venlig hilsen</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Salgschef</span></p>
<p><br class="hideInIE"></p>
<p>Bilag</p>
</body>
</html>
