<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>ใบกำกับสินค้า</title>
</head>
<body  class="concord_Doc_Style_7">

<p class="page" id="invoice">

	<p documentBlock="true" restyle="false"  concordTemplateComponent="letterhead" class="letterhead">
		<p>โปรดชำระเงินให้กับ</p>
		<h1>ชื่อบริษัท</h1>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li class="addressLine1">1234 ชื่อถนน</li>
			<li class="addressLine2">เมือง, รัฐ 12345</li>
			<li class="email">email@example.com</li>
			<li class="phone">(123) 456-7890</li>
		</ul>
		<hr></hr>
	</p>

	<p documentBlock="true"  class="section summary">
		<h2>ข้อมูลใบกำกับสินค้า</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li>เลขที่ใบกำกับสินค้า</li>
			<li class="date">วันที่ใบกำกับสินค้า</li>
			<li class="date">วันที่ครบกำหนด</li>
		</ul>
	</p>

	<p documentBlock="true"  class="section">
		<h2>ส่งใบแจ้งหนี้ถึง</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list_16">
			<li class="name">ชื่อ นามสกุล</li>
			<li class="addressLine1">1234 ชื่อถนน</li>
			<li class="addressLine2">เมือง, รัฐ 12345</li>
			<li class="email">email@example.com</li>
			<li class="phone">(123) 456-7890</li>
		</ul>
	</p>
	
	<p documentBlock="true"  class="section">
		<h2>รายละเอียด</h2>
		<table documentBlock="true" restyle="true" class="smartTable STStyle3" concordTemplateComponent="smartTable">
			<tr class="tableHeaderRow">
				<th>วันที่</th>
				<th>รายการ</th>
				<th>คำอธิบาย</th>
				<th>จำนวน</th>
			</tr>
			<tr>
				<td>MM/DD/YYYY</td>
				<td>งาน</td>
		<!--
				<td>Dignissim definiebas intellegebat eu qui, laoreet impedit</td>
		-->
				<td>$50.00</td>
			</tr>
			<tr class="alternateRow">
				<td>MM/DD/YYYY</td>
				<td>งาน</td>
		<!--
				<td>Sit ne sint aliquip nusquam, ut oblique salutandi sea, no erat </td>
		-->
				<td>$50.00</td>
			</tr>
			<tr>
				<td colspan="3">ทั้งหมด</td>
				<td>$0.00</td>
			</tr>
		</table>
	</p>
		
	<p documentBlock="true" class="section conclusion">
		<h2>วันครบกำหนดการชำระเงิน</h2>
		<ul>
			<li>รวมใบแจ้งหนี้: $0.00</li>
			<li>การชำระเงิน/เครดิต: $0.00</li>
			<li>ชำระยอดที่เหลือ: $0.00</li>
		</ul>
	</p>
	
</p>
</body>
</html>
