<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>ใบปะหน้าแฟกซ์</title>
</head>
<body  class="concord_Doc_Style_4">

<p class="page" id="fax">

	<p documentBlock="true" restyle="false" concordTemplateComponent="letterhead" class="letterhead">
		<h1>ใบปะหน้าแฟกซ์</h1>
		<!-- hr/-->
	</p>
	
	<p documentBlock="true"  class="section">
		<h2>จาก</h2>
		<ul>
			<li class="author">ชื่อ นามสกุล</li>
			<li class="date">MM/DD/YYYY</li>
			<li class="email">email@example.com</li>
			<li class="phone">(123) 456-789</li>
		</ul>
	</p>

	<p documentBlock="true" class="section">
		<h2>ถึง</h2>
		<ul>
			<li class="author">ชื่อ นามสกุล</li>
			<li class="date">MM/DD/YYYY</li>
			<li class="email">email@example.com</li>
			<li class="phone">(123) 456-789</li>
		</ul>
	</p>

	<p documentBlock="true" class="section">
		<h2>เนื้อหา</h2>
		<ul>
			<li>เอกสาร 1</li>
			<li>เอกสาร 2</li>
		</ul>
	</p>

	<p documentBlock="true"  class="section">
		<h2>วิธีใช้พิเศษ</h2>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>		
		-->
	</p>
	
</p>

</body>
</html>
