<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>จดหมายข่าว</title>
</head>
<body  class="concord_Doc_Style_10">

<p class="page" id="newsletter">

	<p documentBlock="true" restyle="false" concordTemplateComponent="letterhead" class="letterhead">
		<h1>หัวข้อจดหมายข่าวหรือการประกาศ</h1>
		<ul>
			<li class="business">ชื่อบริษัท</li>
			<li class="addressLine1">1234 ชื่อถนน</li>
			<li class="addressLine2">เมือง, รัฐ 12345</li>
			<li class="email">email@example.com</li>
			<li class="phone">(123) 456-7890</li>
		</ul>
		<hr></hr>
	</p>

	<p documentBlock="true"  class="section summary">
		<h2>ข่าวสั้น</h2>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>		
		-->
	</p>

	<p documentBlock="true" class="section">
		<h2>หัวข้อ 1</h2>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>		
		-->
	</p>

	<p documentBlock="true" class="section">
		<h2>หัวข้อ 2</h2>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>		
		-->
	</p>
	
	<p documentBlock="true" class="section reference">
		<h2>สำหรับข้อมูลเพิ่มเติม</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li><a href="#">ลิงก์ 1</a></li>
			<li><a href="#">ลิงก์ 2</a></li>
			<li><a href="#">ลิงก์ 3</a></li>						
		</ul>
	</p>
	
</p>
</body>
</html>
