<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>ประวัติย่อ</title>
</head>
<body  class="concord_Doc_Style_11">

<p class="page" id="resume">

	<p documentBlock="true" restyle="false" concordTemplateComponent="letterhead" class="letterhead">
		<h1>ชื่อ นามสกุล</h1>
		<ul>
			<li class="addressLine1">ที่อยู่ 1234 ถนน</li>
			<li class="addressLine2">เมือง, รัฐ 12345</li>
			<li class="email">email@example.com</li>
			<li class="phone">(123) 456-7890</li>
		</ul>		
	</p>

	<p documentBlock="true" class="section summary">
		<h2>วัตถุประสงค์</h2>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		-->
	</p>
		
	<p documentBlock="true" class="section">
		<h2>การศึกษา</h2>
		<p documentBlock="true"  class="subsection">
			<h3>ชื่อโรงเรียน&nbsp; &nbsp;&nbsp; &nbsp; เมือง, รัฐ</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<li>ระดับการศึกษา <!--Lorem ipsum dolor--> &nbsp;&nbsp;&nbsp;&nbsp;2006-2008</li>
			</ul>
		</p>
		<p documentBlock="true"  class="subsection">	
			<h3>ชื่อมหาวิทยาลัย&nbsp; &nbsp;&nbsp; &nbsp; เมือง, รัฐ</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<li>ระดับการศึกษา &nbsp;&nbsp;&nbsp;&nbsp;2002-2006</li>
			</ul>
		</p>
	</p>
	
	<p documentBlock="true"  class="section">
		<h2>ประสบการณ์</h2>
		<p documentBlock="true"  class="subsection">
			<h3>ชื่อบริษัท &nbsp;&nbsp;&nbsp;&nbsp; เมือง, รัฐ</h3>
			<h4>ผู้จัดการบัญชี  &nbsp;&nbsp;&nbsp;&nbsp;2008-ปัจจุบัน</h4>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt.</li>
				-->
			</ul>
		</p>
		<p documentBlock="true"  class="subsection">	
			<h3>ชื่อองค์กร&nbsp;&nbsp;&nbsp;&nbsp; เมือง, รัฐ</h3>
			<h4>ผู้ช่วยการบัญชี &nbsp;&nbsp;&nbsp;&nbsp;2006-2008</h4>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Nunc at tellus et est fermentum vehicula. Cras tristique, dolor id viverra varius, sem mi egestas mauris, quis molestie odio ipsum a urna.</li>
				-->
			</ul>
		</p>
		<p documentBlock="true"  class="subsection">	
			<h3>ชื่อธุรกิจ&nbsp;&nbsp;&nbsp;&nbsp; เมือง, รัฐ</h3>
			<h4>พนักงานฝึกหัดทางการตลาด &nbsp;&nbsp;&nbsp;&nbsp;2005-2006</h4>
			<ul>
				<!--
				<li>Donec hendrerit ultricies ipsum in bibendum. Aliquam aliquet, diam quis adipiscing semper, arcu nisi viverra nulla, ac vehicula ligula nibh.</li>
				-->
			</ul>
		</p>
	</p>
	
	<p documentBlock="true"  class="section conclusion">
		<h2>ทักษะ &amp; ใบรับรอง</h2>
		<p documentBlock="true"  class="subsection">
			<h3>หมวดหมู่ 1</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Lorem ipsum dolor sit amet</li>
				<li>Consectetur adipiscing elit</li>
				<li>Suspendisse facilisis ac mi porttitor</li>
				-->
			</ul>
			<h3>หมวดหมู่ 2</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Nam faucibus nisi vel velit porta viverra</li>
				<li>Sed in augue id massa pulvinar scelerisque</li>
				-->
			</ul>
		</p>
	</p>
	
	<p documentBlock="true"  class="section references" concordTemplateComponent="references" >
		<h2>การอ้างอิง</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li>ชื่อ นามสกุล ความสัมพันธ์ &nbsp;&nbsp;&nbsp;&nbsp;(123) 456-7890</li>
			<li>ชื่อ นามสกุล ความสัมพันธ์ &nbsp;&nbsp;&nbsp;&nbsp;(123) 456-7890</li>			
		</ul>
	</p>
	
</p>
</body>
</html>
