

<p class="page" id="researchpaper">


	<p restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>การอ้างอิง</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" ><span class="author">นามสกุล ชื่อ</span> <span class="date">(YYYY).</span> <span class="source">ชื่อที่มา</span> <span class="publisher">ชื่อผู้ตีพิมพ์</span> <span class="range">เริ่ม - สิ้นสุด</span></li>
			<li documentBlock="true" ><span class="author">นามสกุล ชื่อ</span> <span class="date">(YYYY).</span> <span class="source">ชื่อที่มา</span> <span class="publisher">ชื่อผู้ตีพิมพ์</span> <span class="range">เริ่ม - สิ้นสุด</span></li>
			<li documentBlock="true" ><span class="author">นามสกุล ชื่อ</span> <span class="date">(YYYY).</span> <span class="source">ชื่อที่มา</span> <span class="publisher">ชื่อผู้ตีพิมพ์</span> <span class="range">เริ่ม - สิ้นสุด</span></li>
			<li documentBlock="true" ><span class="author">นามสกุล ชื่อ</span> <span class="date">(YYYY).</span> <span class="source">ชื่อที่มา</span> <span class="publisher">ชื่อผู้ตีพิมพ์</span> <span class="range">เริ่ม - สิ้นสุด</span></li>
			<li documentBlock="true" ><span class="author">นามสกุล ชื่อ</span> <span class="date">(YYYY).</span> <span class="source">ชื่อที่มา</span> <span class="publisher">ชื่อผู้ตีพิมพ์</span> <span class="range">เริ่ม - สิ้นสุด</span></li>
			<li documentBlock="true" ><span class="author">นามสกุล ชื่อ</span> <span class="date">(YYYY).</span> <span class="source">ชื่อที่มา</span> <span class="publisher">ชื่อผู้ตีพิมพ์</span> <span class="range">เริ่ม - สิ้นสุด</span></li>
			<li documentBlock="true" ><span class="author">นามสกุล ชื่อ</span> <span class="date">(YYYY).</span> <span class="source">ชื่อที่มา</span> <span class="publisher">ชื่อผู้ตีพิมพ์</span> <span class="range">เริ่ม - สิ้นสุด</span></li>
			<li documentBlock="true" ><span class="author">นามสกุล ชื่อ</span> <span class="date">(YYYY).</span> <span class="source">ชื่อที่มา</span> <span class="publisher">ชื่อผู้ตีพิมพ์</span> <span class="range">เริ่ม - สิ้นสุด</span></li>
			<li documentBlock="true" ><span class="author">นามสกุล ชื่อ</span> <span class="date">(YYYY).</span> <span class="source">ชื่อที่มา</span> <span class="publisher">ชื่อผู้ตีพิมพ์</span> <span class="range">เริ่ม - สิ้นสุด</span></li>
			<li documentBlock="true" ><span class="author">นามสกุล ชื่อ</span> <span class="date">(YYYY).</span> <span class="source">ชื่อที่มา</span> <span class="publisher">ชื่อผู้ตีพิมพ์</span> <span class="range">เริ่ม - สิ้นสุด</span></li>
		</ul>
	</p>

</p>
<p></p>
