<div class="cellBorder">
	<div class="cellBorderRange" data-dojo-attach-point="range">
		<div data-dojo-attach-point="rangePanel" data-dojo-type="writer/ui/widget/CellBorderRange"></div>
	</div>
	<div class="cellBorderSep"></div>
	<div class="cellBorderDetails" data-dojo-attach-point="details">
		<div title="${nls.border_width}" data-dojo-attach-point="widthPicker" data-dojo-type="writer/ui/widget/CellBorderWidth"></div>
		<div title="${nls.border_type}" data-dojo-attach-point="typePicker" data-dojo-type="writer/ui/widget/CellBorderType"></div>
		<div title="${nls.border_color}" data-dojo-attach-point="colorBtn" data-dojo-type="writer/ui/widget/CellBorderColor"></div>
	</div>
</div>