<div class="dijitInline dijitColorPalette" data-dojo-attach-point="containerNode">
	<table class="dijitPaletteTable" cellspacing="0" cellpadding="0">
		<thead><tr><td colspan="10" tabindex="0" align="center" title="${0}" data-dojo-attach-point="autoNode" data-dojo-attach-event="onclick:onAutoClick">${0}</td></tr></thead>
		<tbody data-dojo-attach-point="gridNode"></tbody>
		<tfoot><tr><td colspan="10" tabindex="0" align="center" title="${2}" data-dojo-attach-point="moreNode" data-dojo-attach-event="onclick:onMoreClick">${1}</td></tr></tfoot>
	</table>
</div>