<div class='columnsSidePane' role='region'>
    <div class='commonSidePaneText columnsWarningText' data-dojo-attach-point='columnsText' style='display:none'>${nls.paneCannotWork}</div>
    <div class='commonSidePaneContent' data-dojo-attach-point='columnsContent'>
    <div class='commonSidePaneSubTitle' data-dojo-attach-point='columnsSubTitle'></div>
    <div class='columnsList' data-dojo-attach-point='columnsList'>
        <a href='javascript:void(0)' class='columnWrapper' data-dojo-attach-point='column1Wrapper' title='${nls.single}'><div class='column1 column' data-dojo-attach-point='column1'>${nls.single}</div></a>
        <a href='javascript:void(0)' class='columnWrapper' data-dojo-attach-point='column2Wrapper' title='${nls.two}'><div class='column2 column' data-dojo-attach-point='column2'>${nls.two}</div></a>
        <a href='javascript:void(0)' class='columnWrapper' data-dojo-attach-point='column3Wrapper' title='${nls.three}'><div class='column3 column' data-dojo-attach-point='column3'>${nls.three}</div></a>
    </div>
    <div class='columnsLine'>
        <input type='checkbox' name='${id}_line' id='${id}_line' style='vertical-align:middle' data-dojo-attach-point='lineCheck'></input>
        <label for='${id}_line'>${nls.lineBetween}</label>
    </div>
    </div>
</div>