<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Adres</span></p>
<p><span style="font-weight:bold;">Postcode, Plaats</span></p>
<p><span style="font-weight:bold;">15/02/2012</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Phillipe Babineaux</span></p>
<p><span style="font-weight:bold;">Chief Executive Officer</span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">Adres</span></p>
<p><span style="font-weight:bold;">Postcode, Plaats</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Geachte heer Babineaux,</p>
<p><br class="hideInIE"></p>
<p>Graag introduceeer ik via deze e-mail de meest recente productiviteitstool HCL Docs. </p>
<p><br class="hideInIE"></p>
<p>HCL Docs is een webeditor voor het maken, delen en gezamenlijk ontwerpen van documenten, spreadsheets en presentaties. Het is een betere methode voor het maken van documenten, want u kunt deze samen met collega's bewerken, van commentaar voorzien en in context bespreken, en secties toewijzen aan teamleden.</p>
<p><br class="hideInIE"></p>
<p>Neem gerust contact met mij op als u meer informatie nodig hebt.</p>
<p><br class="hideInIE"></p>
<p>Met vriendelijke groet,</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Senior Sales Manager</span></p>
<p><br class="hideInIE"></p>
<p>Bijlagen</p>
</body>
</html>
