

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Referenties</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >Voornaam, Achternaam (JJJJ). Bron. Uitgever, begin - einde.</li>
			<li documentBlock="true" >Voornaam, Achternaam (JJJJ). Bron. Uitgever, begin - einde.</li>
			<li documentBlock="true" >Voornaam, Achternaam (JJJJ). Bron. Uitgever, begin - einde.</li>
			<li documentBlock="true" >Voornaam, Achternaam (JJJJ). Bron. Uitgever, begin - einde.</li>
			<li documentBlock="true" >Voornaam, Achternaam (JJJJ). Bron. Uitgever, begin - einde.</li>
			<li documentBlock="true" >Voornaam, Achternaam (JJJJ). Bron. Uitgever, begin - einde.</li>
			<li documentBlock="true" >Voornaam, Achternaam (JJJJ). Bron. Uitgever, begin - einde.</li>
			<li documentBlock="true" >Voornaam, Achternaam (JJJJ). Bron. Uitgever, begin - einde.</li>
			<li documentBlock="true" >Voornaam, Achternaam (JJJJ). Bron. Uitgever, begin - einde.</li>
			<li documentBlock="true" >Voornaam, Achternaam (JJJJ). Bron. Uitgever, begin - einde.</li>
		</ul>
	</div>

</div>
<p></p>
