    <div class="lotusChunk">
            <div class="row1">
                <label class="lotusHeading lotusLeft">${nls.bidi_dir}</label> 
                <div class="lotusRight" dojoType='concord.chart.widget.DropDownButton' dojoAttachPoint="bidi_gui_dir">
            </div>
            <div class="row2 lotusChunk">
                <label class="lotusHeading lotusLeft">${nls.bidi_text_dir}</label> 
                <div class="lotusRight" dojoType='concord.chart.widget.DropDownButton' dojoAttachPoint="bidi_text_dir">
            </div>
    </div>