<div class="lotusForm2 lotusSection2 lotusSectionBody lotusSubsection">
	<div class="lotusChunk" dojoAttachPoint="series_list">
        	<label class="lotusLeft lotusHeading">${nls.series}</label>
        	<div class="lotusRight" dojoType='concord.chart.widget.DropDownButton' value="${nls.selectSeries}" title="${nls.selectSeries}" dojoAttachPoint="series_list_btn"></div>
    </div>
	<div>
	    <div class="lotusChunk" dojoAttachPoint = "nameDiv">
	        <label>${nls.label}</label>
	        <input class="lotusText inputBorder" style="width:95%" dojoAttachPoint="label">
	    </div><!--end lotusChunk-->
	   
	    <div class="lotusChunk" dojoAttachPoint = "xValDiv">
	        <label class="">${nls.xVal}</label>
	        <input class="lotusText inputBorder" style="width:95%" dojoAttachPoint="xVal">
	    </div><!--end lotusChunk-->
	   
	    <div class="lotusChunk">
	        <label class="" dojoAttachPoint="valLabel">${nls.val}</label>
	        <input class="lotusText inputBorder" style="width:95%" dojoAttachPoint="yVal">
	    </div><!--end lotusChunk-->
	    
	    <div class="lotusChunk" dojoAttachPoint = "catDiv">
	        <label class="">${nls.cat}</label>
	        <input class="lotusText inputBorder" style="width:95%" dojoAttachPoint="cat">
	    </div><!--end lotusChunk-->
	</div><!--end lotusSubsection-->   
</div>