<div>
	<div dojoType='concord.chart.widget.FontSizeDropDownButton' value="${nls.selectFontSize}" title="${nls.selectFontSize}" style='margin:0px' dojoAttachPoint="size"></div>
	<div dojoType='dijit.form.ToggleButton' value="${nls.setBold}" title="${nls.setBold}" style='margin:0px' dojoAttachPoint="bold">${nls.setBold}</div>
	<div dojoType='dijit.form.ToggleButton' value="${nls.setItalic}" title="${nls.setItalic}" style='margin:0px;font-style:italic' dojoAttachPoint="italic">${nls.setItalic}</div>
	<div dojoType='concord.chart.widget.ColorPickerDropDownButton' value="${nls.setFontColor}" title="${nls.setFontColor}" dojoAttachPoint="color"></div>
</div>