<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">州/省，市/县</span></p>
<p><span style="font-weight:bold;">街道地址，邮政编码</span></p>
<p><span style="font-weight:bold;">2012/02/15</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Phillipe Babineaux</span></p>
<p><span style="font-weight:bold;">首席执行官</span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">州/省，市/县</span></p>
<p><span style="font-weight:bold;">街道地址，邮政编码</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>尊敬的 Babineaux 先生：</p>
<p><br class="hideInIE"></p>
<p>我很荣幸通过这封电子邮件，向您介绍最新的生产力工具 HCL Docs。</p>
<p><br class="hideInIE"></p>
<p>HCL Docs 是一种基于 Web 的编辑器，用于创建、共享和共同创作文档、电子表格和演示文稿。它是创建文档的理想方式，因为您可以与同事一起进行编辑，根据上下文提出意见并进行评论，以及向团队成员分配要编辑的各个部分。</p>
<p><br class="hideInIE"></p>
<p>如果您需要了解更多信息，请随时与我联系。</p>
<p><br class="hideInIE"></p>
<p>此致</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">高级销售经理</span></p>
<p><br class="hideInIE"></p>
<p>附件</p>
</body>
</html>
