<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>说明信函</title>
</head>
<body class="concord_Doc_Style_11">

<p class="page" id="coverletter">

	<p documentBlock="true" restyle="false"  concordTemplateComponent="letterhead" class="letterhead">
		<h1>姓名</h1>
		<ul>
			<li class="addressLine1">省/自治区/直辖市，市/县/区</li>
			<li class="addressLine2">街道地址 12345</li>
			<li class="email">email@example.com</li>
			<li class="phone">(123) 456-7890</li>
		</ul>
	</p>

	<p documentBlock="true" class="section summary">
		<h2>收件人</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list_16">
			<li class="name">姓名</li>
			<li class="addressLine1">省/自治区/直辖市，市/县/区</li>
			<li class="addressLine2">街道地址 12345</li>
			<li class="email">email@example.com</li>
			<li class="phone">(123) 456-7890</li>
		</ul>
	</p>
		
	<p documentBlock="true"  class="section">
		<p>尊敬的（姓名）：</p>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		-->
		<p>此致</p>
		<p>姓名</p>
	</p>
	
</p>
</body>
</html>
