

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>参考资料</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >姓名 (YYYY)。来源名称。发布者姓名，开始 - 结束。</li>
			<li documentBlock="true" >姓名 (YYYY)。来源名称。发布者姓名，开始 - 结束。</li>
			<li documentBlock="true" >姓名 (YYYY)。来源名称。发布者姓名，开始 - 结束。</li>
			<li documentBlock="true" >姓名 (YYYY)。来源名称。发布者姓名，开始 - 结束。</li>
			<li documentBlock="true" >姓名 (YYYY)。来源名称。发布者姓名，开始 - 结束。</li>
			<li documentBlock="true" >姓名 (YYYY)。来源名称。发布者姓名，开始 - 结束。</li>
			<li documentBlock="true" >姓名 (YYYY)。来源名称。发布者姓名，开始 - 结束。</li>
			<li documentBlock="true" >姓名 (YYYY)。来源名称。发布者姓名，开始 - 结束。</li>
			<li documentBlock="true" >姓名 (YYYY)。来源名称。发布者姓名，开始 - 结束。</li>
			<li documentBlock="true" >姓名 (YYYY)。来源名称。发布者姓名，开始 - 结束。</li>
		</ul>
	</div>

</div>
<p></p>
