<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Адрес на улица</span></p>
<p><span style="font-weight:bold;">Град, щат, ПК</span></p>
<p><span style="font-weight:bold;">2012/02/15</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Phillipe Babineaux</span></p>
<p><span style="font-weight:bold;">Главен изпълнителен директор</span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">Адрес на улица</span></p>
<p><span style="font-weight:bold;">Град, щат, ПК</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Уважаеми г-н Babineaux,</p>
<p><br class="hideInIE"></p>
<p>за мен е чест с това писмо да Ви представя най-актуалния инструмент за продуктивност на HCL Docs.</p>
<p><br class="hideInIE"></p>
<p>HCL Docs е уеб базиран редактор за създаване, споделяне и съвместно авторство на документи, електронни таблици и презентации. Той е по-добър начин за създаване на документи, тъй като можете да ги редактирате съвместно с колеги, да ги коментирате и обсъждате по отношение на контекста и да приписвате раздели към членове на екипа.</p>
<p><br class="hideInIE"></p>
<p>Моля, не се притеснявайте да се свържете с мен, ако се нуждаете от повече информация.</p>
<p><br class="hideInIE"></p>
<p>Искрено Вас,</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Старши мениджър продажби</span></p>
<p><br class="hideInIE"></p>
<p>Приложения</p>
</body>
</html>
