<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Τιμολόγιο</title>
</head>
<body  class="concord_Doc_Style_7">

<p class="page" id="invoice">

	<p documentBlock="true" restyle="false"  concordTemplateComponent="letterhead" class="letterhead">
		<p>Εξόφληση τιμολογίου σε:</p>
		<h1>Επωνυμία εταιρείας</h1>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li class="addressLine1">Όνομα οδού 123</li>
			<li class="addressLine2">Τ.Κ. 123 45, Πόλη</li>
			<li class="email">email@example.com</li>
			<li class="phone">210 4445440</li>
		</ul>
		<hr></hr>
	</p>

	<p documentBlock="true"  class="section summary">
		<h2>Πληροφορίες τιμολογίου</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li>Αριθμός τιμολογίου</li>
			<li class="date">Ημερομηνία τιμολογίου</li>
			<li class="date">Προθεσμία εξόφλησης</li>
		</ul>
	</p>

	<p documentBlock="true"  class="section">
		<h2>Χρέωση σε:</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list_16">
			<li class="name">Όνομα Επώνυμο</li>
			<li class="addressLine1">Όνομα οδού 123</li>
			<li class="addressLine2">Τ.Κ. 123 45, Πόλη</li>
			<li class="email">email@example.com</li>
			<li class="phone">210 7755777</li>
		</ul>
	</p>
	
	<p documentBlock="true"  class="section">
		<h2>Λεπτομέρειες</h2>
		<table documentBlock="true" restyle="true" class="smartTable STStyle3" concordTemplateComponent="smartTable">
			<tr class="tableHeaderRow">
				<th>Ημερομηνία</th>
				<th>Είδος</th>
				<th>Περιγραφή</th>
				<th>Ποσό</th>
			</tr>
			<tr>
				<td>ΗΗ/ΜΜ/ΕΕΕΕ</td>
				<td>Εργασία</td>
		<!--
				<td>Dignissim definiebas intellegebat eu qui, laoreet impedit</td>
		-->
				<td>&euro;50,00</td>
			</tr>
			<tr class="alternateRow">
				<td>ΗΗ/ΜΜ/ΕΕΕΕ</td>
				<td>Εργασία</td>
		<!--
				<td>Sit ne sint aliquip nusquam, ut oblique salutandi sea, no erat </td>
		-->
				<td>&euro;50,00</td>
			</tr>
			<tr>
				<td colspan="3">Σύνολο</td>
				<td>&euro;0,00</td>
			</tr>
		</table>
	</p>
		
	<p documentBlock="true" class="section conclusion">
		<h2>Ημερομηνία εξόφλησης:</h2>
		<ul>
			<li>Σύνολο τιμολογίου: &euro;0,00</li>
			<li>Προκαταβολές/Πιστώσεις: &euro;0,00</li>
			<li>Οφειλόμενο ποσό: &euro;0,00</li>
		</ul>
	</p>
	
</p>
</body>
</html>
