<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Συνοδευτική επιστολή</title>
</head>
<body class="concord_Doc_Style_11">

<p class="page" id="coverletter">

	<p documentBlock="true" restyle="false"  concordTemplateComponent="letterhead" class="letterhead">
		<h1>Όνομα Επώνυμο</h1>
		<ul>
			<li class="addressLine1">Όνομα οδού 123</li>
			<li class="addressLine2">Τ.Κ. 123 45, Πόλη</li>
			<li class="email">email@example.com</li>
			<li class="phone">210 2525255</li>
		</ul>
	</p>

	<p documentBlock="true" class="section summary">
		<h2>Προς:</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list_16">
			<li class="name">Όνομα Επώνυμο</li>
			<li class="addressLine1">Όνομα οδού 123</li>
			<li class="addressLine2">Τ.Κ. 123 45, Πόλη</li>
			<li class="email">email@example.com</li>
			<li class="phone">210 3535350</li>
		</ul>
	</p>
		
	<p documentBlock="true"  class="section">
		<p>Αγαπητές κ./Αγαπητή κα Επώνυμο</p>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		-->
		<p>Με εκτίμηση,</p>
		<p>Όνομα Επώνυμο</p>
	</p>
	
</p>
</body>
</html>
