<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Αρχική σελίδα φαξ</title>
</head>
<body  class="concord_Doc_Style_4">

<p class="page" id="fax">

	<p documentBlock="true" restyle="false" concordTemplateComponent="letterhead" class="letterhead">
		<h1>Αρχική σελίδα φαξ</h1>
		<!-- hr/-->
	</p>
	
	<p documentBlock="true"  class="section">
		<h2>Από:</h2>
		<ul>
			<li class="author">Όνομα Επώνυμο</li>
			<li class="date">ΗΗ/ΜΜ/ΕΕΕΕ</li>
			<li class="email">email@example.com</li>
			<li class="phone">210 3535350</li>
		</ul>
	</p>

	<p documentBlock="true" class="section">
		<h2>Προς:</h2>
		<ul>
			<li class="author">Όνομα Επώνυμο</li>
			<li class="date">ΗΗ/ΜΜ/ΕΕΕΕ</li>
			<li class="email">email@example.com</li>
			<li class="phone">210 4544540</li>
		</ul>
	</p>

	<p documentBlock="true" class="section">
		<h2>Περιεχόμενα</h2>
		<ul>
			<li>Έγγραφο 1</li>
			<li>Έγγραφο 2</li>
		</ul>
	</p>

	<p documentBlock="true"  class="section">
		<h2>Ειδικές οδηγίες</h2>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>		
		-->
	</p>
	
</p>

</body>
</html>
