

<p class="page" id="researchpaper">


	<p restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Παραπομπές</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" ><span class="author">Επώνυμο, Όνομα</span> <span class="date">(ΕΕΕΕ).</span> <span class="source">Όνομα πηγής.</span> <span class="publisher">Επωνυμία εκδότη,</span> <span class="range">αρχή - τέλος.</span></li>
			<li documentBlock="true" ><span class="author">Επώνυμο, Όνομα</span> <span class="date">(ΕΕΕΕ).</span> <span class="source">Όνομα πηγής.</span> <span class="publisher">Επωνυμία εκδότη,</span> <span class="range">αρχή - τέλος.</span></li>
			<li documentBlock="true" ><span class="author">Επώνυμο, Όνομα</span> <span class="date">(ΕΕΕΕ).</span> <span class="source">Όνομα πηγής.</span> <span class="publisher">Επωνυμία εκδότη,</span> <span class="range">αρχή - τέλος.</span></li>
			<li documentBlock="true" ><span class="author">Επώνυμο, Όνομα</span> <span class="date">(ΕΕΕΕ).</span> <span class="source">Όνομα πηγής.</span> <span class="publisher">Επωνυμία εκδότη,</span> <span class="range">αρχή - τέλος.</span></li>
			<li documentBlock="true" ><span class="author">Επώνυμο, Όνομα</span> <span class="date">(ΕΕΕΕ).</span> <span class="source">Όνομα πηγής.</span> <span class="publisher">Επωνυμία εκδότη,</span> <span class="range">αρχή - τέλος.</span></li>
			<li documentBlock="true" ><span class="author">Επώνυμο, Όνομα</span> <span class="date">(ΕΕΕΕ).</span> <span class="source">Όνομα πηγής.</span> <span class="publisher">Επωνυμία εκδότη,</span> <span class="range">αρχή - τέλος.</span></li>
			<li documentBlock="true" ><span class="author">Επώνυμο, Όνομα</span> <span class="date">(ΕΕΕΕ).</span> <span class="source">Όνομα πηγής.</span> <span class="publisher">Επωνυμία εκδότη,</span> <span class="range">αρχή - τέλος.</span></li>
			<li documentBlock="true" ><span class="author">Επώνυμο, Όνομα</span> <span class="date">(ΕΕΕΕ).</span> <span class="source">Όνομα πηγής.</span> <span class="publisher">Επωνυμία εκδότη,</span> <span class="range">αρχή - τέλος.</span></li>
			<li documentBlock="true" ><span class="author">Επώνυμο, Όνομα</span> <span class="date">(ΕΕΕΕ).</span> <span class="source">Όνομα πηγής.</span> <span class="publisher">Επωνυμία εκδότη,</span> <span class="range">αρχή - τέλος.</span></li>
			<li documentBlock="true" ><span class="author">Επώνυμο, Όνομα</span> <span class="date">(ΕΕΕΕ).</span> <span class="source">Όνομα πηγής.</span> <span class="publisher">Επωνυμία εκδότη,</span> <span class="range">αρχή - τέλος.</span></li>
		</ul>
	</p>

</p>
<p></p>
