

<p class="page" id="researchpaper">


	<p restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>參考文獻</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" ><span class="author">姓名</span> <span class="date">(YYYY)。</span> <span class="source">來源資料名稱。</span> <span class="publisher">出版公司名稱，</span> <span class="range">開始日期 - 結束日期。</span></li>
			<li documentBlock="true" ><span class="author">姓名</span> <span class="date">(YYYY)。</span> <span class="source">來源資料名稱。</span> <span class="publisher">出版公司名稱，</span> <span class="range">開始日期 - 結束日期。</span></li>
			<li documentBlock="true" ><span class="author">姓名</span> <span class="date">(YYYY)。</span> <span class="source">來源資料名稱。</span> <span class="publisher">出版公司名稱，</span> <span class="range">開始日期 - 結束日期。</span></li>
			<li documentBlock="true" ><span class="author">姓名</span> <span class="date">(YYYY)。</span> <span class="source">來源資料名稱。</span> <span class="publisher">出版公司名稱，</span> <span class="range">開始日期 - 結束日期。</span></li>
			<li documentBlock="true" ><span class="author">姓名</span> <span class="date">(YYYY)。</span> <span class="source">來源資料名稱。</span> <span class="publisher">出版公司名稱，</span> <span class="range">開始日期 - 結束日期。</span></li>
			<li documentBlock="true" ><span class="author">姓名</span> <span class="date">(YYYY)。</span> <span class="source">來源資料名稱。</span> <span class="publisher">出版公司名稱，</span> <span class="range">開始日期 - 結束日期。</span></li>
			<li documentBlock="true" ><span class="author">姓名</span> <span class="date">(YYYY)。</span> <span class="source">來源資料名稱。</span> <span class="publisher">出版公司名稱，</span> <span class="range">開始日期 - 結束日期。</span></li>
			<li documentBlock="true" ><span class="author">姓名</span> <span class="date">(YYYY)。</span> <span class="source">來源資料名稱。</span> <span class="publisher">出版公司名稱，</span> <span class="range">開始日期 - 結束日期。</span></li>
			<li documentBlock="true" ><span class="author">姓名</span> <span class="date">(YYYY)。</span> <span class="source">來源資料名稱。</span> <span class="publisher">出版公司名稱，</span> <span class="range">開始日期 - 結束日期。</span></li>
			<li documentBlock="true" ><span class="author">姓名</span> <span class="date">(YYYY)。</span> <span class="source">來源資料名稱。</span> <span class="publisher">出版公司名稱，</span> <span class="range">開始日期 - 結束日期。</span></li>
		</ul>
	</p>

</p>
<p></p>
