<table border="0" padding="0" spacing="0" title="作業" action="create" class="smartTable STStyle17" _moz_resizing="true" concordTemplateComponent="smartTable" restyle="true" >
  <tbody>
    <tr class="tableHeaderRow">
      <th style="width: 150px;">標題</th>
      <th style="width: 150px;">優先順序</th>
      <th style="width: 150px;">到期日</th>
      <th style="width: 150px;">指派給</th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr class="alternateRow">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr class="alternateRow">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
<p></p>
