<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Portada de fax</title>
</head>
<body  class="concord_Doc_Style_4">

<p class="page" id="fax">

	<p documentBlock="true" restyle="false" concordTemplateComponent="letterhead" class="letterhead">
		<h1>Portada de fax</h1>
		<!-- hr/-->
	</p>
	
	<p documentBlock="true"  class="section">
		<h2>De</h2>
		<ul>
			<li class="author">Nombre Apellido</li>
			<li class="date">MM/DD/AAAA</li>
			<li class="email">correoelectrónico@ejemplo.com</li>
			<li class="phone">(123) 456-789</li>
		</ul>
	</p>

	<p documentBlock="true" class="section">
		<h2>A</h2>
		<ul>
			<li class="author">Nombre Apellido</li>
			<li class="date">MM/DD/AAAA</li>
			<li class="email">correoelectrónico@ejemplo.com</li>
			<li class="phone">(123) 456-789</li>
		</ul>
	</p>

	<p documentBlock="true" class="section">
		<h2>Contenido</h2>
		<ul>
			<li>Documento 1</li>
			<li>Documento 2</li>
		</ul>
	</p>

	<p documentBlock="true"  class="section">
		<h2>Instrucciones especiales</h2>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>		
		-->
	</p>
	
</p>

</body>
</html>
