

<p class="page" id="researchpaper">


	<p restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Referencias</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" ><span class="author">Apellido, Nombre</span> <span class="date">(AAAA).</span> <span class="source">Nombre origen.</span> <span class="publisher">Nombre de la aplicación de publicación,</span> <span class="range">inicio - final.</span></li>
			<li documentBlock="true" ><span class="author">Apellido, Nombre</span> <span class="date">(AAAA).</span> <span class="source">Nombre origen.</span> <span class="publisher">Nombre de la aplicación de publicación,</span> <span class="range">inicio - final.</span></li>
			<li documentBlock="true" ><span class="author">Apellido, Nombre</span> <span class="date">(AAAA).</span> <span class="source">Nombre origen.</span> <span class="publisher">Nombre de la aplicación de publicación,</span> <span class="range">inicio - final.</span></li>
			<li documentBlock="true" ><span class="author">Apellido, Nombre</span> <span class="date">(AAAA).</span> <span class="source">Nombre origen.</span> <span class="publisher">Nombre de la aplicación de publicación,</span> <span class="range">inicio - final.</span></li>
			<li documentBlock="true" ><span class="author">Apellido, Nombre</span> <span class="date">(AAAA).</span> <span class="source">Nombre origen.</span> <span class="publisher">Nombre de la aplicación de publicación,</span> <span class="range">inicio - final.</span></li>
			<li documentBlock="true" ><span class="author">Apellido, Nombre</span> <span class="date">(AAAA).</span> <span class="source">Nombre origen.</span> <span class="publisher">Nombre de la aplicación de publicación,</span> <span class="range">inicio - final.</span></li>
			<li documentBlock="true" ><span class="author">Apellido, Nombre</span> <span class="date">(AAAA).</span> <span class="source">Nombre origen.</span> <span class="publisher">Nombre de la aplicación de publicación,</span> <span class="range">inicio - final.</span></li>
			<li documentBlock="true" ><span class="author">Apellido, Nombre</span> <span class="date">(AAAA).</span> <span class="source">Nombre origen.</span> <span class="publisher">Nombre de la aplicación de publicación,</span> <span class="range">inicio - final.</span></li>
			<li documentBlock="true" ><span class="author">Apellido, Nombre</span> <span class="date">(AAAA).</span> <span class="source">Nombre origen.</span> <span class="publisher">Nombre de la aplicación de publicación,</span> <span class="range">inicio - final.</span></li>
			<li documentBlock="true" ><span class="author">Apellido, Nombre</span> <span class="date">(AAAA).</span> <span class="source">Nombre origen.</span> <span class="publisher">Nombre de la aplicación de publicación,</span> <span class="range">inicio - final.</span></li>
		</ul>
	</p>

</p>
<p></p>
