<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">都道府県、市区町村</span></p>
<p><span style="font-weight:bold;">市区町村番地</span></p>
<p><span style="font-weight:bold;">2012/02/15</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Phillipe Babineaux</span></p>
<p><span style="font-weight:bold;">Chief Executive Officer</span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">都道府県、市区町村</span></p>
<p><span style="font-weight:bold;">市区町村番地</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Babineaux 様</p>
<p><br class="hideInIE"></p>
<p>最新の生産性向上ツールである HCL Docs をご紹介したく、このメールを送らせていただきました。</p>
<p><br class="hideInIE"></p>
<p>HCL Docs は、文書、スプレッドシート、プレゼンテーションを作成、共有、共同で作成するための Web ベースのエディターです。 ワーク・メンバーとの共同編集、コンテキスト内でのディスカッション、セクションのチーム・メンバーへの割り当てが可能になるため、より便利な文書作成環境を提供します。</p>
<p><br class="hideInIE"></p>
<p>ご不明な点がありましたら、弊社までお気軽にお問い合わせください。</p>
<p><br class="hideInIE"></p>
<p>どうぞよろしくお願いいたします。</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Senior Sales Manager</span></p>
<p><br class="hideInIE"></p>
<p>エンクロージャー</p>
</body>
</html>
