<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>議事録</title>
</head>
<body  class="concord_Doc_Style_2">

<p class="page">

	<p documentBlock="true" restyle="false"  concordTemplateComponent="letterhead" class="letterhead">
		<h1>会議名</h1>
		<ul>
			<li>プロジェクト名</li>
			<li>会社名</li>
		</ul>
		<hr></hr>
	</p>


	<p documentBlock="true"  class="section">
		<h2>出席者</h2>
		<table class="smartTable STStyle4" restyle="true" concordTemplateComponent="smartTable">
		<tbody>
			<tr class="tableHeaderRow">
				<th style="width: 200px;">名前</th>
				<th style="width: 250px;">E メールアドレス
</th>
				<th style="width: 250px;">タイトル</th>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
		</tbody>
		</table>
		
	</p>
		
	<p documentBlock="true"  class="section">
		<h2>議題</h2>
		<table class="smartTable STStyle4" restyle="true" concordTemplateComponent="smartTable">
		<tbody>
			<tr class="tableHeaderRow">
				<th style="width: 150px;">品目</th>
				<th style="width: 200px;">所有者</th>
				<th style="width: 150px;">時刻</th>
				<th style="width: 350px;">説明</th>

			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
		</tbody>
		</table>
			
	</p>
		
	<p documentBlock="true"  class="section">
		<h2>アクション項目</h2>
		<table class="smartTable STStyle4" restyle="true" concordTemplateComponent="smartTable">
		<tbody>
			<tr class="tableHeaderRow">
				<th style="width: 150px;">アクション項目</th>
				<th style="width: 200px;">所有者</th>
				<th style="width: 150px;">期限</th>
				<th style="width: 350px;">説明</th>

			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
		</tbody>
		</table>
			
		
		
	</p>
	
	<p documentBlock="true"  class="section">
		<h2>ノート</h2>
		<ul>
		<!--
		<li>In veri quidam appetere vix, eum no nonumy aliquid sensibus. </li>
		<li>Vix id sumo suavitate cotidieque. Dignissim definiebas intellegebat eu qui, laoreet impedit senserit per ad, te est illum discere aliquam. </li>
		<li>Ullamcorper philosophia vix no, no ubique utroque mei, veri decore omittam ne ius. </li>
		-->
		</ul>

		
	</p>
	
</p>
</body>
</html>
