<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>FAX カバー・シート</title>
</head>
<body  class="concord_Doc_Style_1">
<table cellspacing="0px" style="table-layout:fixed;word-break:break-all;border-collapse:collapse;">
<tbody>
<tr>
<td style="padding:0.5997cm;border-top:none ;border-left:none ;border-right:none ;border-bottom:2.4984pt solid #99ccff ;vertical-align:top;width:22%;">
<p><span style="color:#000000;font-size:10pt;">会社ロゴ</span></p>
</td>
<td style="padding:0.5997cm;border-top:none ;border-left:none ;border-right:none ;border-bottom:2.4984pt solid #99ccff ;vertical-align:top;width:30%;">
<p><span style="color:#000000;font-weight:bold;font-size:14pt;">Renovations Inc.</span></p>
</td>
<td style="padding:0.5997cm;border-top:none ;border-left:none ;border-right:none ;border-bottom:2.4984pt solid #99ccff ;vertical-align:top;width:24%;">
<p><span style="color:#000000;font-size:10pt;">会社住所</span></p>
</td>
<td style="padding:0.5997cm;border-top:none ;border-left:none ;border-right:none ;border-bottom:2.4984pt solid #99ccff ;vertical-align:top;width:24%;">
<p><span style="color:#000000;font-size:10pt;">電話: 617-555-0000</span></p>
</td>
</tr>
</tbody>
</table>
<p><br class="hideInIE"></p>
<table cellspacing="0px" style="table-layout:fixed;word-break:break-all;border-collapse:collapse;width:100%">
<tbody>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;width:40%;">
<p style="text-align:right;"><span style="color:#000000;font-size:10pt;">宛先:</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;width:60%;">
<p style="text-align:left;"><span style="color:#000000;font-size:10pt;">Phillipe Babineaux</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;"><span style="color:#000000;font-size:10pt;">FAX:</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="color:#000000;font-size:10pt;">617-555-0001</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;"><span style="color:#000000;font-size:10pt;">送信元:</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="color:#000000;font-size:10pt;">Joe</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;"><span style="color:#000000;font-size:10pt;">日付:</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="color:#000000;font-size:10pt;">2012/02/15</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;"><span style="color:#000000;font-size:10pt;">RE:</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span class="T6" style="color:#000000;font-size:10pt;">FAX の件名</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;"><span style="color:#000000;font-size:10pt;">ページ:</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="color:#000000;font-size:10pt;">1</span></p>
</td>
</tr>
</tbody>
</table>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p style="color:#000000;">ここにコンテンツを入力します...</p>
</body>
</html>
