

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>参照</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >姓 名 (YYYY)。 原典。発行元、開始 - 終了。</li>
			<li documentBlock="true" >姓 名 (YYYY)。 原典。発行元、開始 - 終了。</li>
			<li documentBlock="true" >姓 名 (YYYY)。 原典。発行元、開始 - 終了。</li>
			<li documentBlock="true" >姓 名 (YYYY)。 原典。発行元、開始 - 終了。</li>
			<li documentBlock="true" >姓 名 (YYYY)。 原典。発行元、開始 - 終了。</li>
			<li documentBlock="true" >姓 名 (YYYY)。 原典。発行元、開始 - 終了。</li>
			<li documentBlock="true" >姓 名 (YYYY)。 原典。発行元、開始 - 終了。</li>
			<li documentBlock="true" >姓 名 (YYYY)。 原典。発行元、開始 - 終了。</li>
			<li documentBlock="true" >姓 名 (YYYY)。 原典。発行元、開始 - 終了。</li>
			<li documentBlock="true" >姓 名 (YYYY)。 原典。発行元、開始 - 終了。</li>
		</ul>
	</div>

</div>
<p></p>
