<table border="0" padding="0" spacing="0" title="タスク" action="create" class="smartTable STStyle17" _moz_resizing="true" concordTemplateComponent="smartTable" restyle="true" >
  <tbody>
    <tr class="tableHeaderRow">
      <th style="width: 150px;">タイトル</th>
      <th style="width: 150px;">優先度</th>
      <th style="width: 150px;">期限
</th>
      <th style="width: 150px;">割り当て先</th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr class="alternateRow">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr class="alternateRow">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
<p></p>
