<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>传真页</title>
</head>
<body  class="concord_Doc_Style_4">

<p class="page" id="fax">

	<p documentBlock="true" restyle="false" concordTemplateComponent="letterhead" class="letterhead">
		<h1>传真页</h1>
		<!-- hr/-->
	</p>
	
	<p documentBlock="true"  class="section">
		<h2>发件人</h2>
		<ul>
			<li class="author">姓名</li>
			<li class="date">YYYY/MM/DD</li>
			<li class="email">email@example.com</li>
			<li class="phone">(123) 456-789</li>
		</ul>
	</p>

	<p documentBlock="true" class="section">
		<h2>收件人</h2>
		<ul>
			<li class="author">姓名</li>
			<li class="date">YYYY/MM/DD</li>
			<li class="email">email@example.com</li>
			<li class="phone">(123) 456-789</li>
		</ul>
	</p>

	<p documentBlock="true" class="section">
		<h2>内容</h2>
		<ul>
			<li>文档 1</li>
			<li>文档 2</li>
		</ul>
	</p>

	<p documentBlock="true"  class="section">
		<h2>特别指示信息</h2>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>		
		-->
	</p>
	
</p>

</body>
</html>
