

<p class="page" id="researchpaper">


	<p restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>参考资料</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" ><span class="author">姓名</span> <span class="date">(YYYY)。</span> <span class="source">来源名称。</span> <span class="publisher">发布者姓名，</span> <span class="range">开始 - 结束。</span></li>
			<li documentBlock="true" ><span class="author">姓名</span> <span class="date">(YYYY)。</span> <span class="source">来源名称。</span> <span class="publisher">发布者姓名，</span> <span class="range">开始 - 结束。</span></li>
			<li documentBlock="true" ><span class="author">姓名</span> <span class="date">(YYYY)。</span> <span class="source">来源名称。</span> <span class="publisher">发布者姓名，</span> <span class="range">开始 - 结束。</span></li>
			<li documentBlock="true" ><span class="author">姓名</span> <span class="date">(YYYY)。</span> <span class="source">来源名称。</span> <span class="publisher">发布者姓名，</span> <span class="range">开始 - 结束。</span></li>
			<li documentBlock="true" ><span class="author">姓名</span> <span class="date">(YYYY)。</span> <span class="source">来源名称。</span> <span class="publisher">发布者姓名，</span> <span class="range">开始 - 结束。</span></li>
			<li documentBlock="true" ><span class="author">姓名</span> <span class="date">(YYYY)。</span> <span class="source">来源名称。</span> <span class="publisher">发布者姓名，</span> <span class="range">开始 - 结束。</span></li>
			<li documentBlock="true" ><span class="author">姓名</span> <span class="date">(YYYY)。</span> <span class="source">来源名称。</span> <span class="publisher">发布者姓名，</span> <span class="range">开始 - 结束。</span></li>
			<li documentBlock="true" ><span class="author">姓名</span> <span class="date">(YYYY)。</span> <span class="source">来源名称。</span> <span class="publisher">发布者姓名，</span> <span class="range">开始 - 结束。</span></li>
			<li documentBlock="true" ><span class="author">姓名</span> <span class="date">(YYYY)。</span> <span class="source">来源名称。</span> <span class="publisher">发布者姓名，</span> <span class="range">开始 - 结束。</span></li>
			<li documentBlock="true" ><span class="author">姓名</span> <span class="date">(YYYY)。</span> <span class="source">来源名称。</span> <span class="publisher">发布者姓名，</span> <span class="range">开始 - 结束。</span></li>
		</ul>
	</p>

</p>
<p></p>
