<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Curriculum vitae</title>
</head>
<body  class="concord_Doc_Style_11">

<p class="page" id="resume">

	<p documentBlock="true" restyle="false" concordTemplateComponent="letterhead" class="letterhead">
		<h1>Prénom Nom</h1>
		<ul>
			<li class="addressLine1">Numéro nom de rue</li>
			<li class="addressLine2">Code postal Ville Pays</li>
			<li class="email">email@exemple.com</li>
			<li class="phone">(331) 4567 7890</li>
		</ul>		
	</p>

	<p documentBlock="true" class="section summary">
		<h2>Objectifs</h2>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		-->
	</p>
		
	<p documentBlock="true" class="section">
		<h2>Formation</h2>
		<p documentBlock="true"  class="subsection">
			<h3>Nom de l'université&nbsp; &nbsp;&nbsp; &nbsp; Ville, Pays</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<li>Diplôme obtenu<!--Lorem ipsum dolor--> &nbsp;&nbsp;&nbsp;&nbsp;2006-2008</li>
			</ul>
		</p>
		<p documentBlock="true"  class="subsection">	
			<h3>Nom de l'université&nbsp; &nbsp;&nbsp; &nbsp;Ville, Pays</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<li>Diplôme obtenu &nbsp;&nbsp;&nbsp;&nbsp;2002-2006</li>
			</ul>
		</p>
	</p>
	
	<p documentBlock="true"  class="section">
		<h2>Expérience</h2>
		<p documentBlock="true"  class="subsection">
			<h3>Nom de l'entreprise&nbsp;&nbsp;&nbsp;&nbsp;Ville, Pays</h3>
			<h4>Gestionnaire de comptes  &nbsp;&nbsp;&nbsp;&nbsp;2008-aujourd'hui</h4>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt.</li>
				-->
			</ul>
		</p>
		<p documentBlock="true"  class="subsection">	
			<h3>Nom de la société&nbsp;&nbsp;&nbsp;&nbsp;Ville, Pays</h3>
			<h4>Assistant au gestionnaire de comptes &nbsp;&nbsp;&nbsp;&nbsp;2006-2008</h4>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Nunc at tellus et est fermentum vehicula. Cras tristique, dolor id viverra varius, sem mi egestas mauris, quis molestie odio ipsum a urna.</li>
				-->
			</ul>
		</p>
		<p documentBlock="true"  class="subsection">	
			<h3>Nom du bureau&nbsp;&nbsp;&nbsp;&nbsp;Ville, Pays</h3>
			<h4>Stagiaire en marketing &nbsp;&nbsp;&nbsp;&nbsp;2005-2006</h4>
			<ul>
				<!--
				<li>Donec hendrerit ultricies ipsum in bibendum. Aliquam aliquet, diam quis adipiscing semper, arcu nisi viverra nulla, ac vehicula ligula nibh.</li>
				-->
			</ul>
		</p>
	</p>
	
	<p documentBlock="true"  class="section conclusion">
		<h2>Compétences et certifications</h2>
		<p documentBlock="true"  class="subsection">
			<h3>Catégorie 1</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Lorem ipsum dolor sit amet</li>
				<li>Consectetur adipiscing elit</li>
				<li>Suspendisse facilisis ac mi porttitor</li>
				-->
			</ul>
			<h3>Catégorie 2</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Nam faucibus nisi vel velit porta viverra</li>
				<li>Sed in augue id massa pulvinar scelerisque</li>
				-->
			</ul>
		</p>
	</p>
	
	<p documentBlock="true"  class="section references" concordTemplateComponent="references" >
		<h2>Références</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li>Prénom, Noms, société &nbsp;&nbsp;&nbsp;&nbsp;(331) 456-7890</li>
			<li>Prénom, Noms, société &nbsp;&nbsp;&nbsp;&nbsp;(331) 456-7890</li>			
		</ul>
	</p>
	
</p>
</body>
</html>
