<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

</head>
<body  class="concord_Doc_Style_10">

<p class="page" id="memo">

	<p documentBlock="true" restyle="false" concordTemplateComponent="letterhead" class="letterhead">
		<h1>Mémo</h1>		
	</p>

	<p documentBlock="true"  class="section summary">
		<ul restyle="true" concordtemplatecomponent="list" class="list_16">
			<li class="name"><label>A : </label>Prénom Nom</li>
			<li class="name"><label>De : </label>Prénom Nom</li>
			<li class="date"><label>Date : </label>JJ/MM/AAAA</li>
			<li class="subject"><label>Objet : </label><!-- Lorem ipsum dolor sit amet--></li>
		</ul>
	</p>
		
	<p documentBlock="true" class="section">
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		-->
		<h2>Sujet 1</h2>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		-->
		<h2>Sujet 2</h2>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		-->
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li>Point 1</li>
			<li>Point 2</li>
			<li>Point 3</li>
		</ul>
		<p>Prénom Nom</p>
	</p>
	
</p>
</body>
</html>
