

<p class="page" id="researchpaper">


	<p restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Références</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" ><span class="author">Nom, Prénom</span> <span class="date">(AAAA).</span> <span class="source">Source.</span> <span class="publisher">Editeur,</span> <span class="range">début - fin.</span></li>
			<li documentBlock="true" ><span class="author">Nom, Prénom</span> <span class="date">(AAAA).</span> <span class="source">Source.</span> <span class="publisher">Editeur,</span> <span class="range">début - fin.</span></li>
			<li documentBlock="true" ><span class="author">Nom, Prénom</span> <span class="date">(AAAA).</span> <span class="source">Source.</span> <span class="publisher">Editeur,</span> <span class="range">début - fin.</span></li>
			<li documentBlock="true" ><span class="author">Nom, Prénom</span> <span class="date">(AAAA).</span> <span class="source">Source.</span> <span class="publisher">Editeur,</span> <span class="range">début - fin.</span></li>
			<li documentBlock="true" ><span class="author">Nom, Prénom</span> <span class="date">(AAAA).</span> <span class="source">Source.</span> <span class="publisher">Editeur,</span> <span class="range">début - fin.</span></li>
			<li documentBlock="true" ><span class="author">Nom, Prénom</span> <span class="date">(AAAA).</span> <span class="source">Source.</span> <span class="publisher">Editeur,</span> <span class="range">début - fin.</span></li>
			<li documentBlock="true" ><span class="author">Nom, Prénom</span> <span class="date">(AAAA).</span> <span class="source">Source.</span> <span class="publisher">Editeur,</span> <span class="range">début - fin.</span></li>
			<li documentBlock="true" ><span class="author">Nom, Prénom</span> <span class="date">(AAAA).</span> <span class="source">Source.</span> <span class="publisher">Editeur,</span> <span class="range">début - fin.</span></li>
			<li documentBlock="true" ><span class="author">Nom, Prénom</span> <span class="date">(AAAA).</span> <span class="source">Source.</span> <span class="publisher">Editeur,</span> <span class="range">début - fin.</span></li>
			<li documentBlock="true" ><span class="author">Nom, Prénom</span> <span class="date">(AAAA).</span> <span class="source">Source.</span> <span class="publisher">Editeur,</span> <span class="range">début - fin.</span></li>
		</ul>
	</p>

</p>
<p></p>
