

<p class="page" id="researchpaper">


	<p restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Referanser</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" ><span class="author">Etternavn, Fornavn</span> <span class="date">(ÅÅÅÅ).</span> <span class="source">Kildenavn.</span> <span class="publisher">Utgivernavn,</span> <span class="range">start - slutt.</span></li>
			<li documentBlock="true" ><span class="author">Etternavn, Fornavn</span> <span class="date">(ÅÅÅÅ).</span> <span class="source">Kildenavn.</span> <span class="publisher">Utgivernavn,</span> <span class="range">start - slutt.</span></li>
			<li documentBlock="true" ><span class="author">Etternavn, Fornavn</span> <span class="date">(ÅÅÅÅ).</span> <span class="source">Kildenavn.</span> <span class="publisher">Utgivernavn,</span> <span class="range">start - slutt.</span></li>
			<li documentBlock="true" ><span class="author">Etternavn, Fornavn</span> <span class="date">(ÅÅÅÅ).</span> <span class="source">Kildenavn.</span> <span class="publisher">Utgivernavn,</span> <span class="range">start - slutt.</span></li>
			<li documentBlock="true" ><span class="author">Etternavn, Fornavn</span> <span class="date">(ÅÅÅÅ).</span> <span class="source">Kildenavn.</span> <span class="publisher">Utgivernavn,</span> <span class="range">start - slutt.</span></li>
			<li documentBlock="true" ><span class="author">Etternavn, Fornavn</span> <span class="date">(ÅÅÅÅ).</span> <span class="source">Kildenavn.</span> <span class="publisher">Utgivernavn,</span> <span class="range">start - slutt.</span></li>
			<li documentBlock="true" ><span class="author">Etternavn, Fornavn</span> <span class="date">(ÅÅÅÅ).</span> <span class="source">Kildenavn.</span> <span class="publisher">Utgivernavn,</span> <span class="range">start - slutt.</span></li>
			<li documentBlock="true" ><span class="author">Etternavn, Fornavn</span> <span class="date">(ÅÅÅÅ).</span> <span class="source">Kildenavn.</span> <span class="publisher">Utgivernavn,</span> <span class="range">start - slutt.</span></li>
			<li documentBlock="true" ><span class="author">Etternavn, Fornavn</span> <span class="date">(ÅÅÅÅ).</span> <span class="source">Kildenavn.</span> <span class="publisher">Utgivernavn,</span> <span class="range">start - slutt.</span></li>
			<li documentBlock="true" ><span class="author">Etternavn, Fornavn</span> <span class="date">(ÅÅÅÅ).</span> <span class="source">Kildenavn.</span> <span class="publisher">Utgivernavn,</span> <span class="range">start - slutt.</span></li>
		</ul>
	</p>

</p>
<p></p>
