/*styles for title page title element*/
.Greenblocks-title p
{
	text-align:left;
}
.Greenblocks-title {
	/*font-size:39.6pt;*/
	font-size:2.2em;
	font-family:Georgia;
	color:#336600;
	font-style: italic
}
.Greenblocks-title li {
		/*font-family:StarSymbol;
		font-size:45%;*/
}
.Greenblocks-title li ul li {
		/*padding-left: 0.6cm;*/
		padding-left: 2.14%;
}
.Greenblocks-title li ul li ul li{
		/*padding-left: 1.2cm;*/
		padding-left: 4.28%;
}
.Greenblocks-title li ul li ul li ul li{
		/*padding-left: 1.8cm;*/
		padding-left: 6.43%;
}

/*styles for title page subtitle element*/
.Greenblocks-subtitle p
{
	margin-left: 0cm;
	margin-right:0cm;
	text-align:left;
	text-indent:0cm;
}
.Greenblocks-subtitle {
	/*font-size:27pt;*/
	font-size:1.5em;
	font-family:Georgia;
	color:#333333;
	font-style: italic
}
.Greenblocks-subtitle li {
		font-family:StarSymbol;
		font-size:45%;
}
.Greenblocks-subtitle li ul li {
		/*padding-left: 0.6cm;*/
		padding-left: 2.14%;
}
.Greenblocks-subtitle li ul li ul li{
		/*padding-left: 1.2cm;*/
		padding-left: 4.28%;
}
.Greenblocks-subtitle li ul li ul li ul li{
		/*padding-left: 1.8cm;*/
		padding-left: 6.43%;
}

.concord .Greenblocks-datetime {
	color:#666666;
	font-family:Arial;
	text-align:left;	
}

.concord .Greenblocks-pagenumber {
	color:#666666;
	font-family:Arial;
	text-align:center;
}

.concord .Greenblocks-footer {
	color:#666666;
	font-family:Arial;
	text-align:right;
}

.Greenblocks_default {
	/*font-size:44pt;*/
	/*font-size:2em;*/
	font-family:Arial;
	color:#666666;
}
/*styles for other page (non title page) title */
.Greenblocks_text-title p
{
	text-align:left;
}
.Greenblocks_text-title {
	/*font-size:36pt;*/
	font-size:2em;
	font-family:Georgia;
	color:#336600;
	font-style: italic;
	font-weight: bold
}
.Greenblocks_text-title li {
	/*
		font-family:StarSymbol;
		font-size:45%;
		*/
}
.Greenblocks_text-title li ul li {
		/*padding-left: 0.6cm;*/
		padding-left: 2.14%;
}
.Greenblocks_text-title li ul li ul li{
		/*padding-left: 1.2cm;*/
		padding-left: 4.28%;
}
.Greenblocks_text-title li ul li ul li ul li{
		/*padding-left: 1.8cm;*/
		padding-left: 6.43%;
}
/*styles for outline */
.Greenblocks_text-outline1 p
{
	margin-top: 0cm;
	/*margin-bottom: 0.5cm;*/
	margin-bottom:2.38%;
}
.Greenblocks_text-outline1 li {
		/*font-family:StarSymbol;*//* only for the bullet icon*/
		/*padding-left: 0.3cm;*/
		padding-left: 1.07%;
		/*font-size:45%;*//* only for the bullet icon*/
		/*conversion of text:min-label-width="0.9cm"*/
}
.Greenblocks_text-outline1 li ul li {
		/*padding-left: 1.5cm;*/
		padding-left: 5.36%;
}
.Greenblocks_text-outline1 li ul li ul li{
		/*padding-left: 2.8cm;*/
		padding-left: 10%;
		/*font-size:75%; *//* only for the bullet icon*/
		/*conversion of text:min-label-width="0.6cm"*/
}
.Greenblocks_text-outline1 li ul li ul li ul li{
		/*padding-left: 4.2cm;*/
		padding-left: 15%;
		/*font-size:45%; *//* only for the bullet icon*/
		/*conversion of text:min-label-width="0.6cm"*/
}
.Greenblocks_text-outline1 {
	/*font-size:25.2pt;*/
	font-size:1.4em;
	font-family:Arial;
	color:#666666;
}


body.lotusJapanese .Greenblocks-title, body.lotusJapanese .Greenblocks-subtitle,body.lotusJapanese .Greenblocks_default, body.lotusJapanese .Greenblocks_text-title,body.lotusJapanese  .Greenblocks_text-outline1{
	font-family: MS PMincho, MS PGothic, Apple Gothic, Arial, Verdana, sans-serif;
}

body.lotusKorean .Greenblocks-title, body.lotusKorean .Greenblocks-subtitle, body.lotusKorean .Greenblocks_default, body.lotusKorean .Greenblocks_text-title,body.lotusKorean .Greenblocks_text-outline1{
     font-family: "Gulim","GulimChe",Arial, Helvetica, sans-serif ;
}