<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Adreça postal</span></p>
<p><span style="font-weight:bold;">Ciutat, Província, Codi postal</span></p>
<p><span style="font-weight:bold;">15/02/2012</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Phillipe Babineaux</span></p>
<p><span style="font-weight:bold;">Director executiu</span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">Adreça postal</span></p>
<p><span style="font-weight:bold;">Ciutat, Província, Codi postal</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Benvolgut Senyor Babineaux,</p>
<p><br class="hideInIE"></p>
<p>Tinc l'honor de presentar-li l'eina de productivitat més recent de l'HCL Docs en aquest missatge.</p>
<p><br class="hideInIE"></p>
<p>L'HCL Docs és un editor per crear, compartir i crear de manera col·laborativa documents, fulls de càlcul i presentacions. És una manera millor de crear documents, perquè podeu editar-los conjuntament amb companys, comentar-los i discutir-ne en context, a més d'assignar seccions a membres de l'equip.</p>
<p><br class="hideInIE"></p>
<p>No dubteu a posar-vos en contacte amb mi si necessiteu informació addicional.</p>
<p><br class="hideInIE"></p>
<p>Atentament,</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Cap de vendes sènior</span></p>
<p><br class="hideInIE"></p>
<p>Fitxers adjunts</p>
</body>
</html>
