

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Referències</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >Nom, Cognom (AAAA). Nom d'origen. Nom d'editorial, inici - fi.</li>
			<li documentBlock="true" >Nom, Cognom (AAAA). Nom d'origen. Nom d'editorial, inici - fi.</li>
			<li documentBlock="true" >Nom, Cognom (AAAA). Nom d'origen. Nom d'editorial, inici - fi.</li>
			<li documentBlock="true" >Nom, Cognom (AAAA). Nom d'origen. Nom d'editorial, inici - fi.</li>
			<li documentBlock="true" >Nom, Cognom (AAAA). Nom d'origen. Nom d'editorial, inici - fi.</li>
			<li documentBlock="true" >Nom, Cognom (AAAA). Nom d'origen. Nom d'editorial, inici - fi.</li>
			<li documentBlock="true" >Nom, Cognom (AAAA). Nom d'origen. Nom d'editorial, inici - fi.</li>
			<li documentBlock="true" >Nom, Cognom (AAAA). Nom d'origen. Nom d'editorial, inici - fi.</li>
			<li documentBlock="true" >Nom, Cognom (AAAA). Nom d'origen. Nom d'editorial, inici - fi.</li>
			<li documentBlock="true" >Nom, Cognom (AAAA). Nom d'origen. Nom d'editorial, inici - fi.</li>
		</ul>
	</div>

</div>
<p></p>
