<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p style="line-height:1.5;text-align:right;font-weight:bold;font-size:10pt;">國家/地區-縣市-鄉鎮地區-主要街道</p>
<p style="line-height:1.5;text-align:right;font-weight:bold;font-size:10pt;">617-555-0000</p>
<table cellspacing="0px" style="border-top:3pt solid #99CCFF;border-bottom:3pt solid #99CCFF;table-layout:fixed;word-break:break-all;border-collapse:collapse;">
<tbody>
<tr>
<td style="width:6.2cm;padding:0.1994cm;border:none ;vertical-align:top;">
<p style="color:#663300;font-weight:bold;font-size:16pt;">備忘錄</p>
</td>
<td style="width:9.3cm;padding:0.1994cm;border:none ;vertical-align:top;"></td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;">留言對象：</p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="font-weight:bold;font-size:11pt;">Phillipe Babineaux</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;">留言者：</p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="font-weight:bold;font-size:11pt;">Joe</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;">日期：</p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="font-weight:bold;font-size:11pt;">02/15/2012</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;">主題：</p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="font-weight:bold;font-size:11pt;">標題</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;">副本：</p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="font-weight:bold;font-size:11pt;">John</span></p>
</td>
</tr>
</tbody>
</table>
<p><br class="hideInIE">
</p>
<p style="font-size:11pt;">在這裡鍵入訊息...</p>
</body>
</html>
