<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">（郵遞區號）縣/市</span></p>
<p><span style="font-weight:bold;">地址</span></p>
<p><span style="font-weight:bold;">2012/02/15</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Phillipe Babineaux</span></p>
<p><span style="font-weight:bold;">執行長</span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">（郵遞區號）縣/市</span></p>
<p><span style="font-weight:bold;">地址</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Babineaux 先生您好：</p>
<p><br class="hideInIE"></p>
<p>很榮幸藉由這封電子郵件向您介紹最新的生產力工具 HCL Docs。</p>
<p><br class="hideInIE"></p>
<p>HCL Docs 是一種 Web 型的編輯器，可用來建立、分享以及協同編寫文件、試算表和簡報。這是一種用來建立文件的更好方式，因為您可以和同事共同編輯、在上下文中加註意見與討論，以及將某些章節指派給團隊成員。</p>
<p><br class="hideInIE"></p>
<p>如果您需要詳細資訊，請隨時與我聯絡。</p>
<p><br class="hideInIE"></p>
<p>敬祝 商祺</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">資深業務經理</span></p>
<p><span style="font-weight:bold;">Joe 敬上</span></p>
<p><br class="hideInIE"></p>
<p>附件</p>
</body>
</html>
