

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>參考文獻</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >姓名 (YYYY)。來源資料名稱。出版公司名稱，開始日期 - 結束日期。</li>
			<li documentBlock="true" >姓名 (YYYY)。來源資料名稱。出版公司名稱，開始日期 - 結束日期。</li>
			<li documentBlock="true" >姓名 (YYYY)。來源資料名稱。出版公司名稱，開始日期 - 結束日期。</li>
			<li documentBlock="true" >姓名 (YYYY)。來源資料名稱。出版公司名稱，開始日期 - 結束日期。</li>
			<li documentBlock="true" >姓名 (YYYY)。來源資料名稱。出版公司名稱，開始日期 - 結束日期。</li>
			<li documentBlock="true" >姓名 (YYYY)。來源資料名稱。出版公司名稱，開始日期 - 結束日期。</li>
			<li documentBlock="true" >姓名 (YYYY)。來源資料名稱。出版公司名稱，開始日期 - 結束日期。</li>
			<li documentBlock="true" >姓名 (YYYY)。來源資料名稱。出版公司名稱，開始日期 - 結束日期。</li>
			<li documentBlock="true" >姓名 (YYYY)。來源資料名稱。出版公司名稱，開始日期 - 結束日期。</li>
			<li documentBlock="true" >姓名 (YYYY)。來源資料名稱。出版公司名稱，開始日期 - 結束日期。</li>
		</ul>
	</div>

</div>
<p></p>
