<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Lebenslauf</title>
</head>
<body  class="concord_Doc_Style_11">

<div class="page" id="resume">

	<div documentBlock="true" restyle="false" concordTemplateComponent="letterhead" class="letterhead">
		<h1>Vorname Nachname</h1>
		<ul>
			<li class="addressLine1">Straße 1234</li>
			<li class="addressLine2">12345 Ort</li>
			<li class="email">email@beispiel.com</li>
			<li class="phone">(123) 456-7890</li>
		</ul>		
	</div>

	<div documentBlock="true" class="section summary">
		<h2>Zielsetzung</h2>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		-->
	</div>
		
	<div documentBlock="true" class="section">
		<h2>Ausbildung</h2>
		<div documentBlock="true"  class="subsection">
			<h3>Name der Schule&nbsp; &nbsp;&nbsp; &nbsp; Stadt, Land</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<li>Abschluss &nbsp;&nbsp;&nbsp;&nbsp;2006-2008</li>
			</ul>
		</div>
		<div documentBlock="true"  class="subsection">	
			<h3>Name der Universität&nbsp; &nbsp;&nbsp; &nbsp;Stadt, Land</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<li>Abschluss &nbsp;&nbsp;&nbsp;&nbsp;2002-2006</li>
			</ul>
		</div>
	</div>
	
	<div documentBlock="true"  class="section">
		<h2>Berufserfahrung</h2>
		<div documentBlock="true"  class="subsection">
			<h3>Name des Unternehmens&nbsp;&nbsp;&nbsp;&nbsp;Stadt, Land</h3>
			<h4>Account Manager  &nbsp;&nbsp;&nbsp;&nbsp;2008-Aktuell</h4>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt.</li>
				-->
			</ul>
		</div>
		<div documentBlock="true"  class="subsection">	
			<h3>Name der Firma&nbsp;&nbsp;&nbsp;&nbsp;Stadt, Land</h3>
			<h4>Account Assistant &nbsp;&nbsp;&nbsp;&nbsp;2006-2008</h4>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Nunc at tellus et est fermentum vehicula. Cras tristique, dolor id viverra varius, sem mi egestas mauris, quis molestie odio ipsum a urna.</li>
				-->
			</ul>
		</div>
		<div documentBlock="true"  class="subsection">	
			<h3>Geschäftsname&nbsp;&nbsp;&nbsp;&nbsp;Stadt, Land</h3>
			<h4>Marketing Intern &nbsp;&nbsp;&nbsp;&nbsp;2005-2006</h4>
			<ul>
				<!--
				<li>Donec hendrerit ultricies ipsum in bibendum. Aliquam aliquet, diam quis adipiscing semper, arcu nisi viverra nulla, ac vehicula ligula nibh.</li>
				-->
			</ul>
		</div>
	</div>
	
	<div documentBlock="true"  class="section conclusion">
		<h2>Kenntnisse &amp; Zertifizierungen</h2>
		<div documentBlock="true"  class="subsection">
			<h3>Kategorie 1</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Lorem ipsum dolor sit amet</li>
				<li>Consectetur adipiscing elit</li>
				<li>Suspendisse facilisis ac mi porttitor</li>
				-->
			</ul>
			<h3>Kategorie 2</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Nam faucibus nisi vel velit porta viverra</li>
				<li>Sed in augue id massa pulvinar scelerisque</li>
				-->
			</ul>
		</div>
	</div>
	
	<div documentBlock="true"  class="section references" concordTemplateComponent="references" >
		<h2>Referenzen</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li>Vorname Nachname, Vertragsverhältnis &nbsp;&nbsp;&nbsp;&nbsp;(123) 456-7890</li>
			<li>Vorname Nachname, Vertragsverhältnis &nbsp;&nbsp;&nbsp;&nbsp;(123) 456-7890</li>			
		</ul>
	</div>
	
</div>
</body>
</html>
