<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Fax-Deckblatt</title>
</head>
<body  class="concord_Doc_Style_4">

<div class="page" id="fax">

	<div documentBlock="true" restyle="false" concordTemplateComponent="letterhead" class="letterhead">
		<h1>Fax-Deckblatt</h1>
	</div>
	
	<div documentBlock="true"  class="section">
		<h2>Von</h2>
		<ul>
			<li class="author">Vorname Nachname</li>
			<li class="date">TT/MM/JJJJ</li>
			<li class="email">email@beispiel.com</li>
			<li class="phone">(123) 456-789</li>
		</ul>
	</div>

	<div documentBlock="true" class="section">
		<h2>An</h2>
		<ul>
			<li class="author">Vorname Nachname</li>
			<li class="date">TT/MM/JJJJ</li>
			<li class="email">email@beispiel.com</li>
			<li class="phone">(123) 456-789</li>
		</ul>
	</div>

	<div documentBlock="true" class="section">
		<h2>Inhalt</h2>
		<ul>
			<li>Dokument 1</li>
			<li>Dokument 2</li>
		</ul>
	</div>

	<div documentBlock="true"  class="section">
		<h2>Spezielle Anweisungen</h2>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>		
		-->
	</div>
	
</div>

</body>
</html>
