<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

</head>
<body  class="concord_Doc_Style_10">

	<div documentBlock="true" restyle="false" concordTemplateComponent="letterhead" class="letterhead">
		<h1>Memo</h1>		
	</div>

	<div documentBlock="true"  class="section summary">
		<ul restyle="true" concordtemplatecomponent="list" class="list_16">
			<li class="name"><label>An: </label>Vorname Nachname</li>
			<li class="name"><label>Von: </label>Vorname Nachname</li>
			<li class="date"><label>Datum: </label>TT/MM/JJJJ</li>
			<li class="subject"><label>Betreff: </label><!-- Lorem ipsum dolor sit amet--></li>
		</ul>
	</div>
		
		<!--
		<p documentBlock="true" class="section">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		-->
		<h2 documentBlock="true">Thema 1</h2>
		<!--
		<p documentBlock="true" class="section">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		<p documentBlock="true" class="section">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		-->
		<h2 documentBlock="true">Thema 2</h2>
		<!--
		<p documentBlock="true" class="section">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		-->
		<ul documentBlock="true" restyle="true" concordtemplatecomponent="list" class="list section">
			<li>Punkt 1</li>
			<li>Punkt 2</li>
			<li>Punkt 3</li>
		</ul>
		<p documentBlock="true" class="section">Vorname Nachname</p>
	

</body>
</html>
