<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Newsletter</title>
</head>
<body  class="concord_Doc_Style_10">

	<div documentBlock="true" restyle="false" concordTemplateComponent="letterhead" class="letterhead">
		<h1>Newsletter - Thema oder Ankündigung</h1>
		<ul>
			<li class="business">Firmenname</li>
			<li class="addressLine1">Straße 1234</li>
			<li class="addressLine2">12345 Ort</li>
			<li class="email">email@beispiel.com</li>
			<li class="phone">(123) 456-7890</li>
		</ul>
		<hr></hr>
	</div>


		<h2 documentBlock="true"  class="section summary">Aktuelle Kurzmeldung</h2>
		<!--
		<p documentBlock="true"  class="section summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>		
		-->



		<h2 documentBlock="true"  class="section">Thema 1</h2>
		<!--
		<p documentBlock="true"  class="section">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>		
		-->



		<h2 documentBlock="true"  class="section">Thema 2</h2>
		<!--
		<p documentBlock="true"  class="section">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>		
		-->

	
		<h2 documentBlock="true" class="section reference">Weitere Informationen</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="section reference list">
			<li><a href="#">Link 1</a></li>
			<li><a href="#">Link 2</a></li>
			<li><a href="#">Link 3</a></li>						
		</ul>

	
</body>
</html>
