

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Referenzen</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" ><span class="author">Nachname, Vorname</span> <span class="date">(JJJJ).</span> <span class="source">Quellenname.</span> <span class="publisher">Herausgebername,</span> <span class="range">Anfang - Ende.</span></li>
			<li documentBlock="true" ><span class="author">Nachname, Vorname</span> <span class="date">(JJJJ).</span> <span class="source">Quellenname.</span> <span class="publisher">Herausgebername,</span> <span class="range">Anfang - Ende.</span></li>
			<li documentBlock="true" ><span class="author">Nachname, Vorname</span> <span class="date">(JJJJ).</span> <span class="source">Quellenname.</span> <span class="publisher">Herausgebername,</span> <span class="range">Anfang - Ende.</span></li>
			<li documentBlock="true" ><span class="author">Nachname, Vorname</span> <span class="date">(JJJJ).</span> <span class="source">Quellenname.</span> <span class="publisher">Herausgebername,</span> <span class="range">Anfang - Ende.</span></li>
			<li documentBlock="true" ><span class="author">Nachname, Vorname</span> <span class="date">(JJJJ).</span> <span class="source">Quellenname.</span> <span class="publisher">Herausgebername,</span> <span class="range">Anfang - Ende.</span></li>
			<li documentBlock="true" ><span class="author">Nachname, Vorname</span> <span class="date">(JJJJ).</span> <span class="source">Quellenname.</span> <span class="publisher">Herausgebername,</span> <span class="range">Anfang - Ende.</span></li>
			<li documentBlock="true" ><span class="author">Nachname, Vorname</span> <span class="date">(JJJJ).</span> <span class="source">Quellenname.</span> <span class="publisher">Herausgebername,</span> <span class="range">Anfang - Ende.</span></li>
			<li documentBlock="true" ><span class="author">Nachname, Vorname</span> <span class="date">(JJJJ).</span> <span class="source">Quellenname.</span> <span class="publisher">Herausgebername,</span> <span class="range">Anfang - Ende.</span></li>
			<li documentBlock="true" ><span class="author">Nachname, Vorname</span> <span class="date">(JJJJ).</span> <span class="source">Quellenname.</span> <span class="publisher">Herausgebername,</span> <span class="range">Anfang - Ende.</span></li>
			<li documentBlock="true" ><span class="author">Nachname, Vorname</span> <span class="date">(JJJJ).</span> <span class="source">Quellenname.</span> <span class="publisher">Herausgebername,</span> <span class="range">Anfang - Ende.</span></li>
		</ul>
	</div>

</div>
<p></p>
