<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Indirizzo</span></p>
<p><span style="font-weight:bold;">Città, Provincia, CAP</span></p>
<p><span style="font-weight:bold;">15/02/2012</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Phillipe Babineaux</span></p>
<p><span style="font-weight:bold;">Chief Executive Officer</span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">Indirizzo</span></p>
<p><span style="font-weight:bold;">Città, Provincia, CAP</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Gentile Sig. Babineaux,</p>
<p><br class="hideInIE"></p>
<p>Con la presente email ho l'onore di presentarle il nostro più recente strumento di produttività: HCL Docs.</p>
<p><br class="hideInIE"></p>
<p>HCL Docs è un editor basato sul web per la creazione, la condivisione e l'authoring collaborativo di documenti, fogli di calcolo e presentazioni. Rappresenta un modo migliore per creare documenti in quanto consente di eseguire modifiche insieme a colleghi, sviluppare commenti e discussioni contestualizzati, ed assegnare sezioni ai membri del team.</p>
<p><br class="hideInIE"></p>
<p>Sono a sua disposizione per eventuali ulteriori informazioni.</p>
<p><br class="hideInIE"></p>
<p>Cordiali saluti,</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Senior Sales Manager</span></p>
<p><br class="hideInIE"></p>
<p>Allegati</p>
</body>
</html>
