

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Riferimenti</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >Nome di battesimo, Cognome (AAAA). Fonte. Editore, inizio - fine.</li>
			<li documentBlock="true" >Nome di battesimo, Cognome (AAAA). Fonte. Editore, inizio - fine.</li>
			<li documentBlock="true" >Nome di battesimo, Cognome (AAAA). Fonte. Editore, inizio - fine.</li>
			<li documentBlock="true" >Nome di battesimo, Cognome (AAAA). Fonte. Editore, inizio - fine.</li>
			<li documentBlock="true" >Nome di battesimo, Cognome (AAAA). Fonte. Editore, inizio - fine.</li>
			<li documentBlock="true" >Nome di battesimo, Cognome (AAAA). Fonte. Editore, inizio - fine.</li>
			<li documentBlock="true" >Nome di battesimo, Cognome (AAAA). Fonte. Editore, inizio - fine.</li>
			<li documentBlock="true" >Nome di battesimo, Cognome (AAAA). Fonte. Editore, inizio - fine.</li>
			<li documentBlock="true" >Nome di battesimo, Cognome (AAAA). Fonte. Editore, inizio - fine.</li>
			<li documentBlock="true" >Nome di battesimo, Cognome (AAAA). Fonte. Editore, inizio - fine.</li>
		</ul>
	</div>

</div>
<p></p>
