.PM0 {margin-bottom:0.00%;margin-left:0.00%;margin-right:0.00%;margin-top:0.00%;} 
.PM1 {margin-bottom:0.00%;margin-left:0.00%;margin-right:0.00%;margin-top:0.00%;} 
.Mdp2210 {} 
.Mdp2211 {} 
.Mgr2214 {background-color:#ffffff;} 
.Mgr2218 {background-color:#ffffff;} 
.Mpr2219 {} 
.Mpr2220 {} 
.Mpr2221 {} 
.Mpr2224 {} 
.Mpr2225 {} 
.Mpr2226 {} 
.Mpr2227 {} 
.Mpr2228 {} 
.Mpr2229 {} 
.Mpr2230 {} 
.Mpr2231 {} 
.Mpr2232 {} 
.MP2212 {line-break:strict;font-size:0.78em;} 
.MP2215 {line-break:strict;writing-mode:lr-tb;font-size:0.78em;} 
.MP2216 {text-align:end;line-break:strict;font-size:0.78em;} 
.MP2217 {text-align:end;line-break:strict;writing-mode:lr-tb;font-size:0.78em;} 
.MP2222 {text-align:center;line-break:strict;font-size:0.78em;} 
.MP2223 {text-align:center;line-break:strict;writing-mode:lr-tb;font-size:0.78em;} 
.MT2213 {font-size:0.78em;} 
.ML2210 {font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;} 
.ML2211 {font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;font-family:StarSymbol;font-size:45%;} 
