/*styles for title page title element*/
.Sunset-title p
{
	text-align:left;
}
.Sunset-title {
/* 1pt = 0.0555 em*/
	/*font-size:60pt;*/
	font-size:2em;
	font-weight:bold;
	font-family:Arial;
	color:#F63907;
	/*filter:shadow(color:black);*/  /*only affects in IE, and CKEditor doesn't support this*/
}
.Sunset-title li {
		/*font-family:StarSymbol;
		font-size:45%;*/
}
.Sunset-title li ul li {
		/*padding-left: 0.6cm;*/
		padding-left: 2.14%;
}
.Sunset-title li ul li ul li{
		/*padding-left: 1.2cm;*/
		padding-left: 4.28%;
}
.Sunset-title li ul li ul li ul li{
		/*padding-left: 1.8cm;*/
		padding-left: 6.43%;
}

/*styles for title page subtitle element*/
.Sunset-subtitle p
{
	margin-left: 0cm;
	margin-right:0cm;
	text-align:left;
	text-indent:0cm;
}
.Sunset-subtitle {
	/*font-size:30pt;*/
	font-size:1.2em;
	font-family:Arial;
	color:#902306;
	font-weight:bold;
}
.Sunset-subtitle li {
		font-family:StarSymbol;
		font-size:45%;
}
.Sunset-subtitle li ul li {
		/*padding-left: 0.6cm;*/
		padding-left: 2.14%;
}
.Sunset-subtitle li ul li ul li{
		/*padding-left: 1.2cm;*/
		padding-left: 4.28%;
}
.Sunset-subtitle li ul li ul li ul li{
		/*padding-left: 1.8cm;*/
		padding-left: 6.43%;
}
.Sunset-defaultTitle {
	color:#FFFFFF;
	font-family:Arial;
}

.Sunset-defaultText {
	color:#000000;
	font-family:Arial;
}

/*styles for other page (non title page) title */
.Sunset_text-title p
{
	text-align:center;
}
.Sunset_text-title {
	/*font-size:48pt;*/
	font-size:2em;
	font-family:Arial;
	font-weight:bold;
	color:#103F67;
}
.Sunset_text-title li {
	/*
		font-family:StarSymbol;
		font-size:45%;
		*/
}
.Sunset_text-title li ul li {
		/*padding-left: 0.6cm;*/
		padding-left: 2.14%;
}
.Sunset_text-title li ul li ul li{
		/*padding-left: 1.2cm;*/
		padding-left: 4.28%;
}
.Sunset_text-title li ul li ul li ul li{
		/*padding-left: 1.8cm;*/
		padding-left: 6.43%;
}
/*styles for outline */
.Sunset_text-outline1 p
{
	margin-top: 0cm;
	/*margin-bottom: 0.5cm;*/
	margin-bottom:2.38%;
}
.Sunset_text-outline1 li {
		/*font-family:StarSymbol;*//* only for the bullet icon*/
		/*padding-left: 0.3cm;*/
		padding-left: 1.07%;
		/*font-size:45%;*//* only for the bullet icon*/
		/*conversion of text:min-label-width="0.9cm"*/
}
.Sunset_text-outline1 li ul li {
		/*padding-left: 1.5cm;*/
		padding-left: 5.36%;
}
.Sunset_text-outline1 li ul li ul li{
		/*padding-left: 2.8cm;*/
		padding-left: 10%;
		/*font-size:75%; *//* only for the bullet icon*/
		/*conversion of text:min-label-width="0.6cm"*/
}
.Sunset_text-outline1 li ul li ul li ul li{
		/*padding-left: 4.2cm;*/
		padding-left: 15%;
		/*font-size:45%; *//* only for the bullet icon*/
		/*conversion of text:min-label-width="0.6cm"*/
}
.Sunset_text-outline1 {
	/*font-size:36pt;*/
	font-size:1.4em;
	font-family:Arial;
	color:#000000;
}