<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Adresse</span></p>
<p><span style="font-weight:bold;">Postnummer Poststed</span></p>
<p><span style="font-weight:bold;">2012/02/15</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Phillipe Babineaux</span></p>
<p><span style="font-weight:bold;">Chief Executive Officer</span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">Adresse</span></p>
<p><span style="font-weight:bold;">Postnummer Poststed</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Phillipe Babineaux,</p>
<p><br class="hideInIE"></p>
<p>Jeg kan med glede introdusere det nyeste produktivitetsverktøyet, HCL Docs, for deg via denne e-posten.</p>
<p><br class="hideInIE"></p>
<p>HCL Docs er et web-basert redigeringsprogram for å opprette, dele og samarbeide om å redigere dokumenter, regneark og presentasjoner. Det er en bedre metode for å opprette dokumenter, fordi du kan samarbeide om redigeringen med kolleger, kommentere og diskutere i kontekst, og tildele seksjoner til ulike medlemmer om av gruppen.</p>
<p><br class="hideInIE"></p>
<p>Kontakt meg gjerne hvis du trenger mer informasjon.</p>
<p><br class="hideInIE"></p>
<p>Vennlig hilsen,</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Senior Sales Manager</span></p>
<p><br class="hideInIE"></p>
<p>Vedlegg</p>
</body>
</html>
