<table border="0" padding="0" spacing="0" title="Tarefa" action="create" class="smartTable STStyle17" _moz_resizing="true" concordTemplateComponent="smartTable" restyle="true" >
  <tbody>
    <tr class="tableHeaderRow">
      <th style="width: 150px;">Título </th>
      <th style="width: 150px;">Prioridade </th>
      <th style="width: 150px;">Prazo Final </th>
      <th style="width: 150px;">Designado a</th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr class="alternateRow">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr class="alternateRow">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
<p></p>
