<?xml version="1.0" encoding="UTF-8"?>
<!-- ***************************************************************** -->
<!--                                                                   -->
<!-- Licensed Materials - Property of IBM.                             -->
<!--                                                                   -->
<!-- IBM Docs Source Materials                                         -->
<!--                                                                   -->
<!-- (c) Copyright IBM Corporation 2012. All Rights Reserved.          -->
<!--                                                                   -->
<!-- U.S. Government Users Restricted Rights: Use, duplication or      -->
<!-- disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                   -->
<!-- ***************************************************************** -->

<web-app id="WebApp_ID" version="3.0" metadata-complete="true" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>IBMDocs</display-name>
	<listener>
		<display-name>Platform Initializer</display-name>
		<listener-class>com.ibm.concord.services.servlet.PlatformInitializer</listener-class>
	</listener>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>SessionUserFilter</filter-name>
		<filter-class>com.ibm.concord.filters.SessionUserFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter>
		<description>Non cachable response filter </description>
		<filter-name>HttpSettingsFilter</filter-name>
		<filter-class>com.ibm.concord.filters.HttpSettingsFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>FormAuthenticationFilter</display-name>
		<filter-name>FormAuthenticationFilter</filter-name>
		<filter-class>com.ibm.concord.filters.FormAuthenticationFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>BrowserFilter</display-name>
		<filter-name>BrowserFilter</filter-name>
		<filter-class>com.ibm.concord.filters.BrowserFilter</filter-class>
	</filter>
	<filter>
		<filter-name>EntitlementFilter</filter-name>
		<filter-class>com.ibm.concord.filters.EntitlementFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter>
		<description>Add locale info in http request</description>
		<display-name>LanguageFilter</display-name>
		<filter-name>LanguageFilter</filter-name>
		<filter-class>
			com.ibm.concord.filters.LanguageFilter
		</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter>
		<description>
		Deal with docs request by checking server status in SmartCloud</description>
		<display-name>ServerStatusFilter</display-name>
		<filter-name>ServerStatusFilter</filter-name>
		<filter-class>com.ibm.concord.services.rest.ServerStatusFilter</filter-class>
		<async-supported>true</async-supported>
	</filter><!-- 
	<filter>
        <filter-name>VersionCheckFilter</filter-name>
        <filter-class>com.ibm.concord.filters.VersionCheckFilter</filter-class>
	</filter> -->
	<!--
		The order is determined by the order of the filter mappings below 
	 -->
    <!-- 
    <filter-mapping>
        <filter-name>VersionCheckFilter</filter-name>
        <url-pattern>/app/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>VersionCheckFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>VersionCheckFilter</filter-name>
        <url-pattern>/SaveTemplateServlet</url-pattern>
    </filter-mapping>     -->
    <filter-mapping>
		<filter-name>HttpSettingsFilter</filter-name>
		<url-pattern>/app/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>HttpSettingsFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>HttpSettingsFilter</filter-name>
		<url-pattern>/SaveTemplateServlet/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>BrowserFilter</filter-name>
		<url-pattern>/app/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionUserFilter</filter-name>
		<url-pattern>/app/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionUserFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EntitlementFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>	
	<filter-mapping>
		<filter-name>LanguageFilter</filter-name>
		<url-pattern>/app/*</url-pattern>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>FormAuthenticationFilter</filter-name>
		<url-pattern>/j_security_check</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>ConcordDocServlet</servlet-name>
		<servlet-class>com.ibm.concord.services.servlet.ConcordDocServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ErrorPage</servlet-name>
		<jsp-file>/WEB-INF/pages/error.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>NewDocumentServlet</servlet-name>
		<servlet-class>com.ibm.concord.services.servlet.NewDocumentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>serviceServlet</servlet-name>
		<servlet-class>com.ibm.concord.services.rest.Service</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
<!-- <servlet>
		<display-name>WebMsgAppInit</display-name>
		<servlet-name>WebMsgAppInit</servlet-name>
		<servlet-class>
		com.ibm.websphere.webmsg.servlet.WebMsgAppInit</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<display-name>Publisher</display-name>
		<servlet-name>Publisher</servlet-name>
		<servlet-class>
		com.ibm.websphere.webmsg.publisher.jndijms.JmsPublisherServlet</servlet-class>
		<init-param>
			<description>
			</description>
			<param-name>CONNECTION_FACTORY_JNDI_NAME</param-name>
			<param-value>java:comp/env/jms/ConcordPublish</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		WebMsgServlet</display-name>
		<servlet-name>WebMsgServlet</servlet-name>
		<servlet-class>
		com.ibm.websphere.webmsg.servlet.WebMsgServlet</servlet-class>
	</servlet>-->
	<servlet>
		<description>
		</description>
		<display-name>FormLoginServlet</display-name>
		<servlet-name>FormLoginServlet</servlet-name>
		<servlet-class>
		com.ibm.concord.servlets.FormLoginServlet</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>FilesServlet</servlet-name>
		<servlet-class>
		com.ibm.concord.servlets.FilesServlet</servlet-class>
		<init-param>  
			<description>Specify if only ipad UIWebView supported</description>
	        <param-name>browserLimited</param-name>  
	        <param-value>true</param-value>  
     	</init-param>  
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SaveTemplateServlet</display-name>
		<servlet-name>SaveTemplateServlet</servlet-name>
		<servlet-class>
		com.ibm.concord.servlets.SaveTemplateServlet</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>DocsVersionServlet</servlet-name>
        <servlet-class>com.ibm.concord.servlets.DocsVersionServlet</servlet-class>
    </servlet>  

	<servlet-mapping>
		<servlet-name>NewDocumentServlet</servlet-name>
		<url-pattern>/app/newdoc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConcordDocServlet</servlet-name>
		<url-pattern>/app/doc/*</url-pattern>	
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>serviceServlet</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	<!-- <servlet-mapping>
		<servlet-name>WebMsgServlet</servlet-name>
		<url-pattern>/coEditServlet</url-pattern>
	</servlet-mapping>-->
	<servlet-mapping>
		<servlet-name>ErrorPage</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FormLoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveTemplateServlet</servlet-name>
		<url-pattern>/SaveTemplateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FilesServlet</servlet-name>
		<url-pattern>/app/files</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocsVersionServlet</servlet-name>
        <url-pattern>/version</url-pattern>
    </servlet-mapping>  
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login</form-login-page>
			<form-error-page>/login?error=true</form-error-page>
		</form-login-config>
	</login-config>
	<ejb-ref>
		<description>
		</description>
		<ejb-ref-name>ejb/HouseKeeping</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.ibm.websphere.scheduler.TaskHandlerHome</home>
		<remote>com.ibm.websphere.scheduler.TaskHandler</remote>
		<ejb-link>HouseKeeping</ejb-link>
	</ejb-ref>
	<resource-ref id="ResourceRef_com_ibm_concord_datasource">
      <description></description>
      <res-ref-name>com/ibm/concord/datasource</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
      <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
    <resource-ref id="ResourceRef_jms_IBMDocsPublish">
		<res-ref-name>jms/IBMDocsPublish</res-ref-name>
		<res-type>javax.jms.TopicConnectionFactory</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref id="ResourceRef_jms_IBMDocsJournalTopic">
		<res-ref-name>jms/IBMDocsJournalTopic</res-ref-name>
		<res-type>javax.jms.Topic</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>	
	<resource-ref id="ResourceRef_com_ibm_concord_workmanager">
		<description>
		</description>
		<res-ref-name>com/ibm/concord/workmanager</res-ref-name>
		<res-type>com.ibm.websphere.asynchbeans.WorkManager</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref id="ResourceRef_com_ibm_concord_house_keeping_scheduler">
		<description>
		</description>
		<res-ref-name>com/ibm/concord/house_keeping_scheduler</res-ref-name>
		<res-type>com.ibm.websphere.scheduler.Scheduler</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref id="ResourceRef_com_ibm_docs_autosave_workmanager">
		<description>
		</description>
		<res-ref-name>com/ibm/docs/autosave/workmanager</res-ref-name>
		<res-type>com.ibm.websphere.asynchbeans.WorkManager</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref id="ResourceRef_com_ibm_docs_autopublish_workmanager">
		<description>
		</description>
		<res-ref-name>com/ibm/docs/autopublish/workmanager</res-ref-name>
		<res-type>com.ibm.websphere.asynchbeans.WorkManager</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>	
	<resource-ref id="ResourceRef_com_ibm_docs_convertinupload_workmanager">
		<description>
		</description>
		<res-ref-name>com/ibm/docs/upload/convert/workmanager</res-ref-name>
		<res-type>com.ibm.websphere.asynchbeans.WorkManager</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref id="ResourceRef_com_ibm_docs_migration_workmanager">
		<description>
		</description>
		<res-ref-name>com/ibm/docs/migration/workmanager</res-ref-name>
		<res-type>com.ibm.websphere.asynchbeans.WorkManager</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref id="ResourceRef_com_ibm_docs_savechunk_workmanager">
		<description>
		</description>
		<res-ref-name>com/ibm/docs/savechunk/workmanager</res-ref-name>
		<res-type>com.ibm.websphere.asynchbeans.WorkManager</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>	
	<resource-ref id="ResourceRef_com_ibm_docs_nodejscalc_workmanager">
		<description>
		</description>
		<res-ref-name>com/ibm/docs/nodejscalc/workmanager</res-ref-name>
		<res-type>com.ibm.websphere.asynchbeans.WorkManager</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref id="ResourceRef_com_ibm_docs_housekeeping_timermanager">
		<description>
		</description>
		<res-ref-name>com/ibm/docs/housekeeping/timermanager</res-ref-name>
		<res-type>commonj.timers.TimerManager</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Unshareable</res-sharing-scope>
	</resource-ref>	
	<filter-mapping>
		<filter-name>SessionUserFilter</filter-name>
		<url-pattern>/SaveTemplateServlet/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionUserFilter</filter-name>
		<url-pattern>/ut/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>HttpSettingsFilter</filter-name>
		<url-pattern>/login</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>HttpSettingsFilter</filter-name>
		<url-pattern>/version.txt</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>HttpSettingsFilter</filter-name>
		<url-pattern>/feature.json</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>HttpSettingsFilter</filter-name>
		<url-pattern>/error</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>HttpSettingsFilter</filter-name>
		<url-pattern>/j_security_check</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionUserFilter</filter-name>
		<url-pattern>/driverscallback/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ServerStatusFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ServerStatusFilter</filter-name>
		<url-pattern>/app/doc/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>provisioning</servlet-name>
		<servlet-class>com.ibm.concord.servlets.ConcordProvisioningServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>OfflineEditorServlet</display-name>
		<servlet-name>OfflineEditorServlet</servlet-name>
		<servlet-class>com.ibm.concord.servlets.OfflineEditorServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ConcordAuthServlet</display-name>
		<servlet-name>ConcordAuthServlet</servlet-name>
		<servlet-class>com.ibm.concord.servlets.ConcordAuthServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DriverEndpointCallback</display-name>
		<servlet-name>DriverEndpointCallback</servlet-name>
		<servlet-class>com.ibm.concord.servlets.DriverEndpointCallback</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>provisioning</servlet-name>
		<url-pattern>/provisioning/endpoint</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FilesServlet</servlet-name>
		<url-pattern>/app/blank</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OfflineEditorServlet</servlet-name>
		<url-pattern>/app/offlineEditor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConcordAuthServlet</servlet-name>
		<url-pattern>/shouldnotexist2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConcordAuthServlet</servlet-name>
		<url-pattern>/shouldnotexist1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConcordAuthServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConcordAuthServlet</servlet-name>
		<url-pattern>/expiration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DriverEndpointCallback</servlet-name>
		<url-pattern>/driverscallback</url-pattern>
	</servlet-mapping>	

    <security-constraint>
        <!-- Authorization setting for SSL -->
        <web-resource-collection>
            <web-resource-name>SSL</web-resource-name>
            <url-pattern>/login</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>  	
   <security-constraint>
      <web-resource-collection>
        <web-resource-name>Docs Authentication</web-resource-name>
	    <url-pattern>/app/doc/lcfiles/*</url-pattern>
      </web-resource-collection>
   	  <auth-constraint>
		<role-name>person</role-name>
	  </auth-constraint>
   </security-constraint> 
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/pages/error.jsp</location>
	</error-page>
	<security-role>
      <description>
      </description>
      <role-name>person</role-name>
   </security-role>

</web-app>
