<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>CV</title>
</head>
<body  class="concord_Doc_Style_1">
<p style="color:#0000ff;text-align:center;font-size:15pt;">Phillipe Babineaux</p>
<p style="color:#333333;text-align:center;font-size:10pt;"> </p>
<p style="color:#333333;text-align:center;font-size:10pt;">Stradă, Oras, Judeţ/Sector, Ţară</p>
<p style="color:#333333;text-align:center;font-size:10pt;">617-555-0000</p>
<p style="color:#333333;text-align:center;font-size:10pt;">phillipe.babineaux@yourcompany.com</p>
<p style="color:#333333;text-align:center;font-size:10pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIN"><li class="lst-cs" value="lst-cs">Rezumat</li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">Sunt o persoană agreabilă, foarte eficientă şi atentă la detalii.</span></p>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIE"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Educaţie</li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-weight:bold;font-size:11pt;">Numiţi universitatea la care aţi studiat recent</span></p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">2000 - 2004</span></p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">Tipul de diplomă, Nume disciplină de bază</span></p>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIR"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Experienţă de lucru</li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="color:#333333;margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Numele angajatorului curent, Locaţie</p>
<p style="color:#333333;margin-left:0.4991cm;font-size:11pt;">2007 - Prezent</p>
<p style="color:#333333;margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Titlu poziţie</p>
<ul class="lst-VDEA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li class="ls-d"><ul class="lst-d" >
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Planificarea şi identificarea de resurse pentru ghidarea unui proiect</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Înţelegerea nevoilor clienţilor şi stabilirea unui plan al proiectului</span></li>
</ul></li>
</ul>
<p style="margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Numele ultimului angajator, Locaţie</p>
<p style="margin-left:0.4991cm;font-size:11pt;">2004 - 2006</p>
<p style="margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Titlu poziţie</p>
<ul class="lst-VADA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li class="ls-d"><ul class="lst-d" >
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Planificarea şi identificarea de resurse pentru ghidarea unui proiect</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Înţelegerea nevoilor clienţilor şi stabilirea unui plan al proiectului</span></li>
</ul></li>
</ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHEN"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Interese </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul class="lst-VCEA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Cel mai important pentru mine sunt copiii mei. Îmi place să-mi petrec timpul cu ei, în orice activitate a lor.</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Îmi place să citesc online, fie de la site-uri specifice, fie de la alimentările RSS la care m-am abonat, iar ocazional citesc o carte sau ascult o carte audio.</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Îmi place să rămân activ. Încerc să fac sport în mod regulat ca parte dintr-o ligă sportivă pentru amatori. Din activităţile în aer liber menţionez: ciclism, alergări, înot, plimbări, fotbalul şi golful.</span></li>
</ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PEIN"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Referinţe</li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">Listaţi informaţiile de referinţe.</span></p>
</body>
</html>
