<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Adresă</span></p>
<p><span style="font-weight:bold;">Oraş, Judeţ/Sector, Cod poştal</span></p>
<p><span style="font-weight:bold;">15.02.2012</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Phillipe Babineaux</span></p>
<p><span style="font-weight:bold;">Director executiv</span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">Adresă</span></p>
<p><span style="font-weight:bold;">Oraş, Judeţ/Sector, Cod poştal</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Dragă domnule Babineaux,</p>
<p><br class="hideInIE"></p>
<p>Suntem mândrii să vă putem prezenta prin acest e-mail cea mai recentă unealtă pentru creşterea productivităţii, HCL Docs.</p>
<p><br class="hideInIE"></p>
<p>HCL Docs este un editor bazat pe web pentru crearea în colaborare şi partajarea documentelor, foilor de calcul tabelar şi a prezentărilor. Reprezintă un mod îmbunătăţit de a crea documente, care permite editarea în colaborare, comentariile şi discuţiile bazate pe context, precum şi atribuirea de secţiuni membrilor echipei.</p>
<p><br class="hideInIE"></p>
<p>Vă rugăm nu ezitaţi să ne contactaţi dacă aveţi nevoie de informaţii suplimentare.</p>
<p><br class="hideInIE"></p>
<p>Cu respect,</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Senior Sales Manager</span></p>
<p><br class="hideInIE"></p>
<p>Anexe</p>
</body>
</html>
