

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Referinţe</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >Prenume, Nume (AAAA). Nume sursă. Nume editor, început - sfârşit.</li>
			<li documentBlock="true" >Prenume, Nume (AAAA). Nume sursă. Nume editor, început - sfârşit.</li>
			<li documentBlock="true" >Prenume, Nume (AAAA). Nume sursă. Nume editor, început - sfârşit.</li>
			<li documentBlock="true" >Prenume, Nume (AAAA). Nume sursă. Nume editor, început - sfârşit.</li>
			<li documentBlock="true" >Prenume, Nume (AAAA). Nume sursă. Nume editor, început - sfârşit.</li>
			<li documentBlock="true" >Prenume, Nume (AAAA). Nume sursă. Nume editor, început - sfârşit.</li>
			<li documentBlock="true" >Prenume, Nume (AAAA). Nume sursă. Nume editor, început - sfârşit.</li>
			<li documentBlock="true" >Prenume, Nume (AAAA). Nume sursă. Nume editor, început - sfârşit.</li>
			<li documentBlock="true" >Prenume, Nume (AAAA). Nume sursă. Nume editor, început - sfârşit.</li>
			<li documentBlock="true" >Prenume, Nume (AAAA). Nume sursă. Nume editor, început - sfârşit.</li>
		</ul>
	</div>

</div>
<p></p>
