<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Παύλος Πετρίδης</span></p>
<p><span style="font-weight:bold;">Οδός</span></p>
<p><span style="font-weight:bold;">Τ.Κ., Πόλη</span></p>
<p><span style="font-weight:bold;">15/02/2012</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Γιώργος Μανωλίδης</span></p>
<p><span style="font-weight:bold;">Διευθύνων Σύμβουλος</span></p>
<p><span style="font-weight:bold;">Νέα Μέσα Α.Ε.</span></p>
<p><span style="font-weight:bold;">Οδός</span></p>
<p><span style="font-weight:bold;">Τ.Κ., Πόλη</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Αγαπητέ κ. Μανωλίδη,</p>
<p><br class="hideInIE"></p>
<p>Είμαι στην ευχάριστη θέση να σας παρουσιάσω το νέο πακέτο εργαλείων παραγωγικότητας HCL Docs.</p>
<p><br class="hideInIE"></p>
<p>Το HCL Docs είναι ένα πακέτο διαδικτυακών εργαλείων για τη δημιουργία και την κοινή χρήση και επεξεργασία εγγράφων κειμένου, υπολογιστικών φύλλων και παρουσιάσεων. Τα εργαλεία αυτά είναι ιδιαίτερα χρήσιμα αφού σας επιτρέπουν να αναπτύσσετε περιεχόμενο από κοινού με τους συνεργάτες σας, να σχολιάζετε και να συζητάτε σχετικά με τα έγγραφα που επεξεργάζεστε, και να αναθέτετε στα μέλη της ομάδας σας την εκτέλεση εργασιών για συγκεκριμένες ενότητες των εγγράφων σας.</p>
<p><br class="hideInIE"></p>
<p>Αν χρειάζεστε περισσότερες πληροφορίες, μην διστάσετε να επικοινωνήσετε μαζί μου.</p>
<p><br class="hideInIE"></p>
<p>Με εκτίμηση,</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Παύλος Πετρίδης</span></p>
<p><span style="font-weight:bold;">Γενικός Διευθυντής Πωλήσεων</span></p>
<p><br class="hideInIE"></p>
<p>Συνημμένα</p>
</body>
</html>
