<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Βιογραφικό</title>
</head>
<body  class="concord_Doc_Style_1">
<p style="color:#0000ff;text-align:center;font-size:15pt;">Γιώργος Μανωλίδης</p>
<p style="color:#333333;text-align:center;font-size:10pt;"> </p>
<p style="color:#333333;text-align:center;font-size:10pt;">Οδός 1, Περιοχή, Τ.Κ., Πόλη, Χώρα</p>
<p style="color:#333333;text-align:center;font-size:10pt;">210 2540400</p>
<p style="color:#333333;text-align:center;font-size:10pt;">giorgos.manolidis@etaireia.com</p>
<p style="color:#333333;text-align:center;font-size:10pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIN"><li class="lst-cs" value="lst-cs">Σύνοψη </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">Είμαι ένας ιδιαίτερα φιλικός και πρόσχαρος άνθρωπος με οργανωτικό πνεύμα και διάθεση για δουλειά.</span></p>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIE"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Σπουδές </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-weight:bold;font-size:11pt;">Όνομα πανεπιστημίου ή/και σχολής</span></p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">2000 - 2004</span></p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">Είδος διπλώματος, Αντικείμενο/Ειδίκευση</span></p>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIR"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Εργασιακή εμπειρία </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="color:#333333;margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Όνομα τρέχοντος εργοδότη, Διεύθυνση</p>
<p style="color:#333333;margin-left:0.4991cm;font-size:11pt;">2007 - Σήμερα</p>
<p style="color:#333333;margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Περιγραφή εργασίας</p>
<ul class="lst-VDEA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li class="ls-d"><ul class="lst-d" >
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Δημιουργία χρονοδιαγράμματος και προσδιορισμός απαιτούμενων πόρων για την εκτέλεση του έργου</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Κατανόηση αναγκών πελάτη και προετοιμασία σχεδίου έργου</span></li>
</ul></li>
</ul>
<p style="margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Όνομα προηγούμενου εργοδότη, Διεύθυνση</p>
<p style="margin-left:0.4991cm;font-size:11pt;">2004 - 2006</p>
<p style="margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Περιγραφή εργασίας</p>
<ul class="lst-VADA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li class="ls-d"><ul class="lst-d" >
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Δημιουργία χρονοδιαγράμματος και προσδιορισμός απαιτούμενων πόρων για την εκτέλεση του έργου</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Κατανόηση αναγκών πελάτη και προετοιμασία σχεδίου έργου</span></li>
</ul></li>
</ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHEN"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Ενδιαφέροντα </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul class="lst-VCEA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Το σημαντικότερο ενδιαφέρον μου είναι τα παιδιά μου. Μου αρέσει πολύ να περνώ χρόνο μαζί τους και να συμμετέχω σε όλες τις δραστηριότητές τους.</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Μου αρέσει να περιηγούμαι στο διαδίκτυο και να παρακολουθώ τις νέες δημοσιεύσεις μέσω των ροών RSS στις οποίες είμαι εγγεγραμμένος. Μου αρέσει επίσης το διάβασμα.</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Αγαπάω επίσης τον αθλητισμό και τις δραστηριότητες στη φύση. Προσπαθώ να ακολουθώ ένα τακτικό πρόγραμμα γυμναστικής και συχνά παίζω σε μια ομάδα μπάσκετ. Κάνω ποδήλατο και, όποτε μπορώ, πηγαίνω μαζί με την οικογένεια και φίλους για ράφτινγκ, πεζοπορία και κολύμπι.</span></li>
</ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PEIN"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Συστάσεις </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">Λίστα συστάσεων</span></p>
</body>
</html>
