
<table cellspacing="0px" style="table-layout: fixed; border-collapse: collapse; width: 100%;"><tbody><tr>
	<td style="width: 100%; padding-top: 1.0583cm; padding-bottom:0.2646cm; border-bottom: 3pt solid #9E9E9E;">
		<p><span style="font-weight:bold;font-size: 13.5pt;letter-spacing: 0.0529cm;color: #e1350d;">ΌΝΟΜΑ ΕΠΩΝΥΜΟ</span></p>
		<p style="font-size: 8.25pt;color: #555;letter-spacing: 0.0529cm;"><br class="hideInIE"></p>
		<p>
			<span style="font-size: 8.25pt;color: #555;letter-spacing: 0.0529cm;">Όνομα οδού 123&nbsp;&nbsp;&nbsp;Τ.Κ. 123 45, Πόλη&nbsp;&nbsp;&nbsp;email@example.com&nbsp;&nbsp;&nbsp;210 2525255</span>
		</p>
	</td>
</tr></tbody></table>
<p></p>
