

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Παραπομπές</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >Επώνυμο, Όνομα (ΕΕΕΕ). Όνομα πηγής. Επωνυμία εκδότη, αρχή - τέλος.</li>
			<li documentBlock="true" >Επώνυμο, Όνομα (ΕΕΕΕ). Όνομα πηγής. Επωνυμία εκδότη, αρχή - τέλος.</li>
			<li documentBlock="true" >Επώνυμο, Όνομα (ΕΕΕΕ). Όνομα πηγής. Επωνυμία εκδότη, αρχή - τέλος.</li>
			<li documentBlock="true" >Επώνυμο, Όνομα (ΕΕΕΕ). Όνομα πηγής. Επωνυμία εκδότη, αρχή - τέλος.</li>
			<li documentBlock="true" >Επώνυμο, Όνομα (ΕΕΕΕ). Όνομα πηγής. Επωνυμία εκδότη, αρχή - τέλος.</li>
			<li documentBlock="true" >Επώνυμο, Όνομα (ΕΕΕΕ). Όνομα πηγής. Επωνυμία εκδότη, αρχή - τέλος.</li>
			<li documentBlock="true" >Επώνυμο, Όνομα (ΕΕΕΕ). Όνομα πηγής. Επωνυμία εκδότη, αρχή - τέλος.</li>
			<li documentBlock="true" >Επώνυμο, Όνομα (ΕΕΕΕ). Όνομα πηγής. Επωνυμία εκδότη, αρχή - τέλος.</li>
			<li documentBlock="true" >Επώνυμο, Όνομα (ΕΕΕΕ). Όνομα πηγής. Επωνυμία εκδότη, αρχή - τέλος.</li>
			<li documentBlock="true" >Επώνυμο, Όνομα (ΕΕΕΕ). Όνομα πηγής. Επωνυμία εκδότη, αρχή - τέλος.</li>
		</ul>
	</div>

</div>
<p></p>
