<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html dir="RTL">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">חיים</span></p>
<p><span style="font-weight:bold;">רחוב</span></p>
<p><span style="font-weight:bold;">עיר, מיקוד</span></p>
<p><span style="font-weight:bold;">2012/02/15</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">יוסף לוי</span></p>
<p><span style="font-weight:bold;">מנכ"ל</span></p>
<p><span style="font-weight:bold;">שיפוצים בע"מ</span></p>
<p><span style="font-weight:bold;">רחוב</span></p>
<p><span style="font-weight:bold;">עיר, מיקוד</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>מר לוי היקר </p>
<p><br class="hideInIE"></p>
<p>אני מתכבד להציג בפניך את הכלי החדש HCL Docs באמצעות דואל זה.  </p>
<p><br class="hideInIE"></p>
<p>HCL Docs הוא עורך מבוסס רשת ליצירה, שיתוף ועבודת צוות על מסמכים, גליונות אלקטרוניים ומצגות. הוא מספק דרך טובה יותר ליצירת מסמכים, מפני שאפשר לערוך אותם במשותף עם עמיתים, להוסיף הערות ולדון בהם בהקשר, ולהקצות חלקים לחברי צוות. </p>
<p><br class="hideInIE"></p>
<p>אשמח אם תיצור אתי קשר כדי לקבל מידע נוסף. </p>
<p><br class="hideInIE"></p>
<p>בכבוד רב, </p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">חיים</span></p>
<p><span style="font-weight:bold;">מנהל מכירות בכיר</span></p>
<p><br class="hideInIE"></p>
<p>צרופות</p>
</body>
</html>
