

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>המלצות</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >שם פרטי, שם משפחה (YYYY). שם מקור. שם מו"ל, התחלה - סוף</li>
			<li documentBlock="true" >שם פרטי, שם משפחה (YYYY). שם מקור. שם מו"ל, התחלה - סוף</li>
			<li documentBlock="true" >שם פרטי, שם משפחה (YYYY). שם מקור. שם מו"ל, התחלה - סוף</li>
			<li documentBlock="true" >שם פרטי, שם משפחה (YYYY). שם מקור. שם מו"ל, התחלה - סוף</li>
			<li documentBlock="true" >שם פרטי, שם משפחה (YYYY). שם מקור. שם מו"ל, התחלה - סוף</li>
			<li documentBlock="true" >שם פרטי, שם משפחה (YYYY). שם מקור. שם מו"ל, התחלה - סוף</li>
			<li documentBlock="true" >שם פרטי, שם משפחה (YYYY). שם מקור. שם מו"ל, התחלה - סוף</li>
			<li documentBlock="true" >שם פרטי, שם משפחה (YYYY). שם מקור. שם מו"ל, התחלה - סוף</li>
			<li documentBlock="true" >שם פרטי, שם משפחה (YYYY). שם מקור. שם מו"ל, התחלה - סוף</li>
			<li documentBlock="true" >שם פרטי, שם משפחה (YYYY). שם מקור. שם מו"ל, התחלה - סוף</li>
		</ul>
	</div>

</div>
<p></p>
