<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Ulica</span></p>
<p><span style="font-weight:bold;">Grad, država, poštanski broj</span></p>
<p><span style="font-weight:bold;">2012/02/15</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Phillipe Babineaux</span></p>
<p><span style="font-weight:bold;">Generalni direktor </span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">Ulica</span></p>
<p><span style="font-weight:bold;">Grad, država, poštanski broj</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Poštovani G-dine Babineaux,</p>
<p><br class="hideInIE"></p>
<p>Čast mi je da vam preko e-pošte predstavim najnoviju alatku za unapređenje produktivnosti HCL Docs. </p>
<p><br class="hideInIE"></p>
<p>HCL Docs je uređivač zasnovan na mreži za kreiranje, deljenje i
zajedničko kreiranje dokumenata, unakrsnih tabela i prezentacija. U
pitanju je efikasniji način kreiranja dokumenata, koje sada možete
uređivati zajedno sa kolegama, komentarisati i diskutovati u
kontekstu, i dodeljivati odeljke članovima tima.</p>
<p><br class="hideInIE"></p>
<p>Slobodno nas kontaktirajte ukoliko vam je potrebno više informacija.</p>
<p><br class="hideInIE"></p>
<p>Srdačno,</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Viši menadžer prodaje</span></p>
<p><br class="hideInIE"></p>
<p>Prilozi</p>
</body>
</html>
