<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Kokouspöytäkirja</title>
</head>
<body  class="concord_Doc_Style_2">

<p class="page">

	<p documentBlock="true" restyle="false"  concordTemplateComponent="letterhead" class="letterhead">
		<h1>Kokouksen nimi</h1>
		<ul>
			<li>Projektin nimi</li>
			<li>Yrityksen nimi</li>
		</ul>
		<hr></hr>
	</p>


	<p documentBlock="true"  class="section">
		<h2>Osallistujat</h2>
		<table class="smartTable STStyle4" restyle="true" concordTemplateComponent="smartTable">
		<tbody>
			<tr class="tableHeaderRow">
				<th style="width: 200px;">Nimi</th>
				<th style="width: 250px;">Sähköpostiosoite</th>
				<th style="width: 250px;">Puhuttelunimike</th>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
		</tbody>
		</table>
		
	</p>
		
	<p documentBlock="true"  class="section">
		<h2>Esityslista</h2>
		<table class="smartTable STStyle4" restyle="true" concordTemplateComponent="smartTable">
		<tbody>
			<tr class="tableHeaderRow">
				<th style="width: 150px;">Yksikkö</th>
				<th style="width: 200px;">Omistaja</th>
				<th style="width: 150px;">Aika</th>
				<th style="width: 350px;">Kuvaus</th>

			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
		</tbody>
		</table>
			
	</p>
		
	<p documentBlock="true"  class="section">
		<h2>Toiminnon kohteet</h2>
		<table class="smartTable STStyle4" restyle="true" concordTemplateComponent="smartTable">
		<tbody>
			<tr class="tableHeaderRow">
				<th style="width: 150px;">Toiminnon kohde</th>
				<th style="width: 200px;">Omistaja</th>
				<th style="width: 150px;">Määräpäivä</th>
				<th style="width: 350px;">Kuvaus</th>

			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
		</tbody>
		</table>
			
		
		
	</p>
	
	<p documentBlock="true"  class="section">
		<h2>Huomautukset</h2>
		<ul>
		<!--
		<li>In veri quidam appetere vix, eum no nonumy aliquid sensibus. </li>
		<li>Vix id sumo suavitate cotidieque. Dignissim definiebas intellegebat eu qui, laoreet impedit senserit per ad, te est illum discere aliquam. </li>
		<li>Ullamcorper philosophia vix no, no ubique utroque mei, veri decore omittam ne ius. </li>
		-->
		</ul>

		
	</p>
	
</p>
</body>
</html>
