

<p class="page" id="researchpaper">


	<p restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Viitteet</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" ><span class="author">Sukunimi, Etunimi</span> <span class="date">(VVVV).</span> <span class="source">Lähteen nimi.</span> <span class="publisher">Julkaisijan nimi,</span> <span class="range">alku - loppu.</span></li>
			<li documentBlock="true" ><span class="author">Sukunimi, Etunimi</span> <span class="date">(VVVV).</span> <span class="source">Lähteen nimi.</span> <span class="publisher">Julkaisijan nimi,</span> <span class="range">alku - loppu.</span></li>
			<li documentBlock="true" ><span class="author">Sukunimi, Etunimi</span> <span class="date">(VVVV).</span> <span class="source">Lähteen nimi.</span> <span class="publisher">Julkaisijan nimi,</span> <span class="range">alku - loppu.</span></li>
			<li documentBlock="true" ><span class="author">Sukunimi, Etunimi</span> <span class="date">(VVVV).</span> <span class="source">Lähteen nimi.</span> <span class="publisher">Julkaisijan nimi,</span> <span class="range">alku - loppu.</span></li>
			<li documentBlock="true" ><span class="author">Sukunimi, Etunimi</span> <span class="date">(VVVV).</span> <span class="source">Lähteen nimi.</span> <span class="publisher">Julkaisijan nimi,</span> <span class="range">alku - loppu.</span></li>
			<li documentBlock="true" ><span class="author">Sukunimi, Etunimi</span> <span class="date">(VVVV).</span> <span class="source">Lähteen nimi.</span> <span class="publisher">Julkaisijan nimi,</span> <span class="range">alku - loppu.</span></li>
			<li documentBlock="true" ><span class="author">Sukunimi, Etunimi</span> <span class="date">(VVVV).</span> <span class="source">Lähteen nimi.</span> <span class="publisher">Julkaisijan nimi,</span> <span class="range">alku - loppu.</span></li>
			<li documentBlock="true" ><span class="author">Sukunimi, Etunimi</span> <span class="date">(VVVV).</span> <span class="source">Lähteen nimi.</span> <span class="publisher">Julkaisijan nimi,</span> <span class="range">alku - loppu.</span></li>
			<li documentBlock="true" ><span class="author">Sukunimi, Etunimi</span> <span class="date">(VVVV).</span> <span class="source">Lähteen nimi.</span> <span class="publisher">Julkaisijan nimi,</span> <span class="range">alku - loppu.</span></li>
			<li documentBlock="true" ><span class="author">Sukunimi, Etunimi</span> <span class="date">(VVVV).</span> <span class="source">Lähteen nimi.</span> <span class="publisher">Julkaisijan nimi,</span> <span class="range">alku - loppu.</span></li>
		</ul>
	</p>

</p>
<p></p>
