<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Джо
</span></p>
<p><span style="font-weight:bold;">Көшенің мекен-жайы</span></p>
<p><span style="font-weight:bold;">Қала, Пошталық индекс</span></p>
<p><span style="font-weight:bold;">2012/02/15</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Филипп Бабино</span></p>
<p><span style="font-weight:bold;">Бас атқарушы директор</span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">Көшенің мекен-жайы</span></p>
<p><span style="font-weight:bold;">Қала, Пошталық индекс</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Құрметті Бабино мырза,</p>
<p><br class="hideInIE"></p>
<p>Сізге осы электрондық хабарлама арқылы IBM Құжаттарының соңғы өнімділік құралын ұсынамын.</p>
<p><br class="hideInIE"></p>
<p>HCL Docs қызметі құжаттарды, кестелер мен көрсетілімдерді құру, бөлісу және бірлесіп әзірлеуге арналған желіге негізделген редактор. Бұл құжаттарды құру үшін арналған жақсы жол, себебі әріптестеріңізбен бірлесіп өңдеп, аңғартпа жазып және мазмұнды талқылай аласыз, сонымен қатар топ мүшелеріне бөлімдерді тағайындай аласыз.</p>
<p><br class="hideInIE"></p>
<p>Қосымша ақпарат қажет болса, менімен хабарласуға ұялмаңыз.</p>
<p><br class="hideInIE"></p>
<p>Құрметпен,</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Джо
</span></p>
<p><span style="font-weight:bold;">Жабдықтау бөлімінің бастығы</span></p>
<p><br class="hideInIE"></p>
<p>Салымдар</p>
</body>
</html>
