

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Сілтемелер</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >Аты, Тегі (ЖЖЖЖ). Қайнар көзінің аты. Жариялаушының аты, басы - соңы.</li>
			<li documentBlock="true" >Аты, Тегі (ЖЖЖЖ). Қайнар көзінің аты. Жариялаушының аты, басы - соңы.</li>
			<li documentBlock="true" >Аты, Тегі (ЖЖЖЖ). Қайнар көзінің аты. Жариялаушының аты, басы - соңы.</li>
			<li documentBlock="true" >Аты, Тегі (ЖЖЖЖ). Қайнар көзінің аты. Жариялаушының аты, басы - соңы.</li>
			<li documentBlock="true" >Аты, Тегі (ЖЖЖЖ). Қайнар көзінің аты. Жариялаушының аты, басы - соңы.</li>
			<li documentBlock="true" >Аты, Тегі (ЖЖЖЖ). Қайнар көзінің аты. Жариялаушының аты, басы - соңы.</li>
			<li documentBlock="true" >Аты, Тегі (ЖЖЖЖ). Қайнар көзінің аты. Жариялаушының аты, басы - соңы.</li>
			<li documentBlock="true" >Аты, Тегі (ЖЖЖЖ). Қайнар көзінің аты. Жариялаушының аты, басы - соңы.</li>
			<li documentBlock="true" >Аты, Тегі (ЖЖЖЖ). Қайнар көзінің аты. Жариялаушының аты, басы - соңы.</li>
			<li documentBlock="true" >Аты, Тегі (ЖЖЖЖ). Қайнар көзінің аты. Жариялаушының аты, басы - соңы.</li>
		</ul>
	</div>

</div>
<p></p>
