

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Preporuke</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >Ime, Prezime (YYYY). Ime izvora. Ime izdavača, početak - kraj.</li>
			<li documentBlock="true" >Ime, Prezime (YYYY). Ime izvora. Ime izdavača, početak - kraj.</li>
			<li documentBlock="true" >Ime, Prezime (YYYY). Ime izvora. Ime izdavača, početak - kraj.</li>
			<li documentBlock="true" >Ime, Prezime (YYYY). Ime izvora. Ime izdavača, početak - kraj.</li>
			<li documentBlock="true" >Ime, Prezime (YYYY). Ime izvora. Ime izdavača, početak - kraj.</li>
			<li documentBlock="true" >Ime, Prezime (YYYY). Ime izvora. Ime izdavača, početak - kraj.</li>
			<li documentBlock="true" >Ime, Prezime (YYYY). Ime izvora. Ime izdavača, početak - kraj.</li>
			<li documentBlock="true" >Ime, Prezime (YYYY). Ime izvora. Ime izdavača, početak - kraj.</li>
			<li documentBlock="true" >Ime, Prezime (YYYY). Ime izvora. Ime izdavača, početak - kraj.</li>
			<li documentBlock="true" >Ime, Prezime (YYYY). Ime izvora. Ime izdavača, početak - kraj.</li>
		</ul>
	</div>

</div>
<p></p>
