<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">József</span></p>
<p><span style="font-weight:bold;">Cím (utca, házszám)</span></p>
<p><span style="font-weight:bold;">Város, állam, irányítószám</span></p>
<p><span style="font-weight:bold;">2012. 02. 15.</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Barabás Fülöp</span></p>
<p><span style="font-weight:bold;">vezérigazgató</span></p>
<p><span style="font-weight:bold;">Helyreállító kft.</span></p>
<p><span style="font-weight:bold;">Cím (utca, házszám)</span></p>
<p><span style="font-weight:bold;">Város, állam, irányítószám</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Tisztelt Barabás úr!</p>
<p><br class="hideInIE"></p>
<p>Engem ért az a megtiszteltetés, hogy ebben az e-mailben bemutathassam Önnek legújabb, HCL Docs nevű termelékenységsegítő eszközünket.</p>
<p><br class="hideInIE"></p>
<p>Az HCL Docs egy webalapú szerkesztőprogram, amely dokumentumok, táblázatok és bemutatók készítésére, megosztására és több munkatárs által közösen történő szerkesztésére szolgál. Jobb megoldást nyújt az eddigieknél a dokumentumok készítésére, mert több munkatárs működhet együtt a szerkesztés során, tehet megjegyzéseket és vitathatja meg a dokumentum tartalmát a környezettől függően, és a dokumentum egyes részeit ki lehet osztani a csoport egyes tagjai számára.</p>
<p><br class="hideInIE"></p>
<p>Ha bármilyen további információra lenne szüksége, készséggel állok rendelkezésére.</p>
<p><br class="hideInIE"></p>
<p>Tisztelettel:</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">József</span></p>
<p><span style="font-weight:bold;">értékesítési osztályvezető</span></p>
<p><br class="hideInIE"></p>
<p>Mellékletek</p>
</body>
</html>
