

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Referenciák</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >Vezetéknév, utónév (éééé). A forrás neve. A kibocsátó neve, ettől - eddig.</li>
			<li documentBlock="true" >Vezetéknév, utónév (éééé). A forrás neve. A kibocsátó neve, ettől - eddig.</li>
			<li documentBlock="true" >Vezetéknév, utónév (éééé). A forrás neve. A kibocsátó neve, ettől - eddig.</li>
			<li documentBlock="true" >Vezetéknév, utónév (éééé). A forrás neve. A kibocsátó neve, ettől - eddig.</li>
			<li documentBlock="true" >Vezetéknév, utónév (éééé). A forrás neve. A kibocsátó neve, ettől - eddig.</li>
			<li documentBlock="true" >Vezetéknév, utónév (éééé). A forrás neve. A kibocsátó neve, ettől - eddig.</li>
			<li documentBlock="true" >Vezetéknév, utónév (éééé). A forrás neve. A kibocsátó neve, ettől - eddig.</li>
			<li documentBlock="true" >Vezetéknév, utónév (éééé). A forrás neve. A kibocsátó neve, ettől - eddig.</li>
			<li documentBlock="true" >Vezetéknév, utónév (éééé). A forrás neve. A kibocsátó neve, ettől - eddig.</li>
			<li documentBlock="true" >Vezetéknév, utónév (éééé). A forrás neve. A kibocsátó neve, ettől - eddig.</li>
		</ul>
	</div>

</div>
<p></p>
