<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Faxvoorblad </title>
</head>
<body  class="concord_Doc_Style_4">

<p class="page" id="fax">

	<p documentBlock="true" restyle="false" concordTemplateComponent="letterhead" class="letterhead">
		<h1>Faxvoorblad</h1>
		<!-- hr/-->
	</p>
	
	<p documentBlock="true"  class="section">
		<h2>Van</h2>
		<ul>
			<li class="author">Voornaam Achternaam</li>
			<li class="date">DD/MM/JJJJ</li>
			<li class="email">email@voorbeeld.com</li>
			<li class="phone">(123) 456-789</li>
		</ul>
	</p>

	<p documentBlock="true" class="section">
		<h2>Aan</h2>
		<ul>
			<li class="author">Voornaam Achternaam</li>
			<li class="date">DD/MM/JJJJ</li>
			<li class="email">email@voorbeeld.com</li>
			<li class="phone">(123) 456-789</li>
		</ul>
	</p>

	<p documentBlock="true" class="section">
		<h2>Inhoud</h2>
		<ul>
			<li>Document 1</li>
			<li>Document 2</li>
		</ul>
	</p>

	<p documentBlock="true"  class="section">
		<h2>Speciale instructies</h2>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>		
		-->
	</p>
	
</p>

</body>
</html>
