<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Begeleidende brief</title>
</head>
<body class="concord_Doc_Style_11">

<p class="page" id="coverletter">

	<p documentBlock="true" restyle="false"  concordTemplateComponent="letterhead" class="letterhead">
		<h1>Voornaam Achternaam</h1>
		<ul>
			<li class="addressLine1">Straatnaam 1234</li>
			<li class="addressLine2">Plaats, Staat 12345</li>
			<li class="email">email@voorbeeld.com</li>
			<li class="phone">(123) 456-7890</li>
		</ul>
	</p>

	<p documentBlock="true" class="section summary">
		<h2>Aan</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list_16">
			<li class="name">Voornaam Achternaam</li>
			<li class="addressLine1">Straatnaam 1234</li>
			<li class="addressLine2">Plaats, Staat 12345</li>
			<li class="email">email@voorbeeld.com</li>
			<li class="phone">(123) 456-7890</li>
		</ul>
	</p>
		
	<p documentBlock="true"  class="section">
		<p>Geachte Naam,</p>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		-->
		<p>Met vriendelijke groet,</p>
		<p>Voornaam Achternaam</p>
	</p>
	
</p>
</body>
</html>
