

<p class="page" id="researchpaper">


	<p restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Referenties</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" ><span class="author">Achternaam, Voornaam</span> <span class="date">(JJJJ).</span> <span class="source">naam bron.</span> <span class="publisher">Naam publiceerder,</span> <span class="range">begin - einde.</span></li>
			<li documentBlock="true" ><span class="author">Achternaam, Voornaam</span> <span class="date">(JJJJ).</span> <span class="source">naam bron.</span> <span class="publisher">Naam publiceerder,</span> <span class="range">begin - einde.</span></li>
			<li documentBlock="true" ><span class="author">Achternaam, Voornaam</span> <span class="date">(JJJJ).</span> <span class="source">naam bron.</span> <span class="publisher">Naam publiceerder,</span> <span class="range">begin - einde.</span></li>
			<li documentBlock="true" ><span class="author">Achternaam, Voornaam</span> <span class="date">(JJJJ).</span> <span class="source">naam bron.</span> <span class="publisher">Naam publiceerder,</span> <span class="range">begin - einde.</span></li>
			<li documentBlock="true" ><span class="author">Achternaam, Voornaam</span> <span class="date">(JJJJ).</span> <span class="source">naam bron.</span> <span class="publisher">Naam publiceerder,</span> <span class="range">begin - einde.</span></li>
			<li documentBlock="true" ><span class="author">Achternaam, Voornaam</span> <span class="date">(JJJJ).</span> <span class="source">naam bron.</span> <span class="publisher">Naam publiceerder,</span> <span class="range">begin - einde.</span></li>
			<li documentBlock="true" ><span class="author">Achternaam, Voornaam</span> <span class="date">(JJJJ).</span> <span class="source">naam bron.</span> <span class="publisher">Naam publiceerder,</span> <span class="range">begin - einde.</span></li>
			<li documentBlock="true" ><span class="author">Achternaam, Voornaam</span> <span class="date">(JJJJ).</span> <span class="source">naam bron.</span> <span class="publisher">Naam publiceerder,</span> <span class="range">begin - einde.</span></li>
			<li documentBlock="true" ><span class="author">Achternaam, Voornaam</span> <span class="date">(JJJJ).</span> <span class="source">naam bron.</span> <span class="publisher">Naam publiceerder,</span> <span class="range">begin - einde.</span></li>
			<li documentBlock="true" ><span class="author">Achternaam, Voornaam</span> <span class="date">(JJJJ).</span> <span class="source">naam bron.</span> <span class="publisher">Naam publiceerder,</span> <span class="range">begin - einde.</span></li>
		</ul>
	</p>

</p>
<p></p>
