<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Alamat</span></p>
<p><span style="font-weight:bold;">Kota, Jalan, Kode Pos</span></p>
<p><span style="font-weight:bold;">2012/02/15</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Phillipe Babineaux</span></p>
<p><span style="font-weight:bold;">Direktur Eksekutif</span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">Alamat</span></p>
<p><span style="font-weight:bold;">Kota, Jalan, Kode Pos</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Bpk. Babineaux yang Terhormat,</p>
<p><br class="hideInIE"></p>
<p>Saya merasa terhormat untuk memperkenalkan alat produktivitas terbaru HCL Docs kepada Anda melalui email ini.</p>
<p><br class="hideInIE"></p>
<p>HCL Docs adalah editor berbasis web untuk membuat, berbagi, dan secara bersama-sama menulis dokumen, spreadsheet, dan presentasi. Ini merupakan cara yang lebih baik untuk membuat dokumen, karena Anda dapat mengeditnya secara bersama-sama dengan kolega, berdiskusi dan memberi komentar sesuai konteks, dan menugaskan bagian-bagian tertentu untuk anggota tim.</p>
<p><br class="hideInIE"></p>
<p>Jangan ragu untuk menghubungi saya jika Anda membutuhkan informasi lebih lanjut.</p>
<p><br class="hideInIE"></p>
<p>Hotmat Kami,</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Manajer Pemasaran Senior</span></p>
<p><br class="hideInIE"></p>
<p>Lampiran</p>
</body>
</html>
