<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Lembar Sampul Faks</title>
</head>
<body  class="concord_Doc_Style_1">
<table cellspacing="0px" style="table-layout:fixed;word-break:break-all;border-collapse:collapse;">
<tbody>
<tr>
<td style="padding:0.5cm;border-top:none ;border-left:none ;border-right:none ;border-bottom:2.4984pt solid #99ccff ;vertical-align:top;width:2.5cm;">
<p><span style="font-size:10pt;">Logo perusahaan</span></p>
</td>
<td style="padding:0.5cm;border-top:none ;border-left:none ;border-right:none ;border-bottom:2.4984pt solid #99ccff ;vertical-align:top;width:4.5cm">
<p><span style="font-weight:bold;font-size:14pt;">Renovations Inc.</span></p>
</td>
<td style="padding:0.5cm;border-top:none ;border-left:none ;border-right:none ;border-bottom:2.4984pt solid #99ccff ;vertical-align:top;width:3cm;">
<p><span style="font-size:10pt;">Alamat perusahaan</span></p>
</td>
<td style="padding:0.5cm;border-top:none ;border-left:none ;border-right:none ;border-bottom:2.4984pt solid #99ccff ;vertical-align:top;width:3cm;">
<p><span style="font-size:10pt;">Tel: 617-555-0000</span></p>
</td>
</tr>
</tbody>
</table>
<p><br class="hideInIE"></p>
<table cellspacing="0px" style="table-layout:fixed;word-break:break-all;border-collapse:collapse;">
<tbody>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;width:6.21cm;">
<p style="text-align:right;"><span style="font-size:10pt;">KEPADA:</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;width:9.31cm;">
<p style="text-align:left;"><span style="font-size:10pt;">Phillipe Babineaux</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;"><span style="font-size:10pt;">FAKS:</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="font-size:10pt;">617-555-0001</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;"><span style="font-size:10pt;">DARI:</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="font-size:10pt;">Joe</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;"><span style="font-size:10pt;">TANGGAL:</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="font-size:10pt;">2012/02/15</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;"><span style="font-size:10pt;">BLS:</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span class="T6" style="font-size:10pt;">Subjek faks</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;"><span style="font-size:10pt;">HALAMAN:</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="font-size:10pt;">1</span></p>
</td>
</tr>
</tbody>
</table>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Ketik konten Anda di sini ...</p>
</body>
</html>
