

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Referensi</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >Nama Depan, Nama Keluarga (TTTT). Nama Sumber. Nama Penerbit, awal - akhir.</li>
			<li documentBlock="true" >Nama Depan, Nama Keluarga (TTTT). Nama Sumber. Nama Penerbit, awal - akhir.</li>
			<li documentBlock="true" >Nama Depan, Nama Keluarga (TTTT). Nama Sumber. Nama Penerbit, awal - akhir.</li>
			<li documentBlock="true" >Nama Depan, Nama Keluarga (TTTT). Nama Sumber. Nama Penerbit, awal - akhir.</li>
			<li documentBlock="true" >Nama Depan, Nama Keluarga (TTTT). Nama Sumber. Nama Penerbit, awal - akhir.</li>
			<li documentBlock="true" >Nama Depan, Nama Keluarga (TTTT). Nama Sumber. Nama Penerbit, awal - akhir.</li>
			<li documentBlock="true" >Nama Depan, Nama Keluarga (TTTT). Nama Sumber. Nama Penerbit, awal - akhir.</li>
			<li documentBlock="true" >Nama Depan, Nama Keluarga (TTTT). Nama Sumber. Nama Penerbit, awal - akhir.</li>
			<li documentBlock="true" >Nama Depan, Nama Keluarga (TTTT). Nama Sumber. Nama Penerbit, awal - akhir.</li>
			<li documentBlock="true" >Nama Depan, Nama Keluarga (TTTT). Nama Sumber. Nama Penerbit, awal - akhir.</li>
		</ul>
	</div>

</div>
<p></p>
