

<p class="page" id="researchpaper">


	<p restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Referencer</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" ><span class="author">Fornavn, Efternavn</span> <span class="date">(YYYY).</span> <span class="source">Navn på kilde.</span> <span class="publisher">Navn på udgiver,</span> <span class="range">start - slut.</span></li>
			<li documentBlock="true" ><span class="author">Fornavn, Efternavn</span> <span class="date">(YYYY).</span> <span class="source">Navn på kilde.</span> <span class="publisher">Navn på udgiver,</span> <span class="range">start - slut.</span></li>
			<li documentBlock="true" ><span class="author">Fornavn, Efternavn</span> <span class="date">(YYYY).</span> <span class="source">Navn på kilde.</span> <span class="publisher">Navn på udgiver,</span> <span class="range">start - slut.</span></li>
			<li documentBlock="true" ><span class="author">Fornavn, Efternavn</span> <span class="date">(YYYY).</span> <span class="source">Navn på kilde.</span> <span class="publisher">Navn på udgiver,</span> <span class="range">start - slut.</span></li>
			<li documentBlock="true" ><span class="author">Fornavn, Efternavn</span> <span class="date">(YYYY).</span> <span class="source">Navn på kilde.</span> <span class="publisher">Navn på udgiver,</span> <span class="range">start - slut.</span></li>
			<li documentBlock="true" ><span class="author">Fornavn, Efternavn</span> <span class="date">(YYYY).</span> <span class="source">Navn på kilde.</span> <span class="publisher">Navn på udgiver,</span> <span class="range">start - slut.</span></li>
			<li documentBlock="true" ><span class="author">Fornavn, Efternavn</span> <span class="date">(YYYY).</span> <span class="source">Navn på kilde.</span> <span class="publisher">Navn på udgiver,</span> <span class="range">start - slut.</span></li>
			<li documentBlock="true" ><span class="author">Fornavn, Efternavn</span> <span class="date">(YYYY).</span> <span class="source">Navn på kilde.</span> <span class="publisher">Navn på udgiver,</span> <span class="range">start - slut.</span></li>
			<li documentBlock="true" ><span class="author">Fornavn, Efternavn</span> <span class="date">(YYYY).</span> <span class="source">Navn på kilde.</span> <span class="publisher">Navn på udgiver,</span> <span class="range">start - slut.</span></li>
			<li documentBlock="true" ><span class="author">Fornavn, Efternavn</span> <span class="date">(YYYY).</span> <span class="source">Navn på kilde.</span> <span class="publisher">Navn på udgiver,</span> <span class="range">start - slut.</span></li>
		</ul>
	</p>

</p>
<p></p>
