<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Can Sunay</span></p>
<p><span style="font-weight:bold;">Açık Adres</span></p>
<p><span style="font-weight:bold;">İlçe, İl, Posta Kodu</span></p>
<p><span style="font-weight:bold;">15/02/2012</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Ahmet Ersoylu</span></p>
<p><span style="font-weight:bold;">Genel Müdür</span></p>
<p><span style="font-weight:bold;">Renovasyon A.Ş.</span></p>
<p><span style="font-weight:bold;">Açık Adres</span></p>
<p><span style="font-weight:bold;">İlçe, İl, Posta Kodu</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Sayın Ahmet Ersoylu,</p>
<p><br class="hideInIE"></p>
<p>Bu e-posta ile IBM'in en yeni üretkenlik aracı olan HCL Docs ürününü
size tanıtmaktan onur duyuyorum.</p>
<p><br class="hideInIE"></p>
<p>HCL Docs, belgeleri, elektronik sayfaları ve sunumları oluşturmak, paylaşmak
ve birlikte yazmak için kullanılabilen web tabanlı bir düzenleyicidir. İş
arkadaşlarınızla birlikte düzenlemeye, bağlam içinde yorum yapma ve tartışmaya
ve belirli bölümleri ekip üyelerine atamaya olanak sağladığı için bu ürün, belge
oluşturmak için size çok daha iyi bir yöntem sunar.</p>
<p><br class="hideInIE"></p>
<p>Daha fazla bilgi almak isterseniz lütfen benimle iletişim kurun.</p>
<p><br class="hideInIE"></p>
<p>Saygılarımla,</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Can Sunay</span></p>
<p><span style="font-weight:bold;">Satış Müdürü</span></p>
<p><br class="hideInIE"></p>
<p>Ekler</p>
</body>
</html>
