<?xml version="1.0" encoding="UTF-8"?>
<!-- ***************************************************************** -->
<!--                                                                   -->
<!-- Licensed Materials - Property of IBM.                             -->
<!--                                                                   -->
<!-- IBM Docs Source Materials                                         -->
<!--                                                                   -->
<!-- (c) Copyright IBM Corporation 2012. All Rights Reserved.          -->
<!--                                                                   -->
<!-- U.S. Government Users Restricted Rights: Use, duplication or      -->
<!-- disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                   -->
<!-- ***************************************************************** -->

<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Concord Extension for Lotus Connections</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
