<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html dir="RTL">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>استئناف</title>
</head>
<body  class="concord_Doc_Style_1">
<p style="color:#0000ff;text-align:center;font-size:15pt;">Phillipe Babineaux</p>
<p style="color:#333333;text-align:center;font-size:10pt;"> </p>
<p style="color:#333333;text-align:center;font-size:10pt;">1 الشارع الرئيسى، المدينة الخاصة بك، الولاية الخاصة بك، البلد الخاص بك</p>
<p style="color:#333333;text-align:center;font-size:10pt;">617-555-0000</p>
<p style="color:#333333;text-align:center;font-size:10pt;">phillipe.babineaux@yourcompany.com</p>
<p style="color:#333333;text-align:center;font-size:10pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIN"><li class="lst-cs" value="lst-cs">الملخص </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">أنا شخص بسيط غاية فى النشاط، على درجة عالية من التنظيم، وشديد التدقيق.</span></p>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIE"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">التعليم </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-weight:bold;font-size:11pt;">اسم الجامعة التي تم الالتحاق بها مؤخرا</span></p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">2000 - 2004</span></p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">نوع الشهادة، اسم التخصص</span></p>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIR"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">الخبرات العملية </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="color:#333333;margin-left:0.4991cm;font-weight:bold;font-size:11pt;">اسم صاحب العمل الحالى، والمكان</p>
<p style="color:#333333;margin-left:0.4991cm;font-size:11pt;">2007 - الى الوقت الحاضر</p>
<p style="color:#333333;margin-left:0.4991cm;font-weight:bold;font-size:11pt;">اللقب الوظيفي</p>
<ul class="lst-VDEA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li class="ls-d"><ul class="lst-d" >
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">تكوين الجدول وتحديد المصادر لقيادة المشروع</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">فهم احتياجات العميل واعداد خطة المشروع</span></li>
</ul></li>
</ul>
<p style="margin-left:0.4991cm;font-weight:bold;font-size:11pt;">اسم آخر صاحب عمل، المكان</p>
<p style="margin-left:0.4991cm;font-size:11pt;">2004 - 2006</p>
<p style="margin-left:0.4991cm;font-weight:bold;font-size:11pt;">اللقب الوظيفي</p>
<ul class="lst-VADA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li class="ls-d"><ul class="lst-d" >
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">تكوين الجدول وتحديد المصادر لقيادة المشروع</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">فهم احتياجات العميل واعداد خطة المشروع</span></li>
</ul></li>
</ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHEN"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">الاهتمامات </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul class="lst-VCEA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">أهم شيء هو أولادى. أحب تمضية الوقت معهم ومشاركتهم فى أى نشاط يجمعهم.</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">أجد المتعة فى القراءة سواء من خلال مواقع معينة على الانترنت أو من خلال معلومات RSS المسترجعة التى قمت بالاشتراك بها، كما أننى من حين لآخر استمتع بقراءة كتاب أو بالاستماع الى كتاب صوتى.</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">أحب أن أبقى نشيطا. أحاول المواظبة على ممارسة التمارين الرياضية بصفة منتظمة بالانضمام الى اتحاد رياضى. بعض الأنشطة التى أمارسها بالداخل: ركوب الدراجات والجرى والسباحة والتجول سيرا ولعب كرة القدم ولعب الجولف.</span></li>
</ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PEIN"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">المراجع </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">قم بسرد معلومات المراجع.</span></p>
</body>
</html>
