<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html dir="RTL">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>غلاف رسالة الفاكس</title>
</head>
<body  class="concord_Doc_Style_1">
<table cellspacing="0px" style="table-layout:fixed;word-break:break-all;border-collapse:collapse;">
<tbody>
<tr>
<td style="padding:0.5cm;border-top:none ;border-left:none ;border-right:none ;border-bottom:2.4984pt solid #99ccff ;vertical-align:top;width:2.5cm;">
<p><span style="font-size:10pt;">شعار الشركة</span></p>
</td>
<td style="padding:0.5cm;border-top:none ;border-left:none ;border-right:none ;border-bottom:2.4984pt solid #99ccff ;vertical-align:top;width:4.5cm">
<p><span style="font-weight:bold;font-size:14pt;direction:ltr;display:inline-block">Renovations Inc.</span></p>
</td>
<td style="padding:0.5cm;border-top:none ;border-left:none ;border-right:none ;border-bottom:2.4984pt solid #99ccff ;vertical-align:top;width:3cm;">
<p><span style="font-size:10pt;">عنوان الشركة</span></p>
</td>
<td style="padding:0.5cm;border-top:none ;border-left:none ;border-right:none ;border-bottom:2.4984pt solid #99ccff ;vertical-align:top;width:4cm;">
<p><span style="font-size:10pt;">التليفون: <bdo dir="ltr">617-555-0000</bdo></span></p>
</td>
</tr>
</tbody>
</table>
<p><br class="hideInIE"></p>
<table cellspacing="0px" style="table-layout:fixed;word-break:break-all;border-collapse:collapse;">
<tbody>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;width:6.21cm;">
<p style="text-align:right;"><span style="font-size:10pt;">الى:</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;width:9.31cm;">
<p style="text-align:left;"><span style="font-size:10pt;">Phillipe Babineaux</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;"><span style="font-size:10pt;">الفاكس: </span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="font-size:10pt;">617-555-0001</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;"><span style="font-size:10pt;">من:</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="font-size:10pt;">Joe</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;"><span style="font-size:10pt;">التاريخ:</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="font-size:10pt;">2012/02/15</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;"><span style="font-size:10pt;">الرد:
</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span class="T6" style="font-size:10pt;">موضوع الفاكس</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;"><span style="font-size:10pt;">الصفحات:</span></p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="font-size:10pt;">1</span></p>
</td>
</tr>
</tbody>
</table>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>أكتب المحتويات الخاصة بك هنا ...</p>
</body>
</html>
