<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html dir="RTL">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">عنوان الشارع</span></p>
<p><span style="font-weight:bold;">المدينة، الولاية، الكود البريدى</span></p>
<p><span style="font-weight:bold;">2012/02/15</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Phillipe Babineaux</span></p>
<p><span style="font-weight:bold;">الرئيس التنفيذى</span></p>
<p><span style="font-weight:bold;direction:ltr;display:inline-block">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">عنوان الشارع</span></p>
<p><span style="font-weight:bold;">المدينة، الولاية، الكود البريدى</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>عزيزى الأستاذ Babineaux،</p>
<p><br class="hideInIE"></p>
<p>يشرفنى من خلال هذه الرسالة الالكترونية أن أقدم لك أحدث أداة انتاجية ألا وهى HCL Docs.</p>
<p><br class="hideInIE"></p>
<p>ان HCL Docs هو برنامج تحرير على الانترنت لتكوين ومشاركة والتعاون فى تأليف الوثائق والجداول الحسابية والعروض التقديمية. يقدم هذا البرنامج أفضل طريقة لتكوين الوثائق، حيث يمكنك الاشتراك فى التحرير مع الزملاء، والتعقيب على ومناقشة السياق، وتخصيص الأقسام لأعضاء الفريق.</p>
<p><br class="hideInIE"></p>
<p>لا تتردد فى الاتصال بى اذا كنت بحاجة للاطلاع على مزيد من المعلومات.</p>
<p><br class="hideInIE"></p>
<p>مع خالص التقدير،</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">كبير مديرى المبيعات</span></p>
<p><br class="hideInIE"></p>
<p>المرفقات</p>
</body>
</html>
