<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html dir="RTL">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>الفاتورة</title>
</head>
<body  class="concord_Doc_Style_1">
<table cellspacing="0px" style="margin-top: 0.5cm;margin-bottom: 0.5cm;table-layout: fixed; border-collapse: collapse;"><tbody><tr>
<td style="vertical-align:middle;width:16.27cm;border-top: 0.5pt solid #000000;border-bottom: 0.5pt solid #000000;padding-top:0.7cm;padding-bottom:0.7cm;">
<p><span>شعار الشركة </span><span style="color:#cc0066;font-weight:bold;font-size:16pt;">Renovations Inc. INVOICE</span></p>
</td></tr></tbody></table>
<p style="font-weight:bold;font-size:11pt;">الى:</p>
<p style="font-weight:bold;font-size:11pt;">Phillipe Babineaux</p>
<p style="font-size:11pt;">عنوان المستلم</p>
<p><br class="hideInIE">
</p>
<p><br class="hideInIE">
</p>
<table cellspacing="0px" style="border: 0.5pt solid #333333;table-layout:fixed;word-break:break-all;border-collapse:collapse;">
<tbody>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>رقم الفاتورة</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>تاريخ الفاتورة</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>رقم أمر الشراء</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>رقم المورد</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>رقم الطلب</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6332999999999998cm;">
<p>أخرى</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
</tbody>
</table>
<p><br class="hideInIE">
</p>
<p><br class="hideInIE">
</p>
<p><br class="hideInIE">
</p>
<table cellspacing="0px" style="border: 0.5pt solid #333333;special-process3:0;table-layout:fixed;word-break:break-all;border-collapse:collapse;">
<tbody>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>الكمية</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:8.2968cm;">
<p>الوصف</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>سعر الوحدة</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>الاجمالى</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
</tbody>
</table>
<p><br class="hideInIE">
</p>
<p><br class="hideInIE">
</p>
<p><br class="hideInIE">
</p>
<table cellspacing="0px" style="border: 0.5pt solid #333333;special-process3:0;table-layout:fixed;word-break:break-all;border-collapse:collapse;">
<tbody>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>الاجمالى الفرعى</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>ضريبة المبيعات</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>الشحن</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>القيمة المستحقة</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>الأحكام</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>الدفع بواسطة</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
</tbody>
</table>
<p><br class="hideInIE"></p>
<p style="line-height:1.5;text-align:center;font-size:11pt;">برجاء اصدار شيك السداد باسم <span style="font-weight:bold;direction:ltr;display:inline-block">Renovations Inc.</span></p>
<p style="line-height:1.5;text-align:center;"><span style="font-weight:bold;font-size:11pt;">شكرا لك على عملك!</span></p>
</body>
</html>
