

<div class="page" id="researchpaper">


	<div dir="rtl" restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>المراجع</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >الاسم المحدد، اللقب (YYYY). اسم المصدر. اسم الناشر، البدء - الانهاء.</li>
			<li documentBlock="true" >الاسم المحدد، اللقب (YYYY). اسم المصدر. اسم الناشر، البدء - الانهاء.</li>
			<li documentBlock="true" >الاسم المحدد، اللقب (YYYY). اسم المصدر. اسم الناشر، البدء - الانهاء.</li>
			<li documentBlock="true" >الاسم المحدد، اللقب (YYYY). اسم المصدر. اسم الناشر، البدء - الانهاء.</li>
			<li documentBlock="true" >الاسم المحدد، اللقب (YYYY). اسم المصدر. اسم الناشر، البدء - الانهاء.</li>
			<li documentBlock="true" >الاسم المحدد، اللقب (YYYY). اسم المصدر. اسم الناشر، البدء - الانهاء.</li>
			<li documentBlock="true" >الاسم المحدد، اللقب (YYYY). اسم المصدر. اسم الناشر، البدء - الانهاء.</li>
			<li documentBlock="true" >الاسم المحدد، اللقب (YYYY). اسم المصدر. اسم الناشر، البدء - الانهاء.</li>
			<li documentBlock="true" >الاسم المحدد، اللقب (YYYY). اسم المصدر. اسم الناشر، البدء - الانهاء.</li>
			<li documentBlock="true" >الاسم المحدد، اللقب (YYYY). اسم المصدر. اسم الناشر، البدء - الانهاء.</li>
		</ul>
	</div>

</div>
<p></p>
