
<table cellspacing="0px" style="direction:rtl; table-layout: fixed; border-collapse: collapse; "><tbody><tr>
	<td style="width: 16.21cm; padding-top: 1.0583cm; padding-bottom:0.2646cm; border-bottom: 3pt solid #9E9E9E;">
		<p><span style="font-weight:bold;font-size: 13.5pt;letter-spacing: 0.0529cm;color: #e1350d;">لقب الاسم المحدد</span></p>
		<p style="font-size: 8.25pt;color: #555;letter-spacing: 0.0529cm;"><br class="hideInIE"></p>
		<p>
			<span style="font-size: 8.25pt;color: #555;letter-spacing: 0.0529cm;">1234 عنوان الشارع&nbsp;&nbsp;&nbsp;المدينة، الولاية12345&nbsp;&nbsp;&nbsp;EMAIL@EXAMPLE.COM&nbsp;&nbsp;&nbsp;(123) 456-7890</span>
		</p>
	</td>
</tr></tbody></table>
<p></p>
