<div class='message comments' dojoAttachPoint='commmentsNode'>
	<div class='meta' dojoAttachPoint='metaNode'>
		<div class='name' dojoAttachPoint='nameNode'></div> 
		<div class='time' dojoAttachPoint='timeNode'></div>
	</div>
	<div class='box' tabindex='0' role='region'
	dojoAttachPoint='boxNode' dojoAttachEvent="onkeydown:_onKeyDown,onclick:_onclick,onmouseover:_onMouseOver,onmouseout:_onMouseOut">
		<div class='content' dojoAttachPoint='contentNode'></div>
		<div class='viewbutton hidden' tabindex="0" role="button" dojoAttachPoint='viewNode' dojoAttachEvent="onkeydown:_onKeyDown,onclick:_onclick"></div>    	
	</div>
</div>