<div tabindex="0" role='alert' class="featuresdlg hidden" dojoAttachPoint="FeaturesNode" dojoAttachEvent="onkeydown:_onKeyDown">
  <img src="" dojoAttachPoint="arrowNode">
        <div class="ll_commmon_images_alttext allyArrow" dojoAttachPoint="allyArrowNode"></div>
  </img>    
  <div>
    <div class="fheader" dojoAttachPoint="headerNode">
        <a class="fbtn cancelbtn" tabindex="0" role="button" dojoAttachPoint="cancelNode" dojoAttachEvent="onkeydown:_onKeyDown,onclick:_onclick">
        	<div class="feature feature-delete" dojoAttachPoint="cancel">
        		<div class="ll_commmon_images_alttext"></div>
        	</div>        
        </a>
    </div>
  	<div class="featureContent" dojoAttachPoint="featureNode">
	</div>
    <div class="hidden" dojoAttachPoint="footerNode">
      	<div dojoAttachPoint="lightNode"></div>   
        <a class="fbtn prevBtn" tabindex="0" role="button" dojoAttachPoint="presNode" dojoAttachEvent="onkeydown:_onKeyDown,onclick:_onclick">
        	<div class="feature feature-leftDisabled" dojoAttachPoint="leftArrow">
        		<div class="ll_commmon_images_alttext"></div>
        	</div>        
        </a>
        <a class="fbtn nextbtn" tabindex="0" role="button" dojoAttachPoint="nextNode" dojoAttachEvent="onkeydown:_onKeyDown,onclick:_onclick">
        	<div class="feature feature-rightArrow" dojoAttachPoint="rightArrow">
        		<div class="ll_commmon_images_alttext"></div>
        	</div>
        </a>
    </div> 
  </div>
</div>