<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html style='overflow:hidden;height:100%;margin:0;padding:0'>
<head>
<title>Menubar and Toolbar</title>
<link rel="stylesheet" type="text/css" href="../../dijit/themes/oneui30/oneui30.css" />
<link rel="stylesheet" type="text/css" href="../../../styles/css/base.css" />
<link rel="stylesheet" type="text/css" href="../../../styles/css/presentation2/menutoolbar.css"/>
</head>
<body style='overflow:hidden;height:100%;margin:0;padding:0'>
</body>
</html>
<script>
setTimeout(function(){
	window.parent.menutoolbarLoaded();
}, 100);
</script>