<!-- Copyright IBM Corp. 2007, 2014 All Rights Reserved. -->
<div class="dijitReset dijitMenu bhcPeopleTypeAheadMenu">
	<div class="listDescription" data-dojo-attach-point="listDescription"></div>
	<div class="noResultsMessage" data-dojo-attach-point="noResultsMessage"></div>
	<div class="containerNode" data-dojo-attach-point="containerNode" style="overflow: auto; overflow-x: hidden;" role="listbox" aria-label="Search Results" onkeypress="return true;" onkeydown="return true;">
		<div class="dijitMenuItem dijitMenuPreviousButton" data-dojo-attach-point="previousButton" tabindex="-1"></div>
		<div class="dijitMenuItem dijitMenuNextButton" data-dojo-attach-point="nextButton" tabindex="-1"></div>
	</div>
	<div class="listPaginationInfo" data-dojo-attach-point=listPaginationInfo></div>
</div>