 <div tabindex="0" role='alert' class="welcomedlg hidden" dojoAttachPoint="welcomeNode">
  <div id="tourimg" class="imgnode" dojoAttachPoint="imgNode">
  </div>      
  <div>
  	<div tabindex="0" role='alert' class="featureContent" dojoAttachPoint="featureNode" dojoAttachEvent="onkeydown:_onKeyDown">
	</div>
  </div>
  <div>
  	<div dojoAttachPoint="footerNode">
  	  <div class="wbtn left" tabindex="0" role="button" dojoAttachPoint="leftBtnNode" dojoAttachEvent="onkeydown:_onKeyDown,onclick:_onclick">
	  </div>
  	  <div class="wbtn right" tabindex="0" role="button" dojoAttachPoint="rightBtnNode" dojoAttachEvent="onkeydown:_onKeyDown,onclick:_onclick">
	  </div>	  
	</div>
  </div>  
</div>