<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Jerzy</span></p>
<p><span style="font-weight:bold;">Ulica</span></p>
<p><span style="font-weight:bold;">Kod pocztowy, miasto, województwo</span></p>
<p><span style="font-weight:bold;">15.02.2012</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Paweł Kowalski</span></p>
<p><span style="font-weight:bold;">Dyrektor generalny</span></p>
<p><span style="font-weight:bold;">Remonty SA</span></p>
<p><span style="font-weight:bold;">Ulica</span></p>
<p><span style="font-weight:bold;">Kod pocztowy, miasto, województwo</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Szanowny Panie Kowalski,</p>
<p><br class="hideInIE"></p>
<p>przypadł mi w udziale zaszczyt przedstawienia Panu za pośrednictwem niniejszej wiadomości e-mail najnowszego produktu HCL Docs.</p>
<p><br class="hideInIE"></p>
<p>Produkt HCL Docs jest edytorem z interfejsem WWW umożliwiającym tworzenie i współużytkowanie dokumentów, arkuszy kalkulacyjnych
i prezentacji oraz grupową pracę nad ich treścią. Pozwala tworzyć dokumenty w lepszy sposób, ponieważ
umożliwia edytowanie dokumentów wspólnie ze współpracownikami,
dodawanie komentarzy i prowadzenie dyskusji w odpowiednim kontekście
oraz przypisywanie sekcji członkom zespołu.</p>
<p><br class="hideInIE"></p>
<p>W razie jakichkolwiek pytań lub wątpliwości uprzejmie proszę o kontakt.</p>
<p><br class="hideInIE"></p>
<p>Z poważaniem,</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Jerzy</span></p>
<p><span style="font-weight:bold;">Starszy menedżer sprzedaży</span></p>
<p><br class="hideInIE"></p>
<p>Załączniki</p>
</body>
</html>
