

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Bibliografia</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >Imię, Nazwisko (RRRR). Nazwa źródła. Nazwa wydawcy, początek-koniec.</li>
			<li documentBlock="true" >Imię, Nazwisko (RRRR). Nazwa źródła. Nazwa wydawcy, początek-koniec.</li>
			<li documentBlock="true" >Imię, Nazwisko (RRRR). Nazwa źródła. Nazwa wydawcy, początek-koniec.</li>
			<li documentBlock="true" >Imię, Nazwisko (RRRR). Nazwa źródła. Nazwa wydawcy, początek-koniec.</li>
			<li documentBlock="true" >Imię, Nazwisko (RRRR). Nazwa źródła. Nazwa wydawcy, początek-koniec.</li>
			<li documentBlock="true" >Imię, Nazwisko (RRRR). Nazwa źródła. Nazwa wydawcy, początek-koniec.</li>
			<li documentBlock="true" >Imię, Nazwisko (RRRR). Nazwa źródła. Nazwa wydawcy, początek-koniec.</li>
			<li documentBlock="true" >Imię, Nazwisko (RRRR). Nazwa źródła. Nazwa wydawcy, początek-koniec.</li>
			<li documentBlock="true" >Imię, Nazwisko (RRRR). Nazwa źródła. Nazwa wydawcy, początek-koniec.</li>
			<li documentBlock="true" >Imię, Nazwisko (RRRR). Nazwa źródła. Nazwa wydawcy, początek-koniec.</li>
		</ul>
	</div>

</div>
<p></p>
