<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Faks Kapak Sayfası</title>
</head>
<body  class="concord_Doc_Style_4">

<p class="page" id="fax">

	<p documentBlock="true" restyle="false" concordTemplateComponent="letterhead" class="letterhead">
		<h1>Faks Kapak Sayfası</h1>
		<!-- hr/-->
	</p>
	
	<p documentBlock="true"  class="section">
		<h2>Kimden</h2>
		<ul>
			<li class="author">Ad Soyadı</li>
			<li class="date">AA/GG/YYYY</li>
			<li class="email">eposta@ornek.com</li>
			<li class="phone">(123) 456-789</li>
		</ul>
	</p>

	<p documentBlock="true" class="section">
		<h2>Kime</h2>
		<ul>
			<li class="author">Ad Soyadı</li>
			<li class="date">AA/GG/YYYY</li>
			<li class="email">eposta@ornek.com</li>
			<li class="phone">(123) 456-789</li>
		</ul>
	</p>

	<p documentBlock="true" class="section">
		<h2>İçindekiler</h2>
		<ul>
			<li>Belge 1</li>
			<li>Belge 2</li>
		</ul>
	</p>

	<p documentBlock="true"  class="section">
		<h2>Özel Yönergeler</h2>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>		
		-->
	</p>
	
</p>

</body>
</html>
