

<p class="page" id="researchpaper">


	<p restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Referanslar</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" ><span class="author">Soyadı, Ad</span> <span class="date">(YYYY).</span> <span class="source">Kaynak Adı.</span> <span class="publisher">Yayıncı Adı,</span> <span class="range">başlangıç - bitiş.</span></li>
			<li documentBlock="true" ><span class="author">Soyadı, Ad</span> <span class="date">(YYYY).</span> <span class="source">Kaynak Adı.</span> <span class="publisher">Yayıncı Adı,</span> <span class="range">başlangıç - bitiş.</span></li>
			<li documentBlock="true" ><span class="author">Soyadı, Ad</span> <span class="date">(YYYY).</span> <span class="source">Kaynak Adı.</span> <span class="publisher">Yayıncı Adı,</span> <span class="range">başlangıç - bitiş.</span></li>
			<li documentBlock="true" ><span class="author">Soyadı, Ad</span> <span class="date">(YYYY).</span> <span class="source">Kaynak Adı.</span> <span class="publisher">Yayıncı Adı,</span> <span class="range">başlangıç - bitiş.</span></li>
			<li documentBlock="true" ><span class="author">Soyadı, Ad</span> <span class="date">(YYYY).</span> <span class="source">Kaynak Adı.</span> <span class="publisher">Yayıncı Adı,</span> <span class="range">başlangıç - bitiş.</span></li>
			<li documentBlock="true" ><span class="author">Soyadı, Ad</span> <span class="date">(YYYY).</span> <span class="source">Kaynak Adı.</span> <span class="publisher">Yayıncı Adı,</span> <span class="range">başlangıç - bitiş.</span></li>
			<li documentBlock="true" ><span class="author">Soyadı, Ad</span> <span class="date">(YYYY).</span> <span class="source">Kaynak Adı.</span> <span class="publisher">Yayıncı Adı,</span> <span class="range">başlangıç - bitiş.</span></li>
			<li documentBlock="true" ><span class="author">Soyadı, Ad</span> <span class="date">(YYYY).</span> <span class="source">Kaynak Adı.</span> <span class="publisher">Yayıncı Adı,</span> <span class="range">başlangıç - bitiş.</span></li>
			<li documentBlock="true" ><span class="author">Soyadı, Ad</span> <span class="date">(YYYY).</span> <span class="source">Kaynak Adı.</span> <span class="publisher">Yayıncı Adı,</span> <span class="range">başlangıç - bitiş.</span></li>
			<li documentBlock="true" ><span class="author">Soyadı, Ad</span> <span class="date">(YYYY).</span> <span class="source">Kaynak Adı.</span> <span class="publisher">Yayıncı Adı,</span> <span class="range">başlangıç - bitiş.</span></li>
		</ul>
	</p>

</p>
<p></p>
