<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Følgebrev</title>
</head>
<body class="concord_Doc_Style_11">

<p class="page" id="coverletter">

	<p documentBlock="true" restyle="false"  concordTemplateComponent="letterhead" class="letterhead">
		<h1>Fornavn Etternavn</h1>
		<ul>
			<li class="addressLine1">1234 gateadresse</li>
			<li class="addressLine2">1234 Poststed</li>
			<li class="email">epost@eksempel.com</li>
			<li class="phone">12345678</li>
		</ul>
	</p>

	<p documentBlock="true" class="section summary">
		<h2>Til</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list_16">
			<li class="name">Fornavn Etternavn</li>
			<li class="addressLine1">1234 gateadresse</li>
			<li class="addressLine2">1234 Poststed</li>
			<li class="email">epost@eksempel.com</li>
			<li class="phone">12345678</li>
		</ul>
	</p>
		
	<p documentBlock="true"  class="section">
		<p>Til Navn,</p>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		-->
		<p>Vennlig hilsen,</p>
		<p>Fornavn Etternavn</p>
	</p>
	
</p>
</body>
</html>
