

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Referanser</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >Fornavn, Etternavn (YYYY). Kildenavn. Utgivernavn, start - slutt.</li>
			<li documentBlock="true" >Fornavn, Etternavn (YYYY). Kildenavn. Utgivernavn, start - slutt.</li>
			<li documentBlock="true" >Fornavn, Etternavn (YYYY). Kildenavn. Utgivernavn, start - slutt.</li>
			<li documentBlock="true" >Fornavn, Etternavn (YYYY). Kildenavn. Utgivernavn, start - slutt.</li>
			<li documentBlock="true" >Fornavn, Etternavn (YYYY). Kildenavn. Utgivernavn, start - slutt.</li>
			<li documentBlock="true" >Fornavn, Etternavn (YYYY). Kildenavn. Utgivernavn, start - slutt.</li>
			<li documentBlock="true" >Fornavn, Etternavn (YYYY). Kildenavn. Utgivernavn, start - slutt.</li>
			<li documentBlock="true" >Fornavn, Etternavn (YYYY). Kildenavn. Utgivernavn, start - slutt.</li>
			<li documentBlock="true" >Fornavn, Etternavn (YYYY). Kildenavn. Utgivernavn, start - slutt.</li>
			<li documentBlock="true" >Fornavn, Etternavn (YYYY). Kildenavn. Utgivernavn, start - slutt.</li>
		</ul>
	</div>

</div>
<p></p>
