<table cellspacing="0px" style="table-layout: fixed; border-collapse: collapse; width: 100%;"><tbody><tr>
	<td style="width: 100%;padding-top: 1.5875cm; padding-left: 1.0583cm; padding-right: 1.0583cm;background-color:#324753;">
		<p style="padding-top:0.2646cm;padding-bottom:0.132cm;"><span style="font-weight: bold;color: #86989e;font-size: 16.5pt;">Firmanavn</span></p>
		<p>
			<span style="font-size: 9pt;color: #999;">Storgata 1234&nbsp;&nbsp;&nbsp;1234 Poststed&nbsp;&nbsp;&nbsp;epost@eksempel.com&nbsp;&nbsp;&nbsp;12345678</span>
		</p>
		<p style="font-size: 9pt;color: #999;"><br class="hideInIE"></p>
		<p style="font-size: 9pt;color: #999;"><br class="hideInIE"></p>
	</td>
</tr></tbody></table>
<p></p>
