<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">โจ</span></p>
<p><span style="font-weight:bold;">ที่อยู่ถนน</span></p>
<p><span style="font-weight:bold;">เมือง, ST, รหัสไปรษณีย์</span></p>
<p><span style="font-weight:bold;">2012/02/15</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">ฟิลลิป บาบิโนซ์</span></p>
<p><span style="font-weight:bold;">ประธานเจ้าหน้าที่ฝ่ายบริหาร</span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">ที่อยู่ถนน</span></p>
<p><span style="font-weight:bold;">เมือง ST รหัสไปรษณีย์</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>เรียนคุณ บาบิโนซ์</p>
<p><br class="hideInIE"></p>
<p>ผมรู้สึกเป็นเกียรติที่จะแนะนำเครื่อง HCL Docs เครื่องมือการผลิตล่าสุดให้คุณได้รู้จักผ่านอีเมลนี้</p>
<p><br class="hideInIE"></p>
<p>HCL Docs เป็นเอดิเตอร์เชิงเว็บใช้สำหรับสร้าง แบ่งใช้ และเขียนเอกสาร สเปร็ดชีท และการนำเสนอแบบทำงานร่วมกัน มันช่วยสร้างเอกสารได้ดีกว่าเนื่องจากคุณสามารถทำการแก้ไขร่วมกับเพื่อนร่วมงาน แสดงความเห็น และอภิปรายในบริบท และมอบหมายส่วนต่างๆให้แก่สมาชิกในทีม</p>
<p><br class="hideInIE"></p>
<p>โปรดติดต่อผมถ้าคุณต้องการข้อมูลเพิ่มเติม</p>
<p><br class="hideInIE"></p>
<p>ด้วยความจริงใจ,</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">โจ</span></p>
<p><span style="font-weight:bold;">ผู้จัดการฝ่ายขายอาวุโส</span></p>
<p><br class="hideInIE"></p>
<p>สิ่งที่แนบมา</p>
</body>
</html>
