

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>การอ้างอิง</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >ชื่อแรก, นามสกุล (YYYY) ชื่อแหล่ง ชื่อผู้เผยแพร่ เริ่มต้น - สิ้นสุด</li>
			<li documentBlock="true" >ชื่อแรก, นามสกุล (YYYY) ชื่อแหล่ง ชื่อผู้เผยแพร่ เริ่มต้น - สิ้นสุด</li>
			<li documentBlock="true" >ชื่อแรก, นามสกุล (YYYY) ชื่อแหล่ง ชื่อผู้เผยแพร่ เริ่มต้น - สิ้นสุด</li>
			<li documentBlock="true" >ชื่อแรก, นามสกุล (YYYY) ชื่อแหล่ง ชื่อผู้เผยแพร่ เริ่มต้น - สิ้นสุด</li>
			<li documentBlock="true" >ชื่อแรก, นามสกุล (YYYY) ชื่อแหล่ง ชื่อผู้เผยแพร่ เริ่มต้น - สิ้นสุด</li>
			<li documentBlock="true" >ชื่อแรก, นามสกุล (YYYY) ชื่อแหล่ง ชื่อผู้เผยแพร่ เริ่มต้น - สิ้นสุด</li>
			<li documentBlock="true" >ชื่อแรก, นามสกุล (YYYY) ชื่อแหล่ง ชื่อผู้เผยแพร่ เริ่มต้น - สิ้นสุด</li>
			<li documentBlock="true" >ชื่อแรก, นามสกุล (YYYY) ชื่อแหล่ง ชื่อผู้เผยแพร่ เริ่มต้น - สิ้นสุด</li>
			<li documentBlock="true" >ชื่อแรก, นามสกุล (YYYY) ชื่อแหล่ง ชื่อผู้เผยแพร่ เริ่มต้น - สิ้นสุด</li>
			<li documentBlock="true" >ชื่อแรก, นามสกุล (YYYY) ชื่อแหล่ง ชื่อผู้เผยแพร่ เริ่มต้น - สิ้นสุด</li>
		</ul>
	</div>

</div>
<p></p>
