<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" id="1296541634474">
<head>
<title>NewPresentation.odp</title>    
<link type="text/css" href="office_styles.css" rel="stylesheet"/>
<link type="text/css" href="office_automatic_styles.css" rel="stylesheet"/>
<style type="text/css">.draw_frame_classes ul:first-child>li:first-child {margin-top:0px !important;}
.draw_frame_classes ol:first-child>li:first-child {margin-top:0px !important;}
.draw_frame_classes p:first-child {margin-top:0px !important;}
.draw_shape_classes ul:first-child>li:first-child {margin-top:0px !important;}
.draw_shape_classes ol:first-child>li:first-child {margin-top:0px !important;}
.draw_shape_classes p:first-child {margin-top:0px !important;}
.table_table-cell ul:first-child>li:first-child {margin-top:0px !important;}
.table_table-cell ol:first-child>li:first-child {margin-top:0px !important;}
.table_table-cell p:first-child {margin-top:0px !important;}
.concord .pr_106 {padding-right:4.28571%;padding-top:2.14286%;border-style:none;padding-bottom:2.14286%;word-wrap:break-word;vertical-align:middle;padding-left:4.28571%;}
.concord .pr_113 {padding-right:3.15789%;padding-top:1.57895%;border-style:none;padding-bottom:1.57895%;word-wrap:break-word;vertical-align:middle;padding-left:3.15789%;}
.concord .pr_119 {padding-right:4.28571%;padding-top:2.14286%;border-style:none;padding-bottom:2.14286%;word-wrap:break-word;vertical-align:middle;padding-left:4.28571%;}
.concord .pr_128 {padding-right:4.28571%;padding-top:2.14286%;border-style:none;padding-bottom:2.14286%;word-wrap:break-word;padding-left:4.28571%;}
.concord .pr_135 {padding-right:3.15789%;padding-top:1.57895%;border-style:none;padding-bottom:1.57895%;word-wrap:break-word;padding-left:3.15789%;}
.concord .pr_141 {padding-right:4.28571%;padding-top:2.14286%;border-style:none;padding-bottom:2.14286%;word-wrap:break-word;padding-left:4.28571%;}
.concord .pr_150 {padding-right:4.28571%;padding-top:2.14286%;border-style:none;padding-bottom:2.14286%;word-wrap:break-word;padding-left:4.28571%;}
.concord .pr_157 {padding-right:3.15789%;padding-top:1.57895%;border-style:none;padding-bottom:1.57895%;word-wrap:break-word;padding-left:3.15789%;}
.concord .pr_163 {padding-right:4.28571%;padding-top:2.14286%;border-style:none;padding-bottom:2.14286%;word-wrap:break-word;padding-left:4.28571%;}
.concord .pr_173 {padding-right:1.1111%;padding-top:0.555556%;border-style:none;padding-bottom:0.555556%;word-wrap:break-word;padding-left:1.1111%;}
.concord .pr_178 {padding-right:1.1111%;padding-top:0.555556%;border-style:none;padding-bottom:0.555556%;word-wrap:break-word;padding-left:1.1111%;}
</style>
<style type="text/css" stylename="list_before_style"></style>
</head>
<body class="tundra langclass_pending" id="body_id_183">
<div id="custom_style_mode_value">
<div id="cusAA" abs-font-size="1234"/>
<div id="cusbb" abs-font-size="5678"/>
</div>
<div class="office_presentation" id="officeprez_id_166">
<div class="slideWrapper" id="slideWrapper_id_167">
<div class="draw_page PM1_concord  MB_defaultBackground "
                    draw_master-page-name="defaultMaster_Title" 
                    orientation="landscape"
                    MasterPageClass=" MB_defaultBackground " 
                    id="slide_id_168" 
                    draw_name="page1"
                    presentation_presentation-page-layout-name="ALT0" 
                    draw_style-name="dp1"
                    pageunits="cm" 
                    pagewidth="25.4" pageheight="19.05"
                    is_edited="true">
                    <div class="draw_frame layoutClass " 
                        id_html_ref="place_holder_id_170"
                        style="position:absolute;cy:1.47003e+006;left:7.5%;top:31.0648%;width:85%;height:21.4352%;cx:7.7724e+006;"
                        id="place_holder_id_170" 
                        draw_name="Title 1"
                        presentation_user-transformed="true" 
                        MasterPageHiddenObj="1"
                        presentation_class="title" 
                        presentation_placeholder="true"
                        is_edited="true">
                        <div class="draw_text-box layoutClassSS" 
                            style="width:100%;height:100%;"
                            role="textbox" 
                            id="id_171" 
                            tabindex="0"
                            aria-labelledby="P_arialabel_Title"
                            aria-describedby="P_arialabel_PressEnterToEdit"><div
                                style="display:table;height:100%;width:100%;table-layout:fixed;"
                                id="id_172">
                                <div
                                    class="draw_frame_classes 
                                    MSO_TEXTBOX_GRAPHIC 
                                    MG_defaultMaster_Title_title pr_173"
                                    style="display:table-cell;padding-left:1.1111%;padding-right:1.1111%;padding-top:0.555556%;padding-bottom:0.555556%;width:97.7778%;height:98.8889%; ms-lang:en-US;"
                                    id="id_173">
                                    <p id="id_65111376926545848" class="defaultContentText cb_title MP_defaultMaster_Title_title_1 MT_defaultMaster_Title_title_1 ML_defaultMaster_Title_title_1"><span id="id_s111" style="font-size:2.44444em;">Click to add title</span><br class="hideInIE"/></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="draw_frame layoutClass " 
                        id_html_ref="place_holder_id_175"
                        style="position:absolute;cy:1.7526e+006;left:15%;top:56.6667%;width:70%;height:25.5556%;cx:6.4008e+006;"
                        id="place_holder_id_175" 
                        draw_name="Subtitle 2"
                        presentation_user-transformed="true" 
                        MasterPageHiddenObj="1"
                        presentation_class="subtitle" 
                        presentation_placeholder="true"
                        is_edited="true">
                        <div class="draw_text-box layoutClassSS" 
                            style="width:100%;height:100%;"
                            role="textbox" 
                            id="id_176" 
                            tabindex="0"
                            aria-labelledby="P_arialabel_Subtitle"
                            aria-describedby="P_arialabel_PressEnterToEdit">
                            <div style="display:table;height:100%;width:100%;table-layout:fixed;"
                                id="id_177">
                                <div
                                    class="draw_frame_classes MSO_TEXTBOX_GRAPHIC MG_defaultMaster_Title_subtitle_1 pr_178 MT_defaultMaster_Title_subtitle_1 MP_defaultMaster_Title_subtitle_1"
                                    style="display:table-cell;padding-left:1.1111%;padding-right:1.1111%;padding-top:0.555556%;padding-bottom:0.555556%;width:97.7778%;height:98.8889%; ms-lang:en-US;"
                                    id="id_178">
                                    <p id="body_id_1838a270af40e99" class="defaultContentText cb_subtitle MP_defaultMaster_Title_subtitle_1  MT_defaultMaster_Title_subtitle_1 ML_defaultMaster_Title_subtitle_1"><span id="id_s222" style="font-size:1.77778em;">Click to add subtitle</span><br class="hideInIE"/></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="draw_frame" 
                        style="position:absolute;top:100%;left:0%;width:100%;height:5%;" 
                        id="id_179"
                        text_anchor-type="paragraph" 
                        presentation_class="notes"
                        presentation_placeholder="true" 
                        draw_layer="layout"
                        is_edited="true">
                        <div class="draw_text-box" id="id_180">
                            <div id="id_181">
                                <div class="draw_frame_classes MSO_TEXTBOX_GRAPHIC  " id="id_182"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
