.concord .MSO_TEXTBOX_GRAPHIC {style_type_category:GRAPHIC;presentation_type:TEXTBOX;border-style:solid;border-width:0.0625em;word-wrap:break-word;}
.concord .MSO_BORDER_STYLE_NONE {border-style:none;}
.concord .MP_default_textbox {abs-margin-left:0;margin-bottom:0;text-align:left;margin-left:0;mso_marL:0;margin-right:0;text-indent:0;line-height:1.0;margin-top:0;}
.concord .ML_default_textbox:before {font-family:Calibri;white-space:pre;abs-font-color:#000000;}
.concord .MS_defaultMaster_Content_title {cy:1.143e+006;left:5%;top:4.00464%;width:90%;height:16.6667%;cx:8.2296e+006;}
.concord .MG_defaultMaster_Content_title {padding-right:1.11111%;padding-top:0.555556%;padding-bottom:0.555556%;word-wrap:break-word;vertical-align:middle;padding-left:1.11111%;}
.concord .MP_defaultMaster_Content_title_1 {text-align:center;margin-top:0%;}
.concord .ML_defaultMaster_Content_title_1:before {content:;font-family:;white-space:pre;abs-font-color:#000000;}
.concord .MT_defaultMaster_Content_title_1 {abs-font-size:44;font-family:Calibri;color:#000000;ms-lang:en-US;}
.concord .MT_defaultMaster_Content_title_Master-title {abs-font-size:44;font-family:Calibri;text-align:center;color:#000000;ms-lang:en-US;margin-top:0%;}
.concord .MS_defaultMaster_Content_outline_1 {cy:4.52596e+006;left:5%;top:23.3333%;width:90%;height:65.9954%;cx:8.2296e+006;}
.concord .MG_defaultMaster_Content_outline_1 {padding-right:1.11111%;padding-top:0.555556%;padding-bottom:0.555556%;word-wrap:break-word;padding-left:1.11111%;}
.concord .MP_defaultMaster_Content_outline_1 {abs-margin-left:952;mso_indent:-342900;text-align:left;mso_marL:342900;abs-text-indent:-952;}
.concord .ML_defaultMaster_Content_outline_1:before {margin-right:2%;mso_bullet_type:"\17";content: "\2022";font-family:Arial;white-space:pre;abs-font-color:#000000;}
.concord .MT_defaultMaster_Content_outline_1 {abs-font-size:32;font-family:Calibri;color:#000000;ms-lang:en-US;}
.concord .MT_defaultMaster_Content_outline_Master-outline {abs-margin-left:952;mso_indent:-342900;abs-font-size:32;font-family:Calibri;text-align:left;mso_marL:342900;color:#000000;ms-lang:en-US;abs-text-indent:-952;}
.concord .MP_defaultMaster_Content_outline_2 {abs-margin-left:2063;mso_indent:-285750;text-align:left;mso_marL:742950;abs-text-indent:-793;}
.concord .ML_defaultMaster_Content_outline_2:before {margin-right:2%;mso_bullet_type:"\17";content: "\25E6";font-family:Arial;white-space:pre;abs-font-color:#000000;}
.concord .MT_defaultMaster_Content_outline_2 {abs-font-size:28;font-family:Calibri;color:#000000;ms-lang:en-US;}
.concord .MT_defaultMaster_Content_outline_2_Master-outline {abs-margin-left:2063;mso_indent:-285750;abs-font-size:28;font-family:Calibri;text-align:left;mso_marL:742950;color:#000000;ms-lang:en-US;abs-text-indent:-793;}
.concord .MP_defaultMaster_Content_outline_3 {abs-margin-left:3175;mso_indent:-228600;text-align:left;mso_marL:1143000;abs-text-indent:-635;}
.concord .ML_defaultMaster_Content_outline_3:before {margin-right:2%;mso_bullet_type:"\17";content: "\25AA";font-family:Arial;white-space:pre;abs-font-color:#000000;}
.concord .MT_defaultMaster_Content_outline_3 {abs-font-size:24;font-family:Calibri;color:#000000;ms-lang:en-US;}
.concord .MT_defaultMaster_Content_outline_3_Master-outline {abs-margin-left:3175;mso_indent:-228600;abs-font-size:24;font-family:Calibri;text-align:left;mso_marL:1143000;color:#000000;ms-lang:en-US;abs-text-indent:-635;}
.concord .MP_defaultMaster_Content_outline_4 {abs-margin-left:4445;mso_indent:-228600;text-align:left;mso_marL:1600200;abs-text-indent:-635;}
.concord .ML_defaultMaster_Content_outline_4:before {margin-right:2%;mso_bullet_type:"\17";content: "\25AA";font-family:Arial;white-space:pre;abs-font-color:#000000;}
.concord .MT_defaultMaster_Content_outline_4 {abs-font-size:20;font-family:Calibri;color:#000000;ms-lang:en-US;}
.concord .MT_defaultMaster_Content_outline_4_Master-outline {abs-margin-left:4445;mso_indent:-228600;abs-font-size:20;font-family:Calibri;text-align:left;mso_marL:1600200;color:#000000;ms-lang:en-US;abs-text-indent:-635;}
.concord .MP_defaultMaster_Content_outline_5 {abs-margin-left:5715;mso_indent:-228600;text-align:left;mso_marL:2057400;abs-text-indent:-635;}
.concord .ML_defaultMaster_Content_outline_5:before {margin-right:2%;mso_bullet_type:"\禄";content: "\25AA";font-family:Arial;white-space:pre;abs-font-color:#000000;}
.concord .MT_defaultMaster_Content_outline_5 {abs-font-size:20;font-family:Calibri;color:#000000;ms-lang:en-US;}
.concord .MT_defaultMaster_Content_outline_5_Master-outline {abs-margin-left:5715;mso_indent:-228600;abs-font-size:20;font-family:Calibri;text-align:left;mso_marL:2057400;color:#000000;ms-lang:en-US;abs-text-indent:-635;}
.concord .MP_defaultMaster_Content_outline_6 {abs-margin-left:6915;mso_indent:-228600;text-align:left;mso_marL:2489400;abs-text-indent:-635;}
.concord .ML_defaultMaster_Content_outline_6:before {margin-right:2%;mso_bullet_type:"\禄";content: "\25AA";font-family:Arial;white-space:pre;abs-font-color:#000000;}
.concord .MT_defaultMaster_Content_outline_6 {abs-font-size:20;font-family:Calibri;color:#000000;ms-lang:en-US;}
.concord .MT_defaultMaster_Content_outline_6_Master-outline {abs-margin-left:6915;mso_indent:-228600;abs-font-size:20;font-family:Calibri;text-align:left;mso_marL:2489400;color:#000000;ms-lang:en-US;abs-text-indent:-635;}
.concord .MP_defaultMaster_Content_outline_7 {abs-margin-left:8115;mso_indent:-228600;text-align:left;mso_marL:2921400;abs-text-indent:-635;}
.concord .ML_defaultMaster_Content_outline_7:before {margin-right:2%;mso_bullet_type:"\禄";content: "\25AA";font-family:Arial;white-space:pre;abs-font-color:#000000;}
.concord .MT_defaultMaster_Content_outline_7 {abs-font-size:20;font-family:Calibri;color:#000000;ms-lang:en-US;}
.concord .MT_defaultMaster_Content_outline_7_Master-outline {abs-margin-left:8115;mso_indent:-228600;abs-font-size:20;font-family:Calibri;text-align:left;mso_marL:2921400;color:#000000;ms-lang:en-US;abs-text-indent:-635;}
.concord .MP_defaultMaster_Content_outline_8 {abs-margin-left:9000;mso_indent:-228600;text-align:left;mso_marL:3240000;abs-text-indent:-635;}
.concord .ML_defaultMaster_Content_outline_8:before {margin-right:2%;mso_bullet_type:"\禄";content: "\25AA";font-family:Arial;white-space:pre;abs-font-color:#000000;}
.concord .MT_defaultMaster_Content_outline_8 {abs-font-size:20;font-family:Calibri;color:#000000;ms-lang:en-US;}
.concord .MT_defaultMaster_Content_outline_8_Master-outline {abs-margin-left:9000;mso_indent:-228600;abs-font-size:20;font-family:Calibri;text-align:left;mso_marL:3240000;color:#000000;ms-lang:en-US;abs-text-indent:-635;}
.concord .MP_defaultMaster_Content_outline_9 {abs-margin-left:9800;mso_indent:-228600;text-align:left;mso_marL:3528000;abs-text-indent:-635;}
.concord .ML_defaultMaster_Content_outline_9:before {margin-right:2%;mso_bullet_type:"\禄";content: "\25AA";font-family:Arial;white-space:pre;abs-font-color:#000000;}
.concord .MT_defaultMaster_Content_outline_9 {abs-font-size:20;font-family:Calibri;color:#000000;ms-lang:en-US;}
.concord .MT_defaultMaster_Content_outline_9_Master-outline {abs-margin-left:9800;mso_indent:-228600;abs-font-size:20;font-family:Calibri;text-align:left;mso_marL:3528000;color:#000000;ms-lang:en-US;abs-text-indent:-635;}
.concord .MS_defaultMaster_Content_datetime_10 {cy:365125;left:5%;top:92.6852%;width:23.3333%;height:5.32407%;cx:2.1336e+006;}
.concord .MG_defaultMaster_Content_datetime_10 {}
.concord .MP_defaultMaster_Content_datetime_10_1 {abs-margin-left:0;text-align:left;mso_marL:0;}
.concord .ML_defaultMaster_Content_datetime_10_1:before {font-family:;white-space:pre;abs-font-color:#8b8b8b;}
.concord .MT_defaultMaster_Content_datetime_10_1 {abs-font-size:12;font-family:Calibri;color:#8b8b8b;}
.concord .MS_defaultMaster_Content_footer_11 {cy:365125;left:34.1667%;top:92.6852%;width:31.6667%;height:5.32407%;cx:2.8956e+006;}
.concord .MG_defaultMaster_Content_footer_11 {}
.concord .MP_defaultMaster_Content_footer_11_1 {abs-margin-left:0;text-align:center;mso_marL:0;}
.concord .ML_defaultMaster_Content_footer_11_1:before {font-family:;white-space:pre;abs-font-color:#8b8b8b;}
.concord .MT_defaultMaster_Content_footer_11_1 {abs-font-size:12;font-family:Calibri;color:#8b8b8b;}
.concord .MS_defaultMaster_Content_slidenum_12 {cy:365125;left:71.6667%;top:92.6852%;width:23.3333%;height:5.32407%;cx:2.1336e+006;}
.concord .MG_defaultMaster_Content_slidenum_12 {}
.concord .MP_defaultMaster_Content_slidenum_12_1 {abs-margin-left:0;text-align:right;mso_marL:0;}
.concord .ML_defaultMaster_Content_slidenum_12_1:before {font-family:;white-space:pre;abs-font-color:#8b8b8b;}
.concord .MT_defaultMaster_Content_slidenum_12_1 {abs-font-size:12;font-family:Calibri;color:#8b8b8b;}
.concord .MG_defaultMaster_Title_title {padding-right:1.11111%;padding-top:0.555556%;padding-bottom:0.555556%;word-wrap:break-word;vertical-align:middle;padding-left:1.11111%;}
.concord .MS_defaultMaster_Title_title {cy:1.47003e+006;left:7.5%;top:31.0648%;width:85%;height:21.4352%;cx:7.7724e+006;}
.concord .MP_defaultMaster_Title_title_1 {text-align:center;margin-top:0%;}
.concord .ML_defaultMaster_Title_title_1:before {content:;font-family:;white-space:pre;abs-font-color:#000000;}
.concord .MT_defaultMaster_Title_title_1 {abs-font-size:44;font-family:Calibri;color:#000000;ms-lang:en-US;}
.concord .MT_defaultMaster_Title_title_Master-title {abs-font-size:44;font-family:Calibri;text-align:center;color:#000000;ms-lang:en-US;margin-top:0%;}
.concord .MG_defaultMaster_Title_subtitle_1 {padding-right:1.11111%;padding-top:0.555556%;padding-bottom:0.555556%;word-wrap:break-word;padding-left:1.11111%;}
.concord .MS_defaultMaster_Title_subtitle_1 {cy:1.7526e+006;left:15%;top:56.6667%;width:70%;height:25.5556%;cx:6.4008e+006;}
.concord .MP_defaultMaster_Title_subtitle_1 {abs-margin-left:0;mso_indent:0;text-align:center;vertical-align:middle;mso_marL:0;abs-text-indent:0;}
.concord .ML_defaultMaster_Title_subtitle_1:before {mso_bullet_type:"\17";content:;font-family:;white-space:pre;abs-font-color:#8b8b8b;}
.concord .MT_defaultMaster_Title_subtitle_1 {abs-font-size:32;font-family:Calibri;color:#8b8b8b;ms-lang:en-US;}
.concord .MT_defaultMaster_Title_subtitle_Master-title {abs-margin-left:0;mso_indent:0;abs-font-size:32;font-family:Calibri;text-align:center;mso_marL:0;color:#8b8b8b;ms-lang:en-US;abs-text-indent:0;}
.concord .MP_defaultMaster_Title_subtitle_2 {abs-margin-left:1270;mso_indent:0;text-align:center;mso_marL:457200;abs-text-indent:0;}
.concord .ML_defaultMaster_Title_subtitle_2:before {content:;font-family:;white-space:pre;abs-font-color:#8b8b8b;}
.concord .MT_defaultMaster_Title_subtitle_2 {color:#8b8b8b;}
.concord .MT_defaultMaster_Title_subtitle_2_Master-title {abs-margin-left:1270;mso_indent:0;text-align:center;mso_marL:457200;color:#8b8b8b;abs-text-indent:0;}
.concord .MP_defaultMaster_Title_subtitle_3 {abs-margin-left:2540;mso_indent:0;text-align:center;mso_marL:914400;abs-text-indent:0;}
.concord .ML_defaultMaster_Title_subtitle_3:before {content:;font-family:;white-space:pre;abs-font-color:#8b8b8b;}
.concord .MT_defaultMaster_Title_subtitle_3 {color:#8b8b8b;}
.concord .MT_defaultMaster_Title_subtitle_3_Master-title {abs-margin-left:2540;mso_indent:0;text-align:center;mso_marL:914400;color:#8b8b8b;abs-text-indent:0;}
.concord .MP_defaultMaster_Title_subtitle_4 {abs-margin-left:3810;mso_indent:0;text-align:center;mso_marL:1371600;abs-text-indent:0;}
.concord .ML_defaultMaster_Title_subtitle_4:before {content:;font-family:;white-space:pre;abs-font-color:#8b8b8b;}
.concord .MT_defaultMaster_Title_subtitle_4 {color:#8b8b8b;}
.concord .MT_defaultMaster_Title_subtitle_4_Master-title {abs-margin-left:3810;mso_indent:0;text-align:center;mso_marL:1371600;color:#8b8b8b;abs-text-indent:0;}
.concord .MP_defaultMaster_Title_subtitle_5 {abs-margin-left:5080;mso_indent:0;text-align:center;mso_marL:1828800;abs-text-indent:0;}
.concord .ML_defaultMaster_Title_subtitle_5:before {content:;font-family:;white-space:pre;abs-font-color:#8b8b8b;}
.concord .MT_defaultMaster_Title_subtitle_5 {color:#8b8b8b;}
.concord .MT_defaultMaster_Title_subtitle_5_Master-title {abs-margin-left:5080;mso_indent:0;text-align:center;mso_marL:1828800;color:#8b8b8b;abs-text-indent:0;}
.concord .MP_defaultMaster_Title_subtitle_6 {abs-margin-left:6350;mso_indent:0;text-align:center;mso_marL:2286000;abs-text-indent:0;}
.concord .ML_defaultMaster_Title_subtitle_6:before {content:;font-family:;white-space:pre;abs-font-color:#8b8b8b;}
.concord .MT_defaultMaster_Title_subtitle_6 {color:#8b8b8b;}
.concord .MT_defaultMaster_Title_subtitle_6_Master-title {abs-margin-left:6350;mso_indent:0;text-align:center;mso_marL:2286000;color:#8b8b8b;abs-text-indent:0;}
.concord .MP_defaultMaster_Title_subtitle_7 {abs-margin-left:7620;mso_indent:0;text-align:center;mso_marL:2743200;abs-text-indent:0;}
.concord .ML_defaultMaster_Title_subtitle_7:before {content:;font-family:;white-space:pre;abs-font-color:#8b8b8b;}
.concord .MT_defaultMaster_Title_subtitle_7 {color:#8b8b8b;}
.concord .MT_defaultMaster_Title_subtitle_7_Master-title {abs-margin-left:7620;mso_indent:0;text-align:center;mso_marL:2743200;color:#8b8b8b;abs-text-indent:0;}
.concord .MP_defaultMaster_Title_subtitle_8 {abs-margin-left:8890;mso_indent:0;text-align:center;mso_marL:3200400;abs-text-indent:0;}
.concord .ML_defaultMaster_Title_subtitle_8:before {content:;font-family:;white-space:pre;abs-font-color:#8b8b8b;}
.concord .MT_defaultMaster_Title_subtitle_8 {color:#8b8b8b;}
.concord .MT_defaultMaster_Title_subtitle_8_Master-title {abs-margin-left:8890;mso_indent:0;text-align:center;mso_marL:3200400;color:#8b8b8b;abs-text-indent:0;}
.concord .MP_defaultMaster_Title_subtitle_9 {abs-margin-left:10160;mso_indent:0;text-align:center;mso_marL:3657600;abs-text-indent:0;}
.concord .ML_defaultMaster_Title_subtitle_9:before {content:;font-family:;white-space:pre;abs-font-color:#8b8b8b;}
.concord .MT_defaultMaster_Title_subtitle_9 {color:#8b8b8b;}
.concord .MT_defaultMaster_Title_subtitle_9_Master-title {abs-margin-left:10160;mso_indent:0;text-align:center;mso_marL:3657600;color:#8b8b8b;abs-text-indent:0;}
.concord .MS_defaultMaster_Title_datetime_10 {cy:365125;left:5%;top:92.6852%;width:23.3333%;height:5.32407%;cx:2.1336e+006;}
.concord .MG_defaultMaster_Title_datetime_10 {}
.concord .MP_defaultMaster_Title_datetime_10_1 {abs-margin-left:0;text-align:left;mso_marL:0;}
.concord .ML_defaultMaster_Title_datetime_10_1:before {font-family:;white-space:pre;abs-font-color:#8b8b8b;}
.concord .MT_defaultMaster_Title_datetime_10_1 {abs-font-size:12;font-family:Calibri;color:#8b8b8b;}
.concord .MS_defaultMaster_Title_footer_11 {cy:365125;left:34.1667%;top:92.6852%;width:31.6667%;height:5.32407%;cx:2.8956e+006;}
.concord .MG_defaultMaster_Title_footer_11 {}
.concord .MP_defaultMaster_Title_footer_11_1 {abs-margin-left:0;text-align:center;mso_marL:0;}
.concord .ML_defaultMaster_Title_footer_11_1:before {font-family:;white-space:pre;abs-font-color:#8b8b8b;}
.concord .MT_defaultMaster_Title_footer_11_1 {abs-font-size:12;font-family:Calibri;color:#8b8b8b;}
.concord .MS_defaultMaster_Title_slidenum_12 {cy:365125;left:71.6667%;top:92.6852%;width:23.3333%;height:5.32407%;cx:2.1336e+006;}
.concord .MG_defaultMaster_Title_slidenum_12 {}
.concord .MP_defaultMaster_Title_slidenum_12_1 {abs-margin-left:0;text-align:right;mso_marL:0;}
.concord .ML_defaultMaster_Title_slidenum_12_1:before {font-family:;white-space:pre;abs-font-color:#8b8b8b;}
.concord .MT_defaultMaster_Title_slidenum_12_1 {abs-font-size:12;font-family:Calibri;color:#8b8b8b;}
.concord .MP_default_otherstyle_1 {abs-margin-left:0;text-align:left;mso_marL:0;}
.concord .ML_default_otherstyle_1:before {font-family:Calibri;white-space:pre;abs-font-color:#000000;}
.concord .MT_default_otherstyle_1 {abs-font-size:18;font-family:Calibri;color:#000000;}
.concord .MP_default_otherstyle_2 {abs-margin-left:1270;text-align:left;mso_marL:457200;}
.concord .ML_default_otherstyle_2:before {font-family:Calibri;white-space:pre;abs-font-color:#000000;}
.concord .MT_default_otherstyle_2 {abs-font-size:18;font-family:Calibri;color:#000000;}
.concord .MP_default_otherstyle_3 {abs-margin-left:2540;text-align:left;mso_marL:914400;}
.concord .ML_default_otherstyle_3:before {font-family:Calibri;white-space:pre;abs-font-color:#000000;}
.concord .MT_default_otherstyle_3 {abs-font-size:18;font-family:Calibri;color:#000000;}
.concord .MP_default_otherstyle_4 {abs-margin-left:3810;text-align:left;mso_marL:1371600;}
.concord .ML_default_otherstyle_4:before {font-family:Calibri;white-space:pre;abs-font-color:#000000;}
.concord .MT_default_otherstyle_4 {abs-font-size:18;font-family:Calibri;color:#000000;}
.concord .MP_default_otherstyle_5 {abs-margin-left:5080;text-align:left;mso_marL:1828800;}
.concord .ML_default_otherstyle_5:before {font-family:Calibri;white-space:pre;abs-font-color:#000000;}
.concord .MT_default_otherstyle_5 {abs-font-size:18;font-family:Calibri;color:#000000;}
.concord .MP_default_otherstyle_6 {abs-margin-left:6350;text-align:left;mso_marL:2286000;}
.concord .ML_default_otherstyle_6:before {font-family:Calibri;white-space:pre;abs-font-color:#000000;}
.concord .MT_default_otherstyle_6 {abs-font-size:18;font-family:Calibri;color:#000000;}
.concord .MP_default_otherstyle_7 {abs-margin-left:7620;text-align:left;mso_marL:2743200;}
.concord .ML_default_otherstyle_7:before {font-family:Calibri;white-space:pre;abs-font-color:#000000;}
.concord .MT_default_otherstyle_7 {abs-font-size:18;font-family:Calibri;color:#000000;}
.concord .MP_default_otherstyle_8 {abs-margin-left:8890;text-align:left;mso_marL:3200400;}
.concord .ML_default_otherstyle_8:before {font-family:Calibri;white-space:pre;abs-font-color:#000000;}
.concord .MT_default_otherstyle_8 {abs-font-size:18;font-family:Calibri;color:#000000;}
.concord .MP_default_otherstyle_9 {abs-margin-left:10160;text-align:left;mso_marL:3657600;}
.concord .ML_default_otherstyle_9:before {font-family:Calibri;white-space:pre;abs-font-color:#000000;}
.concord .MT_default_otherstyle_9 {abs-font-size:18;font-family:Calibri;color:#000000;}
.concord .MG_default_datetime {}
.concord .MS_default_datetime {cy:365125;left:5%;top:92.6852%;width:23.3333%;height:5.32407%;cx:2.1336e+006;}
.concord .MP_default_datetime_1 {abs-margin-left:0;text-align:left;mso_marL:0;}
.concord .ML_default_datetime_1:before {font-family:;white-space:pre;abs-font-color:#8b8b8b;}
.concord .MT_default_datetime_1 {abs-font-size:12;font-family:Calibri;color:#8b8b8b;}
.concord .MG_default_footer {}
.concord .MS_default_footer {cy:365125;left:34.1667%;top:92.6852%;width:31.6667%;height:5.32407%;cx:2.8956e+006;}
.concord .MP_default_footer_1 {abs-margin-left:0;text-align:center;mso_marL:0;}
.concord .ML_default_footer_1:before {font-family:;white-space:pre;abs-font-color:#8b8b8b;}
.concord .MT_default_footer_1 {abs-font-size:12;font-family:Calibri;color:#8b8b8b;}
.concord .MG_default_slidenum {}
.concord .MS_default_slidenum {cy:365125;left:71.6667%;top:92.6852%;width:23.3333%;height:5.32407%;cx:2.1336e+006;}
.concord .MP_default_slidenum_1 {abs-margin-left:0;text-align:right;mso_marL:0;}
.concord .ML_default_slidenum_1:before {font-family:;white-space:pre;abs-font-color:#8b8b8b;}
.concord .MT_default_slidenum_1 {abs-font-size:12;font-family:Calibri;color:#8b8b8b;}
