<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Currículum</title>
</head>
<body  class="concord_Doc_Style_11">

<p class="page" id="resume">

	<p documentBlock="true" restyle="false" concordTemplateComponent="letterhead" class="letterhead">
		<h1>Nom Cognoms</h1>
		<ul>
			<li class="addressLine1">Carrer, número 1234</li>
			<li class="addressLine2">Ciutat, Província 12345</li>
			<li class="email">email@example.com</li>
			<li class="phone">(123) 456-7890</li>
		</ul>		
	</p>

	<p documentBlock="true" class="section summary">
		<h2>Objectiu</h2>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		-->
	</p>
		
	<p documentBlock="true" class="section">
		<h2>Ensenyament</h2>
		<p documentBlock="true"  class="subsection">
			<h3>Nom de l'escola&nbsp; &nbsp;&nbsp; &nbsp; Ciutat, província</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<li>Títol obtingut <!--Lorem ipsum dolor--> &nbsp;&nbsp;&nbsp;&nbsp;2006-2008</li>
			</ul>
		</p>
		<p documentBlock="true"  class="subsection">	
			<h3>Nom de la universitat&nbsp; &nbsp;&nbsp; &nbsp;Ciutat, província</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<li>Títol obtingut &nbsp;&nbsp;&nbsp;&nbsp;2002-2006</li>
			</ul>
		</p>
	</p>
	
	<p documentBlock="true"  class="section">
		<h2>Experiència</h2>
		<p documentBlock="true"  class="subsection">
			<h3>Nom de l'empresa&nbsp;&nbsp;&nbsp;&nbsp;Ciutat, estat</h3>
			<h4>Gestor de comptes &nbsp;&nbsp;&nbsp;&nbsp;2008-Actualitat</h4>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt.</li>
				-->
			</ul>
		</p>
		<p documentBlock="true"  class="subsection">	
			<h3>Nom de l'empresa&nbsp;&nbsp;&nbsp;&nbsp;Ciutat, estat</h3>
			<h4>Assistent de comptes &nbsp;&nbsp;&nbsp;&nbsp;2006-2008</h4>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Nunc at tellus et est fermentum vehicula. Cras tristique, dolor id viverra varius, sem mi egestas mauris, quis molestie odio ipsum a urna.</li>
				-->
			</ul>
		</p>
		<p documentBlock="true"  class="subsection">	
			<h3>Nom de l'empresa&nbsp;&nbsp;&nbsp;&nbsp;Ciutat, estat</h3>
			<h4>Pràctiques de màrqueting &nbsp;&nbsp;&nbsp;&nbsp;2005-2006</h4>
			<ul>
				<!--
				<li>Donec hendrerit ultricies ipsum in bibendum. Aliquam aliquet, diam quis adipiscing semper, arcu nisi viverra nulla, ac vehicula ligula nibh.</li>
				-->
			</ul>
		</p>
	</p>
	
	<p documentBlock="true"  class="section conclusion">
		<h2>Coneixements i certificacions</h2>
		<p documentBlock="true"  class="subsection">
			<h3>Categoria 1</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Lorem ipsum dolor sit amet</li>
				<li>Consectetur adipiscing elit</li>
				<li>Suspendisse facilisis ac mi porttitor</li>
				-->
			</ul>
			<h3>Categoria 2</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Nam faucibus nisi vel velit porta viverra</li>
				<li>Sed in augue id massa pulvinar scelerisque</li>
				-->
			</ul>
		</p>
	</p>
	
	<p documentBlock="true"  class="section references" concordTemplateComponent="references" >
		<h2>Referències</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li>Nom Cognom, Relació&nbsp;&nbsp;&nbsp;&nbsp;(123) 456-7890</li>
			<li>Nom Cognom, Relació&nbsp;&nbsp;&nbsp;&nbsp;(123) 456-7890</li>			
		</ul>
	</p>
	
</p>
</body>
</html>
