

<p class="page" id="researchpaper">


	<p restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Referències</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" ><span class="author">Nom, Cognom</span> <span class="date">(AAAA).</span> <span class="source">Nom d'origen.</span> <span class="publisher">Nom d'editor,</span> <span class="range">inici - fi</span></li>
			<li documentBlock="true" ><span class="author">Nom, Cognom</span> <span class="date">(AAAA).</span> <span class="source">Nom d'origen.</span> <span class="publisher">Nom d'editor,</span> <span class="range">inici - fi</span></li>
			<li documentBlock="true" ><span class="author">Nom, Cognom</span> <span class="date">(AAAA).</span> <span class="source">Nom d'origen.</span> <span class="publisher">Nom d'editor,</span> <span class="range">inici - fi</span></li>
			<li documentBlock="true" ><span class="author">Nom, Cognom</span> <span class="date">(AAAA).</span> <span class="source">Nom d'origen.</span> <span class="publisher">Nom d'editor,</span> <span class="range">inici - fi</span></li>
			<li documentBlock="true" ><span class="author">Nom, Cognom</span> <span class="date">(AAAA).</span> <span class="source">Nom d'origen.</span> <span class="publisher">Nom d'editor,</span> <span class="range">inici - fi</span></li>
			<li documentBlock="true" ><span class="author">Nom, Cognom</span> <span class="date">(AAAA).</span> <span class="source">Nom d'origen.</span> <span class="publisher">Nom d'editor,</span> <span class="range">inici - fi</span></li>
			<li documentBlock="true" ><span class="author">Nom, Cognom</span> <span class="date">(AAAA).</span> <span class="source">Nom d'origen.</span> <span class="publisher">Nom d'editor,</span> <span class="range">inici - fi</span></li>
			<li documentBlock="true" ><span class="author">Nom, Cognom</span> <span class="date">(AAAA).</span> <span class="source">Nom d'origen.</span> <span class="publisher">Nom d'editor,</span> <span class="range">inici - fi</span></li>
			<li documentBlock="true" ><span class="author">Nom, Cognom</span> <span class="date">(AAAA).</span> <span class="source">Nom d'origen.</span> <span class="publisher">Nom d'editor,</span> <span class="range">inici - fi</span></li>
			<li documentBlock="true" ><span class="author">Nom, Cognom</span> <span class="date">(AAAA).</span> <span class="source">Nom d'origen.</span> <span class="publisher">Nom d'editor,</span> <span class="range">inici - fi</span></li>
		</ul>
	</p>

</p>
<p></p>
