/* Menu dropdown - Changes border color of menu dropdowns */
.oneui30 .dijitMenu {
    border: 1px solid #181818 !important;
}

body.oneui30 #S_m.dijitMenuBar .dijitMenuItem {
	margin: -1px -2px;
}

/* Menu - Removes borders and adjusts baackground gradient so that it 
seemlessly flows into toolbar gradient */
body.oneui30 .dijitMenuBar,
body.oneui30  #S_m.dijitMenuBar {
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background: #f1f1f1; 
    /*background: -moz-linear-gradient(top,  #f4f4f4 0%, #eaeaea 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  #f4f4f4 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  #f4f4f4 0%,#eaeaea 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  #f4f4f4 0%,#eaeaea 100%); /* IE10+ */
    /*background: linear-gradient(to bottom,  #f4f4f4 0%,#eaeaea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
}

body.oneui30 .dijitMenuBar:not(.toolbarMenu) .dijitMenuItemHover.dijitMenuItemDisabled, 
body.oneui30 .dijitMenuBar:not(.toolbarMenu) .dijitMenuItemSelected.dijitMenuItemDisabled
{
	background: transparent;
    color: #222;
}

body.oneui30 .dijitMenu:not(.toolbarMenu):not(.dijitMenuTable) .dijitMenuItemHover:not(.dijitMenuItemDisabled), 
body.oneui30 .dijitMenu:not(.toolbarMenu):not(.dijitMenuTable) .dijitMenuItemSelected:not(.dijitMenuItemDisabled),
body.oneui30 .lotusActionMenu:not(.toolbarMenu):not(.dijitMenuTable) .dijitMenuItemHover:not(.dijitMenuItemDisabled), 
body.oneui30 .lotusActionMenu:not(.toolbarMenu):not(.dijitMenuTable) .dijitMenuItemSelected:not(.dijitMenuItemDisabled) {
    background-color: #181818 !important;
    color: #FFFFFF !important;
}

/* Menu Cursor - The cursor should not change from the default when 
hovering menus */
.dijitMenuItem {
    cursor: default !important;
}


.oneui30 .dijitMenuBar .dijitMenuItem {padding: 8px 14px !important;}


.dijitMenuPopup .dijitMenuItemLabel {
    padding: 8px 14px 8px 0px !important;
}
.dijitRtl .dijitMenuPopup .dijitMenuItemLabel {
    padding: 8px 0px 8px 14px !important;
}
.dijitMenuRtl .dijitMenuItemLabel {
    padding: 8px 0px 8px 0px !important;
}

.dijitMenuPopup .dijitMenuItemIconCell
{
	width: 13px !important;
	padding: 0 5px !important;
	text-align: center !important;
}

tr.dijitMenuItemDisabled .dijitMenuItemIconCell
{
	opacity: 1 !important;
}

body.oneui30 .dijitMenuPopup .dijitMenuActive .dijitMenuItemDisabledFocused.dijitMenuItemDisabled,
body.oneui30 .dijitMenuPopup .dijitMenuActive .dijitMenuItemDisabled.dijitMenuItemSelected
{
	background-color: #fff !important
}

/* Update Checkmark - This would require an update to sprite. The following 
code is a temporary hack. */
.oneui30 .dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon {    
    width: 13px !important;
    height: 16px !important;
   	background-image: url(img/ssToolbarSprite.png) !important;
   	background-repeat: no-repeat;
   	background-position: 0 -400px !important;
}

/* Keyboard Shortcuts - Updates color, padding and alignment of shortcuts. */
.dijitReset .dijitMenuItemAccelKey {
    color: #999999 !important;
    text-align: right !important;
    padding-right: 2px !important;
}

/* Menu Arrow (that opens submenu) spacing */
.dijitMenuArrowCell {
    min-width: 12px !important;
}

/* Disabled Menu Items - Color and removes 'hover' state. Disabled options
should not display a 'hover' state. */    
.dijitDisabled *,
.dijitDisabled {
    color: #999999!important;
    background: none;
}

.lotusTitleBar2 .dijitDisabled * {
    color: #FFFFFF !important;
}

/* Toolbar - Padding */
.oneui30 .dijitToolbar.websheetToolbar {
    background: #f1f1f1; /* Old browsers */
    /*background: -moz-linear-gradient(top,  #eaeaea 0%, #e0e0e0 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  #eaeaea 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  #eaeaea 0%,#e0e0e0 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  #eaeaea 0%,#e0e0e0 100%); /* IE10+ */
    /*background: linear-gradient(to bottom,  #eaeaea 0%,#e0e0e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #A4A4A4!important; /* Spreadsheet Toolbar - Bottom border */
    padding:0 !important;
}

.oneui30 .dijitToolbar.websheetToolbar .dijitToolbar { /*spreadsheet toolbar*/
    padding: 3px 8px 5px!important;
    background-image: none !important;
    background: none!important;
    border-bottom: none!important;
    -webkit-user-select: none !important;
    -moz-user-select:none !important;
	-khtml-user-select: none !important;
}

.oneui30 #S_t .dijitButtonNode,
.oneui30 #S_t .dijitButtonNode * 
{
	cursor: default !important;
	color: #000000 !important;
}

.oneui30 .websheetToolbar .dijitToolbar .dijitButtonContents
{
	padding: 0 !important;
}

.dj_webkit .oneui30 .websheetToolbar .dijitToolbar > span.dijitInline
{
	position: relative;
}

.oneui30 .websheetToolbar .dijitToolbar > .dijitButton,
.oneui30 .websheetToolbar .dijitToolbar > .dijitToggleButton,
.oneui30 .websheetToolbar .dijitToolbar > .dijitDropDownButton 
{
	margin-right: 0 !important;
	padding: 0 !important;
}

/* Toolbar Buttons */
.oneui30 .websheetToolbar .dijitButton .dijitButtonNode, 
.oneui30 .websheetToolbar .dijitDropDownButton .dijitButtonNode, .oneui30 .dijitComboButton .dijitButtonNode, 
.oneui30 .websheetToolbar .dijitToggleButton .dijitButtonNode  {
    background:none repeat scroll 0 0 transparent!Important;
    background-image:none;
}


/* Toolbar - Toolbar Separator left and right margins */
.oneui30 .websheetToolbar .dijitToolbarSeparator {
    margin: 0 3px 0 3px !important;
    width: 4px;
}

/* Toolbar - Single button dropdown arrow position relative to icon,
i.e. text color button */
.oneui30 .websheetToolbar.dijitDownArrowButton .dijitArrowButtonInner {
    /*background-position: -3px -2339px !important;*/
    width: 11px !important;
}

body.oneui30 .websheetToolbar .lotusDijitButtonImg
{
	border: 0 !important;
}

/* Toolbar Button - Corner radius, size and padding */
.oneui30 .websheetToolbar .dijitButton .dijitButtonNode, 
.oneui30 .websheetToolbar .dijitToggleButton .dijitButtonNode,
.oneui30 .websheetToolbar .dijitToggleButton.dijitToggleButtonChecked .dijitButtonNode,
.oneui30 .websheetToolbar .dijitToggleButton.dijitToggleButtonDisabled .dijitButtonNode,
.oneui30 .websheetToolbar .textToolbarButton .dijitButtonNode,
.oneui30 .websheetToolbar .textToolbarButton.dijitButtonChecked .dijitButtonNode,
.oneui30 .websheetToolbar .textToolbarButton.dijitButtonDisabled .dijitButtonNode,
.oneui30 .websheetToolbar .dijitDropDownButton .dijitButtonNode {
    border-radius: 2px !important;
    height: 16px !important;
    padding: 3px !important;
    margin-right: -1px !important;
    border:1px solid transparent!important;
}


/* Toolbar Button - Transition for interactions. It is acceptable that
the transition does not happen in browsers that do not support 'transition'.
The transition not being supported in older browsers does not detract from 
the user's experience in those browsers. */
.oneui30 .websheetToolbar .dijitButton .dijitButtonNode, 
.oneui30 .websheetToolbar .dijitDropDownButton .dijitButtonNode, 
.oneui30 .websheetToolbar .dijitToggleButton .dijitButtonNode,
.oneui30 .websheetToolbar .dijitDropDownButton .dijitButtonNode  {
    transition: background-color .1s linear,  border .1s linear, box-shadow .1s linear;
}

.oneui30 .websheetToolbar .lotusDijitButtonImg .dijitButtonNode
{
 	transition: background-color .1s linear,  box-shadow .1s linear;
}
    
/* Toolbar Button - _off (hover,focus,active) */
.oneui30 .websheetToolbar .dijitButton:not(.dijitDisabled):hover .dijitButtonNode, 
.oneui30 .websheetToolbar .dijitButton:not(.dijitDisabled):focus .dijitButtonNode, 
.oneui30 .websheetToolbar .dijitToggleButton:not(.dijitDisabled):hover .dijitButtonNode, 
.oneui30 .websheetToolbar .dijitToggleButton:not(.dijitDisabled):focus .dijitButtonNode, 
.oneui30 .websheetToolbar .dijitToggleButton:not(.dijitDisabled):active .dijitButtonNode,
.oneui30 .websheetToolbar .textToolbarButton:not(.dijitDisabled):hover .dijitButtonNode, 
.oneui30 .websheetToolbar .textToolbarButton:not(.dijitDisabled):focus .dijitButtonNode, 
.oneui30 .websheetToolbar .textToolbarButton:not(.dijitDisabled):active .dijitButtonNode,
.oneui30 .websheetToolbar .dijitDropDownButton:not(.dijitDisabled):hover .dijitButtonNode,
.oneui30 .websheetToolbar .dijitDropDownButton:not(.dijitDisabled):focus .dijitButtonNode,
.oneui30 .websheetToolbar .dijitDropDownButton:not(.dijitDisabled):active .dijitButtonNode
{
    background-color: transparent !important;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.08))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.08) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.08) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.08) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.08) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#14000000',GradientType=0 ); /* IE6-9 */
    border: 1px solid #999999 !important;
    box-shadow: inset 0 1px 4px rgba(0,0,0,.2) !important;
    opacity: 1;
}


/* Toolbar Button - checked (hover,focus,active) */
.oneui30 .websheetToolbar .dijitDropDownButton:not(.dijitDisabled).dropDownExpanded .dijitButtonNode,
.oneui30 .dijitToolbar .dijitToggleButton.dijitToggleButtonChecked .dijitButtonNode,
.oneui30 .dijitToolbar .dijitToggleButton.dijitToggleButtonChecked:hover .dijitButtonNode,
.oneui30 .dijitToolbar .dijitToggleButton.dijitToggleButtonChecked:focus .dijitButtonNode,
.oneui30 .dijitToolbar .dijitToggleButton.dijitToggleButtonChecked:active .dijitButtonNode,
.oneui30 .dijitToolbar .textToolbarButton.dijitToggleButtonChecked .dijitButtonNode,
.oneui30 .dijitToolbar .textToolbarButton.dijitToggleButtonChecked:hover .dijitButtonNode,
.oneui30 .dijitToolbar .textToolbarButton.dijitToggleButtonChecked:focus .dijitButtonNode,
.oneui30 .dijitToolbar .textToolbarButton.dijitToggleButtonChecked:active .dijitButtonNode {
    background-color: rgba(0, 0, 0, 0.10) !important;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.18) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0.18))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.18) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.18) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.18) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.18) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#2e000000',GradientType=0 ); /* IE6-9 */
    border: 1px solid #808080 !important;
    box-shadow: inset 0 1px 4px rgba(0,0,0,.2) !important;
    opacity: 1;
}

/* Toolbar Button - Replaces current "icons.png" sprite with proposed 
sprite */


/* Toolbar Button - Removes current vertical handles for toolbar. We would
like to have seperators for tool groups. We will need to update sprite and change how 
the buttons are grouped (see "IBM Docs Web Editor User Adoption Walkthough" 
document for proposed groupings and seperator style). I can provide the 
production assets and designs once this effort begins. */

/* Text style | Typeface | Type size */
.oneui30 .websheetToolbar  #S_t_FontName_label
{
	line-height: 12px;
	width: 78px;
	padding-right: 2px;
	overflow: hidden;
}

.oneui30 .websheetToolbar .dijitDropDownButtonRtl #S_t_FontName_label
{
	direction: ltr;
}

.oneui30 .websheetToolbar  #S_t_FontSize_label{
	line-height: 12px;
	width:18px;
	overflow: hidden;
}
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontName"] {
    margin-right:3px!important;
}
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontSize"] {
    margin-right:6px!important;
}
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontName"] .dijitButtonNode,
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontName"] .dijitButtonText,
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontSize"] .dijitButtonNode,
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontSize"] .dijitButtonText  {
    transition: all 0.1s linear!important;
    text-align: left;
}
.oneui30 .websheetToolbar[dir=rtl] .dijitDropDownButton[widgetid="S_t_FontName"] .dijitButtonNode,
.oneui30 .websheetToolbar[dir=rtl] .dijitDropDownButton[widgetid="S_t_FontName"] .dijitButtonText,
.oneui30 .websheetToolbar[dir=rtl] .dijitDropDownButton[widgetid="S_t_FontSize"] .dijitButtonNode,
.oneui30 .websheetToolbar[dir=rtl] .dijitDropDownButton[widgetid="S_t_FontSize"] .dijitButtonText  {
    text-align: right;
}
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontName"] .dijitButtonNode,
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontName"] .dijitButtonContents,
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontSize"] .dijitButtonNode,
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontSize"] .dijitButtonContents {
    padding:0!important;
    border:none!important;
    height:24px!important;
    background: none!important;
    background-color: transparent!important;
    box-shadow:none!important;
}
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontName"]:not(.dijitDisabled):hover .dijitButtonNode,
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontName"]:not(.dijitDisabled):focus .dijitButtonNode,
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontName"]:not(.dijitDisabled).dropDownExpanded .dijitButtonNode,
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontSize"]:not(.dijitDisabled):hover .dijitButtonNode,
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontSize"]:not(.dijitDisabled):focus .dijitButtonNode,
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontSize"]:not(.dijitDisabled).dropDownExpanded .dijitButtonNode  {
    background-color: #FFFFFF !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset !important;
    border:none!important;
}
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontName"] .dijitButtonText,
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontSize"] .dijitButtonText {
    height:14px!important;
    padding:5px 5px 3px!important;
    border-radius: 2px 0 0 2px!important;
    border: 1px solid #999999!important;
    border-color: #999 transparent #999 #999 !important;
    opacity:0.7!important;
    font-weight:normal!important;
    font-size:12px!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    background: none!important;
}
.oneui30 .websheetToolbar[dir=rtl] .dijitDropDownButton[widgetid="S_t_FontName"] .dijitButtonText,
.oneui30 .websheetToolbar[dir=rtl] .dijitDropDownButton[widgetid="S_t_FontSize"] .dijitButtonText {
    border-radius: 0 2px 2px 0 !important;
    border-color: #999 #999 #999 transparent !important;
}

.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontName"]:not(.dijitDisabled):hover .dijitButtonText, 
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontName"]:not(.dijitDisabled):focus .dijitButtonText, 
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontName"]:not(.dijitDisabled):active .dijitButtonText,
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontSize"]:not(.dijitDisabled):hover .dijitButtonText, 
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontSize"]:not(.dijitDisabled):focus .dijitButtonText, 
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontSize"]:not(.dijitDisabled):active .dijitButtonText {
    opacity: 1!important;
}
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontName"] .dijitArrowButtonInner,
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontSize"] .dijitArrowButtonInner {
    height:22px!important;
    width:15px!important;
    border-radius: 0 2px 2px 0!important;
    border: 1px solid #999999!important;
    border-color: #999 #999 #999 transparent!important;
    margin-left:-1px!important;
    display:inline-block!important;
    opacity:0.7!important;
}
.oneui30 .websheetToolbar[dir=rtl] .dijitDropDownButton[widgetid="S_t_FontName"] .dijitArrowButtonInner,
.oneui30 .websheetToolbar[dir=rtl] .dijitDropDownButton[widgetid="S_t_FontSize"] .dijitArrowButtonInner {
    border-radius: 2px 0 0 2px !important;
    border-color: #999999 transparent #999999 #999999 !important;
    margin-right: -1px !important;
}
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontName"]:not(.dijitDisabled):hover .dijitArrowButtonInner,
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontName"]:not(.dijitDisabled):focus .dijitArrowButtonInner,
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontName"]:not(.dijitDisabled):active .dijitArrowButtonInner,
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontSize"]:not(.dijitDisabled):hover .dijitArrowButtonInner,
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontSize"]:not(.dijitDisabled):focus .dijitArrowButtonInner,
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontSize"]:not(.dijitDisabled):active .dijitArrowButtonInner {
    opacity:1!important;
}


/* Style/Typeface/Size Dropdowns */
.oneui30 .toolbarMenu.lotusActionMenu {
    border: 1px solid #A9A9A9 !important;
    /*border-radius: 2px 2px 2px 2px !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15) !important;*/
    margin: 0 !important;
    padding: 0 !important;
    width: auto !important;
}

.oneui30 .toolbarMenu.lotusActionMenu .dijitMenuTable
{
	border: none !important;
}

.oneui30 #S_m_MoreCurrenciesByCode, 
.oneui30 #S_m_MoreCurrencies
{
	padding-right: 0 !important;
}

.oneui30 .toolbarMenu.lotusActionMenu .dijitMenuItem.dijitMenuItemHover, 
.oneui30 .toolbarMenu.lotusActionMenu .dijitMenuItem.dijitMenuItemFocused,
.oneui30 .toolbarMenu.lotusActionMenu .dijitMenuItem.dijitMenuItemSelected {
	background: rgba(0,0,0,0) !important;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.06) 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.06))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 100%) !important; /* W3C */
    border: 0 solid !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15) inset !important;
    color: inherit !important;
    cursor: default !important;
    margin: 0 !important;
    outline: medium none !important;
}

.dj_webkit .oneui30 .toolbarMenu.lotusActionMenu .dijitMenuItem.dijitMenuItemHover, 
.dj_webkit .oneui30 .toolbarMenu.lotusActionMenu .dijitMenuItem.dijitMenuItemFocused,
.dj_webkit .oneui30 .toolbarMenu.lotusActionMenu .dijitMenuItem.dijitMenuItemSelected,
.dj_ie .oneui30 .toolbarMenu.lotusActionMenu .dijitMenuItem.dijitMenuItemHover, 
.dj_ie .oneui30 .toolbarMenu.lotusActionMenu .dijitMenuItem.dijitMenuItemFocused,
.dj_ie .oneui30 .toolbarMenu.lotusActionMenu .dijitMenuItem.dijitMenuItemSelected
{
	box-shadow: none !important;
}

.dj_webkit .oneui30 .toolbarMenu.lotusActionMenu .dijitMenuItem.dijitMenuItemHover > td
.dj_webkit .oneui30 .toolbarMenu.lotusActionMenu .dijitMenuItem.dijitMenuItemFocused > td,
.dj_webkit .oneui30 .toolbarMenu.lotusActionMenu .dijitMenuItem.dijitMenuItemSelected > td,
.dj_ie .oneui30 .toolbarMenu.lotusActionMenu .dijitMenuItem.dijitMenuItemHover > td,
.dj_ie .oneui30 .toolbarMenu.lotusActionMenu .dijitMenuItem.dijitMenuItemFocused > td,
.dj_ie .oneui30 .toolbarMenu.lotusActionMenu .dijitMenuItem.dijitMenuItemSelected > td
{
    box-shadow: 0px 4px 2px -3px rgba(0, 0, 0, 0.15) inset !important;
}

.dj_ie9 .oneui30 .toolbarMenu.lotusActionMenu .dijitMenuItem.dijitMenuItemHover td
.dj_ie9 .oneui30 .toolbarMenu.lotusActionMenu .dijitMenuItem.dijitMenuItemFocused td,
.dj_ie9 .oneui30 .toolbarMenu.lotusActionMenu .dijitMenuItem.dijitMenuItemSelected td
{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0f000000',GradientType=0 ); /* IE6-9 */
}

.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontName"] .dijitButtonText, 
.oneui30 .websheetToolbar .dijitDropDownButton[widgetid="S_t_FontSize"] .dijitButtonText 
{
	padding: 5px 0 3px 7px !important;
}
.oneui30 .websheetToolbar[dir=rtl] .dijitDropDownButton[widgetid="S_t_FontName"] .dijitButtonText, 
.oneui30 .websheetToolbar[dir=rtl] .dijitDropDownButton[widgetid="S_t_FontSize"] .dijitButtonText 
{
	padding: 5px 7px 3px 0 !important;
}

.websheetToolbar #S_t_Currency
{
   opacity: 0.5 !important;
   font-size: 14px;
   font-weight: bold;
   position: relative;
   top: -2px;
   width: auto;
   min-width: 16px;
}

.textToolbarButton .dijitButtonText {
	color: #000000;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

/* Bullet List Button - Updated sprite */
.cke_skin_lotus .cke_button_bulletedlist .cke_icon {
    background-position: 0 -160px !important;
}

.websheetToolbarIcon {
	background-image: url(img/ssToolbarSprite.png);
    background-position: 100px center;
    background-repeat: no-repeat;
    display:inline-block!important;
    height: 16px;
    width: 16px;
    margin: 0px !important;
}

.websheetToolbar .undoIcon {
	background-position: 0px 0px;
}

.websheetToolbar .redoIcon {
	background-position: 0px -16px;	
}

.websheetToolbar[dir="rtl"] .undoIcon {
    background-position: 0px -16px;
}

.websheetToolbar[dir="rtl"] .redoIcon {
    background-position: 0px 0px;
}

.websheetToolbar .boldIcon {
	background-position: 0px -96px;
}

.websheetToolbar .italicIcon {
	background-position: 0px -112px;
}

.websheetToolbar .underlineIcon {
	background-position: 0px -128px;
}

.websheetToolbar .strikethroughIcon {
	background-position: 0px -144px;
}

.websheetToolbar .fontColorIcon {
	background-position: 0px -160px;
}

.websheetToolbar .bgColorIcon {
	background-position: 0px -64px;
}

.websheetToolbar .borderIcon {
	background-position: 0px -80px;
}

.websheetToolbar .numberFormatIcon {
	background-position: 0px -32px;
}

.alignLeftIcon {
    background-position: 0 -176px;
}

.websheetToolbar .increaseDecimal{
    background-position: 0px -432px;
}

.websheetToolbar .decreaseDecimal{
	background-position: 0px -448px;
}

html[lang^="ar"] .websheetToolbar .numberFormatIcon {
    background-position: 0 -496px;
}

html[lang^="ar"] .websheetToolbar .increaseDecimal {
    background-position: 0 -512px;
}

html[lang^="ar"] .websheetToolbar .decreaseDecimal {
    background-position: 0 -528px;
}

.websheetToolbar .formatPainterIcon{
    background-position: 0px -544px;
}

.alignCenterIcon {
    background-position: 0 -192px;
}

.alignRightIcon {
    background-position: 0 -208px;
}

.alignTopIcon {
    background-position: 0 -224px;
}

.alignMiddleIcon {
    background-position: 0 -240px;
}

.alignBottomIcon {
    background-position: 0 -256px;
}

.websheetToolbar .wrapTextIcon {
    background-position: 0 -272px;
}

.websheetToolbar .insertDeleteRowIcon {
    background-position: 0 -288px
}

.websheetToolbar .insertDeleteColIcon {
    background-position: 0 -304px;
}

.websheetToolbar .formulaIcon {
    background-position: 0 -336px 
}

.websheetToolbar .insertChartIcon {
    background-position: 0 -352px;
}

.websheetToolbar .mergeCellIcon {
	background-position: 0px -320px;
}

.websheetToolbar .filterIcon {
    background-position: 0 -48px;
}

.websheetToolbar .percentageIcon {
    background-position: 0 -416px;
}


/* Tooltip Style */
.menuTooltip {
         background-color:#ffffff;
         padding: 0px !important;
         margin: 0px !important;
}

.menuTooltip .dijitTooltipContainer
{
	border:1px solid #999999; 
    box-shadow: 0 1px 4px rgba(0,0,0,.25); 
}

.menuTooltip.dijitTooltipBelow .dijitTooltipConnector {
         width:11px;
         height:8px; 
       	 background-image: url(img/ssToolbarSprite.png);
         position:absolute; 
         top:-5px;
         background-position: 0 -384px;
         background-repeat: no-repeat;
}

.menuTooltip.dijitTooltipAbove .dijitTooltipConnector {
         width:11px;
         height:8px; 
         background-image: url(img/ssToolbarSprite.png);
         background-position: 0 -368px;
         bottom: -7px;
         background-repeat: no-repeat;
}

.oneui30 .menuTooltip.dijitTooltipRight .dijitTooltipConnector {
	width: 16px;
	height: 16px;
	background-image: url(img/ssToolbarSprite.png);
	position: absolute;
	left: -14px;
	top: 4px;
	background-position: 0 -464px;
	background-repeat: no-repeat;
}

.tooltipLabel {
    padding:6px 8px; 
    color:#222222;
    white-space: pre;
}

.tooltipAccelKey {
    padding: 6px 8px 6px 0;
    color:#aaaaaa;
    white-space: pre;
}

div[dir="rtl"] .tooltipAccelKey {
    padding: 6px 4px 6px 4px;
}

.websheetToolbar .borderOpinionToolbar, .autoDirectionIcon, .ltrDirectionIcon, .rtlDirectionIcon, 
.sheetLtrDirectionIcon, .sheetRtlDirectionIcon {
    background-image: url(../images/cellb_sprite.png);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}

.ltrDirectionIcon {
    background-image: url(../../../js/concord/widgets/css/images/bidiToolbarSprite.png);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    background-position: 0px 0px;
}

.rtlDirectionIcon {
    background-image: url(../../../js/concord/widgets/css/images/bidiToolbarSprite.png);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    background-position: 0px -16px;
}

.autoDirectionIcon {
    background-image: url(../../../js/concord/widgets/css/images/bidiToolbarSprite.png);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    background-position: 0px -32px;
}

.sheetLtrDirectionIcon {
    background-image: url(../../../js/concord/widgets/css/images/bidiToolbarSprite.png);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    background-position: 0px -48px;
}

.sheetRtlDirectionIcon {
    background-image: url(../../../js/concord/widgets/css/images/bidiToolbarSprite.png);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    background-position: 0px -64px;
}

.borderOpinionToolbar * {
	cursor: default !important;	
}

.borderOpinionToolbar span[widgetId='S_t_OuterBorders'],
.borderOpinionToolbar span[widgetId='S_t_LeftBorder'],
.borderOpinionToolbar span[widgetId='S_t_TopBorder'],
.borderOpinionToolbar span[widgetId='S_t_RightBorder'],
.borderOpinionToolbar span[widgetId='S_t_BottomBorder']
{
	margin-top: -1px;
}

.borderOpinionToolbar.dijitToolbar .dijitButtonContents {
   padding: 1px 0 0 1px;
}

.borderOpinionToolbar .clearBordersIcon {
	background-position: 0px 0px;
}
.borderOpinionToolbar .allBordersIcon {
	background-position: 0px -15px;
}
.borderOpinionToolbar .innerBordersIcon {
	background-position: 0px -30px;
}
.borderOpinionToolbar .horizontalBordersIcon {
	background-position: 0px -45px;
}
.borderOpinionToolbar .verticalBordersIcon {
	background-position: 0px -60px;
}
.borderOpinionToolbar .outerBordersIcon {
	background-position: 0px -75px;
}
.borderOpinionToolbar .leftBorderIcon {
	background-position: 0px -90px;
}
.borderOpinionToolbar .topBorderIcon {
	background-position: 0px -105px;
}
.borderOpinionToolbar .rightBorderIcon {
	background-position: 0px -120px;
}
.borderOpinionToolbar .bottomBorderIcon {
	background-position: 0px -135px;
}
.borderOpinionToolbar .cellb_1px_solid {
	background-position: 0px -150px;
}
.borderOpinionToolbar .cellb_1px_dot {
	background-position: 0px -165px;
}
.borderOpinionToolbar .cellb_1px_dashIcon {	
	background-position: 0px -180px;
}
.borderOpinionToolbar .cellb_3px_solid {
	background-position: 0px -195px;
}
.borderOpinionToolbar .cellb_3px_dot {
	background-position: 0px -210px;
}
.borderOpinionToolbar .cellb_3px_dashIcon {
	background-position: 0px -225px;
}
