<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>송장</title>
</head>
<body  class="concord_Doc_Style_1">
<table cellspacing="0px" style="margin-top: 0.5cm;margin-bottom: 0.5cm;table-layout: fixed; border-collapse: collapse; width: 100%;"><tbody><tr>
<td style="width: 100%;border-top: 0.5pt solid #000000;border-bottom: 0.5pt solid #000000;padding-top:0.7cm;padding-bottom:0.7cm;">
<p><span style="">회사 로고 </span><span style="color:#cc0066;font-weight:bold;font-size:16pt;">Renovations Inc. 송장</span></p>
</td></tr></tbody></table>
<p style="font-weight:bold;font-size:11pt;">수신인:</p>
<p style="font-weight:bold;font-size:11pt;">Phillipe Babineaux</p>
<p style="font-size:11pt;">수신인 주소</p>
<p><br class="hideInIE">
</p>
<p><br class="hideInIE">
</p>
<table cellspacing="0px" style="border: 0.5pt solid #333333;table-layout:fixed;word-break:break-all;border-collapse:collapse;">
<tbody>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">송장 번호</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">송장 날짜</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">PO 번호</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">벤더 번호</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">요청 번호</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6332999999999998cm;">
<p style="color:#000000;">기타</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
</tbody>
</table>
<p><br class="hideInIE">
</p>
<p><br class="hideInIE">
</p>
<p><br class="hideInIE">
</p>
<table cellspacing="0px" style="border: 0.5pt solid #333333;special-process3:0;table-layout:fixed;word-break:break-all;border-collapse:collapse;">
<tbody>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">수량</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:8.2968cm;">
<p style="color:#000000;">설명</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">단가</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">합계</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
</tbody>
</table>
<p><br class="hideInIE">
</p>
<p><br class="hideInIE">
</p>
<p><br class="hideInIE">
</p>
<table cellspacing="0px" style="border: 0.5pt solid #333333;special-process3:0;table-layout:fixed;word-break:break-all;border-collapse:collapse;">
<tbody>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">부분 합계</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">판매세</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">운송</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">지불할 금액</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">기간</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">지불자</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
</tbody>
</table>
<p><br class="hideInIE"></p>
<p style="line-height:1.5;text-align:center;font-size:11pt;">귀하의 수표를 <span style="font-weight:bold;">Renovations Inc.</span> 앞으로 발행해 주십시오. </p>
<p style="line-height:1.5;text-align:center;"><span style="font-weight:bold;font-size:11pt;">거래해 주셔서 감사합니다!</span></p>
</body>
</html>
