<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">(우편번호) 시/도</span></p>
<p><span style="font-weight:bold;">구/군/시, 동/면/읍</span></p>
<p><span style="font-weight:bold;">2012/02/15</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Phillipe Babineaux</span></p>
<p><span style="font-weight:bold;">CEO</span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">(우편번호) 시/도</span></p>
<p><span style="font-weight:bold;">구/군/시, 동/면/읍</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Babineaux 귀하,</p>
<p><br class="hideInIE"></p>
<p>이 이메일을 통해 최신 생산성 도구인 HCL Docs에 대해 소개할 수 있게 되어 영광입니다. </p>
<p><br class="hideInIE"></p>
<p>HCL Docs는 문서, 스프레드시트 및 프리젠테이션을 작성 및 공유하고 공동으로 저술할 수 있는 웹 기반의 편집기로, 다른 사람들과 공동으로 편집하고 컨텍스트 내에서 토론 및 의견을 제시하며 팀 구성원에게 섹션을 지정할 수 있기 때문에 문서를 작성하는 데 보다 편리합니다. </p>
<p><br class="hideInIE"></p>
<p>자세한 정보가 필요하시면 언제든지 연락주십시오. </p>
<p><br class="hideInIE"></p>
<p>감사합니다.</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Senior Sales Manager</span></p>
<p><br class="hideInIE"></p>
<p>동봉물</p>
</body>
</html>
