

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>참고 문헌</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >성명(YYYY). 원본 이름. 출판사 이름, 시작 - 끝</li>
			<li documentBlock="true" >성명(YYYY). 원본 이름. 출판사 이름, 시작 - 끝</li>
			<li documentBlock="true" >성명(YYYY). 원본 이름. 출판사 이름, 시작 - 끝</li>
			<li documentBlock="true" >성명(YYYY). 원본 이름. 출판사 이름, 시작 - 끝</li>
			<li documentBlock="true" >성명(YYYY). 원본 이름. 출판사 이름, 시작 - 끝</li>
			<li documentBlock="true" >성명(YYYY). 원본 이름. 출판사 이름, 시작 - 끝</li>
			<li documentBlock="true" >성명(YYYY). 원본 이름. 출판사 이름, 시작 - 끝</li>
			<li documentBlock="true" >성명(YYYY). 원본 이름. 출판사 이름, 시작 - 끝</li>
			<li documentBlock="true" >성명(YYYY). 원본 이름. 출판사 이름, 시작 - 끝</li>
			<li documentBlock="true" >성명(YYYY). 원본 이름. 출판사 이름, 시작 - 끝</li>
		</ul>
	</div>

</div>
<p></p>
