<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Ata da Reunião</title>
</head>
<body  class="concord_Doc_Style_2">

<p class="page">

	<p documentBlock="true" restyle="false"  concordTemplateComponent="letterhead" class="letterhead">
		<h1>Nome da Reunião</h1>
		<ul>
			<li>Nome do Projeto</li>
			<li>Nome da Empresa</li>
		</ul>
		<hr></hr>
	</p>


	<p documentBlock="true"  class="section">
		<h2>Participantes</h2>
		<table class="smartTable STStyle4" restyle="true" concordTemplateComponent="smartTable">
		<tbody>
			<tr class="tableHeaderRow">
				<th style="width: 200px;">Nome</th>
				<th style="width: 250px;">Endereço de E-mail</th>
				<th style="width: 250px;">Cargo</th>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
		</tbody>
		</table>
		
	</p>
		
	<p documentBlock="true"  class="section">
		<h2>Agenda</h2>
		<table class="smartTable STStyle4" restyle="true" concordTemplateComponent="smartTable">
		<tbody>
			<tr class="tableHeaderRow">
				<th style="width: 150px;">Item</th>
				<th style="width: 200px;">Proprietário</th>
				<th style="width: 150px;">Tempo</th>
				<th style="width: 350px;">Descrição</th>

			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
		</tbody>
		</table>
			
	</p>
		
	<p documentBlock="true"  class="section">
		<h2>Itens de Ação</h2>
		<table class="smartTable STStyle4" restyle="true" concordTemplateComponent="smartTable">
		<tbody>
			<tr class="tableHeaderRow">
				<th style="width: 150px;">Item de Ação</th>
				<th style="width: 200px;">Proprietário</th>
				<th style="width: 150px;">Prazo Final</th>
				<th style="width: 350px;">Descrição</th>

			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
		</tbody>
		</table>
			
		
		
	</p>
	
	<p documentBlock="true"  class="section">
		<h2>Notas</h2>
		<ul>
		<!--
		<li>In veri quidam appetere vix, eum no nonumy aliquid sensibus. </li>
		<li>Vix id sumo suavitate cotidieque. Dignissim definiebas intellegebat eu qui, laoreet impedit senserit per ad, te est illum discere aliquam. </li>
		<li>Ullamcorper philosophia vix no, no ubique utroque mei, veri decore omittam ne ius. </li>
		-->
		</ul>

		
	</p>
	
</p>
</body>
</html>
