<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Endereço da Rua</span></p>
<p><span style="font-weight:bold;">Cidade, ESTADO, CEP</span></p>
<p><span style="font-weight:bold;">15/02/2012</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Phillipe Babineaux</span></p>
<p><span style="font-weight:bold;">Chefe Executivo</span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">Endereço da Rua</span></p>
<p><span style="font-weight:bold;">Cidade, ESTADO, CEP</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Prezado Sr. Babineaux,</p>
<p><br class="hideInIE"></p>
<p>É um prazer apresentar a ferramenta de produtividade mais recente HCL Docs por meio deste email.</p>
<p><br class="hideInIE"></p>
<p>HCL Docs é um editor baseado na web para criar, compartilhar e criar de forma colaborativa documentos, planilhas e apresentações. É a melhor maneira de criar documentos, porque é possível coeditar com colegas, comentar e discutir o contexto, além de designar seções a membros da equipe.</p>
<p><br class="hideInIE"></p>
<p>Esteja à vontade para entrar em contato comigo se precisar de mais informações.</p>
<p><br class="hideInIE"></p>
<p>Atenciosamente,</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Gerente de Vendas Sênior</span></p>
<p><br class="hideInIE"></p>
<p>Documentos Anexos</p>
</body>
</html>
