<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Životopis</title>
</head>
<body  class="concord_Doc_Style_1">
<p style="color:#0000ff;text-align:center;font-size:15pt;">Tomáš Novotný</p>
<p style="color:#333333;text-align:center;font-size:10pt;"> </p>
<p style="color:#333333;text-align:center;font-size:10pt;">Hlavní ulice 1, Město, Země</p>
<p style="color:#333333;text-align:center;font-size:10pt;">617 555 000</p>
<p style="color:#333333;text-align:center;font-size:10pt;">tomas.novotny@spolecnost.com</p>
<p style="color:#333333;text-align:center;font-size:10pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIN"><li class="lst-cs" value="lst-cs">Souhrn </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">Jsem velmi efektivní, vysoce organizovaný člověk s citem pro detaily a nekonfliktní povahou.</span></p>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIE"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Vzdělání </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-weight:bold;font-size:11pt;">Název univerzity</span></p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">2000 – 2004</span></p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">Dosažený titul, název oboru</span></p>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIR"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Pracovní zkušenosti </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="color:#333333;margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Jméno a adresa současného zaměstnavatele</p>
<p style="color:#333333;margin-left:0.4991cm;font-size:11pt;">2007 – dosud</p>
<p style="color:#333333;margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Náplň práce</p>
<ul class="lst-VDEA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li class="ls-d"><ul class="lst-d" >
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Vytváření harmonogramu a vyhledávání prostředků pro projekty</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Komunikace s klienty a nastavování plánu projektu</span></li>
</ul></li>
</ul>
<p style="margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Jméno a adresa posledního zaměstnavatele</p>
<p style="margin-left:0.4991cm;font-size:11pt;">2004 – 2006</p>
<p style="margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Náplň práce</p>
<ul class="lst-VADA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li class="ls-d"><ul class="lst-d" >
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Vytváření harmonogramu a vyhledávání prostředků pro projekty</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Komunikace s klienty a nastavování plánu projektu</span></li>
</ul></li>
</ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHEN"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Zájmy </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul class="lst-VCEA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Nejdůležitější věcí v mém životě jsou moje děti. Rád s nimi trávím čas a aktivně se účastním všeho, do čeho se pustí.</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Mezi mé zájmy patří četba online na konkrétních webových stránkách nebo prostřednictvím informačních kanálů RSS, jež odebírám. Občas si rád přečtu knihu či poslechnu audioknihu.</span> </li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Jsem stále aktivní. Snažím se pravidelně sportovat a udržet se v dobré kondici. Mezi mé oblíbené sportovní aktivity provozované pod širým nebem patří jízda na kole, běh, plavání, pěší turistika, fotbal a golf.</span> </li>
</ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PEIN"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Reference </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">Seznam referencí</span></p>
</body>
</html>
