<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Petr</span></p>
<p><span style="font-weight:bold;">Ulice</span></p>
<p><span style="font-weight:bold;">Město, PSČ</span></p>
<p><span style="font-weight:bold;">15. 2. 2012</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Tomáš Novotný</span></p>
<p><span style="font-weight:bold;">Výkonný ředitel</span></p>
<p><span style="font-weight:bold;">Renovace, s.r.o.</span></p>
<p><span style="font-weight:bold;">Ulice</span></p>
<p><span style="font-weight:bold;">Město, PSČ</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Vážený pane Novotný,</p>
<p><br class="hideInIE"></p>
<p>je mi velkým potěšením, že vám mohu tímto e-mailem představit nejnovější nástroj pro tvorbu dokumentů HCL Docs. </p>
<p><br class="hideInIE"></p>
<p>Produkt HCL Docs je webový editor, který umožňuje vytváření, sdílení a spolupráci na dokumentech, tabulkách a prezentacích. Je to nejlepší způsob vytváření dokumentů, jelikož je můžete společně s kolegy spravovat, přidávat k nim komentáře, diskutovat o nich a přiřazovat sekce jednotlivým členům týmu. </p>
<p><br class="hideInIE"></p>
<p>Chcete-li získat další informace o tomto produktu, kdykoli se na mě obraťte.</p>
<p><br class="hideInIE"></p>
<p>S pozdravem</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Petr</span></p>
<p><span style="font-weight:bold;">Manažer prodeje</span></p>
<p><br class="hideInIE"></p>
<p>Přílohy</p>
</body>
</html>
