

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Reference</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >Jméno, příjmení, (RRRR). Název zdroje. Název vydavatele, začátek – konec.</li>
			<li documentBlock="true" >Jméno, příjmení, (RRRR). Název zdroje. Název vydavatele, začátek – konec.</li>
			<li documentBlock="true" >Jméno, příjmení, (RRRR). Název zdroje. Název vydavatele, začátek – konec.</li>
			<li documentBlock="true" >Jméno, příjmení, (RRRR). Název zdroje. Název vydavatele, začátek – konec.</li>
			<li documentBlock="true" >Jméno, příjmení, (RRRR). Název zdroje. Název vydavatele, začátek – konec.</li>
			<li documentBlock="true" >Jméno, příjmení, (RRRR). Název zdroje. Název vydavatele, začátek – konec.</li>
			<li documentBlock="true" >Jméno, příjmení, (RRRR). Název zdroje. Název vydavatele, začátek – konec.</li>
			<li documentBlock="true" >Jméno, příjmení, (RRRR). Název zdroje. Název vydavatele, začátek – konec.</li>
			<li documentBlock="true" >Jméno, příjmení, (RRRR). Název zdroje. Název vydavatele, začátek – konec.</li>
			<li documentBlock="true" >Jméno, příjmení, (RRRR). Název zdroje. Název vydavatele, začátek – konec.</li>
		</ul>
	</div>

</div>
<p></p>
