<div style='width:100%;height:100%;background:none transparent' gutters="false" class="pres_app viewcompact">    
	<div dojoType='pres.widget.SorterHeader' dojoAttachPoint='sorterHeader' region="top" class='sorterHeader'></div>    	
	<div dojoType='pres.widget.Sorter' class='sorter' dojoAttachPoint='sorter' region="center" style='overflow-y:auto'></div>
	<div dojoType='pres.widget.SideBar' dojoAttachPoint='sideBar' region="left" class='presSidebar' style='display:none'></div>
	<div dojoType='pres.widget.Editor' dojoAttachPoint='editor' region="left" style='display:none'></div>    
</div>
