<div class="dijitInline ibmdocColorPalette" tabIndex="-1" dojoAttachEvent="onkeypress:onKey">
	<div class="dijitColorButtonOuter" dojoAttachPoint="button" >
	<div class="dijitColorButton dijitPaletteCell" dojoAttachPoint="buttonCell">
		<div class="dijitColorButtonInner" >
			<span class="dijitColorButtonIcon" dojoAttachPoint="buttonIcon"></span>
			<span class="dijitColorButtonText" dojoAttachPoint="buttonText">No Fill</span>
		</div>
	</div>
	</div>
	<div class="dijitColorPaletteInner" dojoAttachPoint="divNode" waiRole="grid"">
	</div>
	<div dojoAttachPoint="seperatorDiv" >
	</div>
	<div dojoAttachPoint="opacityPanelContainer" >
	</div>
</div>
