<div class='thumbnail dojoDndItem' tabIndex='-1'>
	<div class='thumbWrapper' dojoAttachPoint='thumbWrapper' tabIndex='-1'>
		<div class='label' dojoAttachPoint='label'>
			<div class='slideNum' dojoAttachPoint='number'></div>
			<div class='slideTrans' dojoAttachPoint='transition'>
				<img class='dijitDisplayNone' dojoAttachPoint='transitionImage'>
			</div>
		</div>
		<div class='contentWrapper' tabIndex='-1'>
			<div class='content' dojoAttachPoint='content'></div>
		</div>
		<div class='markers' dojoAttachPoint='markers' tabIndex='-1'>
		</div>
		<div style='clear:both'></div>
	</div>
	<div class='cover' dojoAttachPoint='cover' tabIndex='-1'></div>
</div>