<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

</head>
<body  class="concord_Doc_Style_10">

<p class="page" id="memo">

	<p documentBlock="true" restyle="false" concordTemplateComponent="letterhead" class="letterhead">
		<h1>Mensagem</h1>		
	</p>

	<p documentBlock="true"  class="section summary">
		<ul restyle="true" concordtemplatecomponent="list" class="list_16">
			<li class="name"><label>Para: </label>Nome próprio Apelido</li>
			<li class="name"><label>De: </label>Nome próprio Apelido</li>
			<li class="date"><label>Data: </label>DD/MM/AAAA</li>
			<li class="subject"><label>Assunto: </label><!-- Lorem ipsum dolor sit amet--></li>
		</ul>
	</p>
		
	<p documentBlock="true" class="section">
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		-->
		<h2>Tópico 1</h2>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		-->
		<h2>Tópico 2</h2>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		-->
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li>Ponto 1</li>
			<li>Ponto 2</li>
			<li>Ponto 3</li>
		</ul>
		<p>Nome próprio Apelido</p>
	</p>
	
</p>
</body>
</html>
