

<p class="page" id="researchpaper">


	<p restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Referências</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" ><span class="author">Apelido, Nome próprio</span> <span class="date">(AAAA).</span> <span class="source">nome de origem.</span> <span class="publisher">Nome do editor,</span> <span class="range">início - fim.</span></li>
			<li documentBlock="true" ><span class="author">Apelido, Nome próprio</span> <span class="date">(AAAA).</span> <span class="source">nome de origem.</span> <span class="publisher">Nome do editor,</span> <span class="range">início - fim.</span></li>
			<li documentBlock="true" ><span class="author">Apelido, Nome próprio</span> <span class="date">(AAAA).</span> <span class="source">nome de origem.</span> <span class="publisher">Nome do editor,</span> <span class="range">início - fim.</span></li>
			<li documentBlock="true" ><span class="author">Apelido, Nome próprio</span> <span class="date">(AAAA).</span> <span class="source">nome de origem.</span> <span class="publisher">Nome do editor,</span> <span class="range">início - fim.</span></li>
			<li documentBlock="true" ><span class="author">Apelido, Nome próprio</span> <span class="date">(AAAA).</span> <span class="source">nome de origem.</span> <span class="publisher">Nome do editor,</span> <span class="range">início - fim.</span></li>
			<li documentBlock="true" ><span class="author">Apelido, Nome próprio</span> <span class="date">(AAAA).</span> <span class="source">nome de origem.</span> <span class="publisher">Nome do editor,</span> <span class="range">início - fim.</span></li>
			<li documentBlock="true" ><span class="author">Apelido, Nome próprio</span> <span class="date">(AAAA).</span> <span class="source">nome de origem.</span> <span class="publisher">Nome do editor,</span> <span class="range">início - fim.</span></li>
			<li documentBlock="true" ><span class="author">Apelido, Nome próprio</span> <span class="date">(AAAA).</span> <span class="source">nome de origem.</span> <span class="publisher">Nome do editor,</span> <span class="range">início - fim.</span></li>
			<li documentBlock="true" ><span class="author">Apelido, Nome próprio</span> <span class="date">(AAAA).</span> <span class="source">nome de origem.</span> <span class="publisher">Nome do editor,</span> <span class="range">início - fim.</span></li>
			<li documentBlock="true" ><span class="author">Apelido, Nome próprio</span> <span class="date">(AAAA).</span> <span class="source">nome de origem.</span> <span class="publisher">Nome do editor,</span> <span class="range">início - fim.</span></li>
		</ul>
	</p>

</p>
<p></p>
