<table border="0" padding="0" spacing="0" title="Contactos" action="create" class="smartTable STStyle16" _moz_resizing="true" concordTemplateComponent="smartTable" restyle="true" >
  <tbody>
    <tr class="tableHeaderRow">
      <th style="width: 150px;">Nome </th>
      <th style="width: 150px;">Empresa </th>
      <th style="width: 150px;">Título </th>
      <th style="width: 150px;">Endereço de correio electrónico </th>
      <th style="width: 150px;">Telefone </th>
      <th style="width: 150px;">Morada </th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr class="alternateRow">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr class="alternateRow">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
<p></p>
