<div dojoAttachPoint="outerNode" class="htmlZoomerContainer" style="text-align: center;position:absolute;bottom:30px;">
 <ul class="lotusInlinelist">
   <li id="html_zoomIn">
	<button dojoType="viewer.widgets.LotusTextButton" id="html_zoomIn_btn" label="${labelZoomIn}" showLabel="false" title= "${labelZoomIn}" iconClass= "zoomInIcon1" class="lotusDijitButtonImg" dojoAttachPoint="zoomIn" dojoAttachEvent="onClick:_onZoomInSelect"></button>
   </li>
   <li id="html_fitWidth">
	<button dojoType="viewer.widgets.LotusTextButton"  label="${labelFitWidth}" showLabel="false" title= "${labelFitWidth}" iconClass= "fitWidthIcon1"  class="lotusDijitButtonImg" dojoAttachPoint="zoomOut" dojoAttachEvent="onClick:_onFitWidthSelect"></button>
   </li>
   <li id="html_zoomOut">
	<button dojoType="viewer.widgets.LotusTextButton" id="html_zoomOut_btn" label="${labelZoomOut}" showLabel="false" title= "${labelZoomOut}" iconClass= "zoomOutIcon1"  class="lotusDijitButtonImg" dojoAttachPoint="zoomOut" dojoAttachEvent="onClick:_onZoomOutSelect"></button>
   </li>
 </ul>	
</div>