<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.ibm.cic.agent.ui.customPanels">
      <panel
            class="com.ibm.docs.im.installer.was.PreCheckPanel"
            id="com.ibm.docs.im.installer.was.PreCheckPanel">
      </panel>
      <panel
            class="com.ibm.docs.im.installer.was.WASInfoPanel"
            id="com.ibm.docs.im.installer.was.WASInfoPanel">
      </panel>
      <panel
      		class="com.ibm.docs.im.installer.was.NodeIdentificationPanel"
            id="com.ibm.docs.im.installer.was.NodeIdentificationPanel">
      </panel>
      <panel
            class="com.ibm.docs.im.installer.register.RegistHostsPanel"
            id="com.ibm.docs.im.installer.register.RegistHostsPanel">
      </panel>
      <panel
            class="com.ibm.docs.im.installer.ecm.ECMIntegrationPanel"
            id="com.ibm.docs.im.installer.ecm.ECMIntegrationPanel">
      </panel>  
      <panel
            class="com.ibm.docs.im.installer.integration.WebChatPanel"
            id="com.ibm.docs.im.installer.integration.WebChatPanel">
      </panel>
      <panel
            class="com.ibm.docs.im.installer.integration.ThirdPartyPanel"
            id="com.ibm.docs.im.installer.integration.ThirdPartyPanel">
      </panel>      
      <panel
            class="com.ibm.docs.im.installer.database.DatabasePanel"
            id="com.ibm.docs.im.installer.database.DatabasePanel">
      </panel>  
      <panel
            class="com.ibm.docs.im.installer.docs.SharedStoragePanel"
            id="com.ibm.docs.im.installer.docs.SharedStoragePanel">
      </panel>
      <panel
            class="com.ibm.docs.im.installer.conversion.ConversionPanel"
            id="com.ibm.docs.im.installer.conversion.ConversionPanel">
      </panel> 
      <panel
            class="com.ibm.docs.im.installer.docs.DocsPanel"
            id="com.ibm.docs.im.installer.docs.DocsPanel">
      </panel> 
      <panel
            class="com.ibm.docs.im.installer.viewer.MainPanel"
            id="com.ibm.docs.im.installer.viewer.MainPanel">
      </panel>
       <panel
            class="com.ibm.docs.im.installer.viewer.ExtensionPanel"
            id="com.ibm.docs.im.installer.viewer.ExtensionPanel">
      </panel>
      <panel
            class="com.ibm.docs.im.installer.server.RestartSettingPanel"
            id="com.ibm.docs.im.installer.server.RestartSettingPanel">
      </panel>
      <panel
            class="com.ibm.docs.im.installer.cfg.GenerateCFG"
            id="com.ibm.docs.im.installer.cfg.GenerateCFG">
      </panel>         
   </extension>
   <extension
         point="com.ibm.cic.agent.ui.customPanelsOrder">
      <wizardOfferingBinding
            offeringId="com.ibm.docs.im.installer"
            offeringVersion="[1.0.5,9.0.0)">
         <wizardExtension
               wizardExtensionId="com.ibm.docs.im.installer.wizardExtension"
               wizardType="INSTALL">
            <panel
                  id="com.ibm.docs.im.installer.was.PreCheckPanel">
            </panel>
            <panel
                  id="com.ibm.docs.im.installer.was.WASInfoPanel">
            </panel>
            <panel
                  id="com.ibm.docs.im.installer.was.NodeIdentificationPanel">
            </panel>
            <panel
                  id="com.ibm.docs.im.installer.register.RegistHostsPanel">
            </panel>
      		<panel
                  id="com.ibm.docs.im.installer.ecm.ECMIntegrationPanel">
            </panel>
      		<panel
            	id="com.ibm.docs.im.installer.integration.WebChatPanel">
      		</panel>
      		<panel
            	id="com.ibm.docs.im.installer.integration.ThirdPartyPanel">
      		</panel>      		
      		<panel
            	id="com.ibm.docs.im.installer.database.DatabasePanel">
      		</panel>
      		<panel
            	id="com.ibm.docs.im.installer.docs.SharedStoragePanel">
      		</panel>
      		<panel
            	id="com.ibm.docs.im.installer.conversion.ConversionPanel">
      		</panel> 
      		<panel 
      			id="com.ibm.docs.im.installer.docs.DocsPanel">
      		</panel> 
      		<panel
                  id="com.ibm.docs.im.installer.viewer.MainPanel">
            </panel>
            <panel
                  id="com.ibm.docs.im.installer.viewer.ExtensionPanel">
            </panel>       
            <panel
             	id="com.ibm.docs.im.installer.server.RestartSettingPanel">
             </panel>
            <panel
                  id="com.ibm.docs.im.installer.cfg.GenerateCFG">
            </panel>     
         </wizardExtension>
      </wizardOfferingBinding>
   </extension>
   <extension
         point="com.ibm.cic.agent.ui.customPanelsOrder">
      <wizardOfferingBinding
            offeringId="com.ibm.docs.im.installer"
            offeringVersion="[1.0.5,9.0.0)">
         <wizardExtension
               wizardExtensionId="com.ibm.docs.im.installer.wizardExtension"
               wizardType="MODIFY">
            <panel
                  id="com.ibm.docs.im.installer.was.WASInfoPanel">
            </panel>
            <panel
                  id="com.ibm.docs.im.installer.was.NodeIdentificationPanel">
            </panel>            
            <panel
                  id="com.ibm.docs.im.installer.register.RegistHostsPanel">
            </panel>
      		<panel
            	id="com.ibm.docs.im.installer.database.DatabasePanel">
      		</panel> 
      		<panel
            	id="com.ibm.docs.im.installer.docs.SharedStoragePanel">
      		</panel> 
      		<panel
                  id="com.ibm.docs.im.installer.ecm.ECMIntegrationPanel">
            </panel>
      		<panel
            	id="com.ibm.docs.im.installer.integration.WebChatPanel">
      		</panel> 
      		<panel
            	id="com.ibm.docs.im.installer.integration.ThirdPartyPanel">
      		</panel>      		      		      		      		           
      		<panel
            	id="com.ibm.docs.im.installer.conversion.ConversionPanel">
      		</panel> 
      		<panel 
      			id="com.ibm.docs.im.installer.docs.DocsPanel">
      		</panel> 
      		<panel
                  id="com.ibm.docs.im.installer.viewer.MainPanel">
      		</panel>            
            <panel
                  id="com.ibm.docs.im.installer.viewer.ExtensionPanel">
            </panel>
            <panel
             	id="com.ibm.docs.im.installer.server.RestartSettingPanel">
            </panel>
            <panel
                  id="com.ibm.docs.im.installer.cfg.GenerateCFG">
            </panel>            
         </wizardExtension>
      </wizardOfferingBinding>
   </extension>
   <extension
         point="com.ibm.cic.agent.ui.customPanelsOrder">
      <wizardOfferingBinding
            offeringId="com.ibm.docs.im.installer"
            offeringVersion="[1.0.5,9.0.0)">
         <wizardExtension
               wizardExtensionId="com.ibm.docs.im.installer.wizardExtension"
               wizardType="UPDATE">
            <panel
                  id="com.ibm.docs.im.installer.was.WASInfoPanel">
            </panel>
            <panel
                  id="com.ibm.docs.im.installer.was.NodeIdentificationPanel">
            </panel>            
            <panel
                  id="com.ibm.docs.im.installer.register.RegistHostsPanel">
            </panel>
      		<panel
            	id="com.ibm.docs.im.installer.database.DatabasePanel">
      		</panel> 
      		<panel
            	id="com.ibm.docs.im.installer.docs.SharedStoragePanel">
      		</panel> 
      		<panel
                  id="com.ibm.docs.im.installer.ecm.ECMIntegrationPanel">
            </panel>
      		<panel
            	id="com.ibm.docs.im.installer.integration.WebChatPanel">
      		</panel>
      		<panel
            	id="com.ibm.docs.im.installer.integration.ThirdPartyPanel">
      		</panel>      		
            <panel
                  id="com.ibm.docs.im.installer.viewer.ExtensionPanel">
            </panel>      		
            <panel
             	id="com.ibm.docs.im.installer.server.RestartSettingPanel">
            </panel>
            <panel
                  id="com.ibm.docs.im.installer.cfg.GenerateCFG">
            </panel>
         </wizardExtension>
      </wizardOfferingBinding>
   </extension>   
   <extension
         point="com.ibm.cic.agent.ui.customPanelsOrder">
      <wizardOfferingBinding
            offeringId="com.ibm.docs.im.installer"
            offeringVersion="[1.0.5,10.0.0)">
         <wizardExtension
               wizardExtensionId="com.ibm.docs.im.installer.wizardExtension"
               wizardType="UNINSTALL">
            <panel
                  id="com.ibm.docs.im.installer.was.WASInfoPanel">
            </panel>  
         </wizardExtension>
      </wizardOfferingBinding>
   </extension>
   <extension
         point="com.ibm.cic.common.core.offeringUserData">
      <offeringBinding
            offeringId="com.ibm.docs.im.installer"
            offeringVersionRange="[1.0.5,9.0.0)">
         <offeringData
               dataDes="%AdminValidatorDesc"
               dataKey="user.wasadminUserData"
               validationClass="com.ibm.docs.im.installer.was.validator.AdminValidator">
         </offeringData>
         <offeringData
               dataDes="%AdminPwdValidatorDesc"
               dataKey="user.pwdOfWasadminUserData"
               validationClass="com.ibm.docs.im.installer.was.validator.AdminPasswordValidator">
         </offeringData>
         <offeringData
               dataDes="%WasInstallRootDesc"
               dataKey="user.wasInstallRootUserData"
               validationClass="com.ibm.docs.im.installer.was.validator.ProfileDirectoryValidator">
         </offeringData>
         <offeringData
               dataDes="%QueriedWinNodeListDesc"
               dataKey="user.winNodeListUserData"
               validationClass="com.ibm.docs.im.installer.was.validator.NodesValidator">
         </offeringData>
         <offeringData
               dataDes="%QueriedLinuxNodeListDesc"
               dataKey="user.linuxNodeListUserData"
               validationClass="com.ibm.docs.im.installer.was.validator.NodesValidator">
         </offeringData>
         <offeringData
               dataDes="%AdminPwdForRemoteHost"
               dataKey="user.targetAdminPWDOfSrv"
               validationClass="com.ibm.docs.im.installer.register.validator.AdminPWDValidator">
         </offeringData>  
      </offeringBinding>
   </extension>
   <extension
         point="com.ibm.cic.common.core.offeringUserData">
      <offeringBinding
            offeringId="com.ibm.docs.im.installer"
            offeringVersionRange="[1.0.5,9.0.0)">
         <offeringData
               dataDes="%dbUserNameDesc"
               dataKey="user.dbUserName"
               validationClass="com.ibm.docs.im.installer.database.validator.DBValidator">
         </offeringData>
         <offeringData
               dataDes="%dbUserPasswordDesc"
               dataKey="user.dbUserPassword"
               validationClass="com.ibm.docs.im.installer.database.validator.DBValidator">
         </offeringData>
         <offeringData
               dataDes="%dbServerHostUrlDesc"
               dataKey="user.dbServerHostUrl">
         </offeringData>  
         <offeringData
               dataDes="%dbProductNameDesc"
               dataKey="user.dbProductName">
         </offeringData>
         <offeringData
               dataDes="%dbDocsDatabaseNameDesc"
               dataKey="user.dbDocsDatabaseName"
               validationClass="com.ibm.docs.im.installer.database.validator.DBValidator">
         </offeringData>
         <offeringData
               dataDes="%dbJdbcPathDesc"
               dataKey="user.dbJdbcPath"
               validationClass="com.ibm.docs.im.installer.database.validator.DBValidator">
         </offeringData>
         <offeringData
               dataDes="%dbServerPortDesc"
               dataKey="user.dbServerPort"
               validationClass="com.ibm.docs.im.installer.database.validator.DBValidator">
         </offeringData>
      </offeringBinding>
   </extension>
   <extension
         point="com.ibm.cic.common.core.offeringUserData">
      <offeringBinding
            offeringId="com.ibm.docs.im.installer"
            offeringVersionRange="[1.0.5,9.0.0)">
         <offeringData
               dataDes="%docsServerDataLocationDesc"
               dataKey="user.docsServerDataLocation"
               validationClass="com.ibm.docs.im.installer.docs.validator.SharedStorageValidator">
         </offeringData>
         <offeringData
               dataDes="%docsSharedLocalPathDesc"
               dataKey="user.docsSharedLocalPath"
               validationClass="com.ibm.docs.im.installer.docs.validator.SharedStorageValidator">               
         </offeringData>         
         <offeringData
               dataDes="%viewerSharedLocalPathDesc"
               dataKey="user.viewerSharedLocalPath"
               validationClass="com.ibm.docs.im.installer.docs.validator.SharedStorageValidator">               
         </offeringData>         
         <offeringData
               dataDes="%uploadFilesPathDesc"
               dataKey="user.uploadFilesPath"
               validationClass="com.ibm.docs.im.installer.docs.validator.SharedStorageValidator">               
         </offeringData>
         <offeringData
               dataDes="%viewerServerDataLocationDesc"
               dataKey="user.viewerServerDataLocation"
               validationClass="com.ibm.docs.im.installer.docs.validator.SharedStorageValidator">
         </offeringData>                                                                             
      </offeringBinding>
   </extension>   
   <extension
         point="com.ibm.cic.common.core.offeringUserData">
      <offeringBinding
            offeringId="com.ibm.docs.im.installer"
            offeringVersionRange="[1.0.5,9.0.0)">
         <offeringData
               dataDes="%wcInstallChoiceDesc"
               dataKey="user.wcInstallChoice"
               validationClass="com.ibm.docs.im.installer.integration.validator.WebChatValidator">
         </offeringData>
         <offeringData
               dataDes="%wcInstallTypeDesc"
               dataKey="user.wcInstallType"
               validationClass="com.ibm.docs.im.installer.integration.validator.WebChatValidator">
         </offeringData>
         <offeringData
               dataDes="%wcServerDomainDesc"
               dataKey="user.wcServerDomain">
         </offeringData>  
         <offeringData
               dataDes="%wcConnConfigLocationDesc"
               dataKey="user.wcConnConfigLocation"
               validationClass="com.ibm.docs.im.installer.integration.validator.WebChatValidator">
         </offeringData>
         <offeringData
               dataDes="%wcConnAttemptsDesc"
               dataKey="user.wcConnAttempts"
               validationClass="com.ibm.docs.im.installer.integration.validator.WebChatValidator">
         </offeringData>
         <offeringData
               dataDes="%wcConnAttemptsTimeDesc"
               dataKey="user.wcConnAttemptsTime"
               validationClass="com.ibm.docs.im.installer.integration.validator.WebChatValidator">
         </offeringData>
         <offeringData
               dataDes="%wcSTServerUrlDesc"
               dataKey="user.wcSTServerUrl"
               validationClass="com.ibm.docs.im.installer.integration.validator.WebChatValidator">
         </offeringData>
         <offeringData
               dataDes="%wcSSLServerUrlDesc"
               dataKey="user.wcSSLServerUrl"
               validationClass="com.ibm.docs.im.installer.integration.validator.WebChatValidator">
         </offeringData>         
      </offeringBinding>
   </extension> 
   <extension
         point="com.ibm.cic.common.core.offeringUserData">
      <offeringBinding
            offeringId="com.ibm.docs.im.installer"
            offeringVersionRange="[1.0.5,9.0.0)">
         <offeringData
               dataDes="%cmisAtomPubDesc"
               dataKey="user.external_cmis_atom_pub"
               validationClass="com.ibm.docs.im.installer.integration.validator.ThirdPartyValidator">
         </offeringData>
         <offeringData
               dataDes="%cmisObjectStoreDesc"
               dataKey="user.external_object_store">
         </offeringData>          
         <offeringData
               dataDes="%metaUrlDesc"
               dataKey="user.external_meta_url"
               validationClass="com.ibm.docs.im.installer.integration.validator.ThirdPartyValidator">
         </offeringData>
         <offeringData
               dataDes="%getUrlDesc"
               dataKey="user.external_get_content_url"
               validationClass="com.ibm.docs.im.installer.integration.validator.ThirdPartyValidator">
         </offeringData>
         <offeringData
               dataDes="%setUrlDesc"
               dataKey="user.external_set_content_url"
               validationClass="com.ibm.docs.im.installer.integration.validator.ThirdPartyValidator">
         </offeringData>                  
         <offeringData
               dataDes="%s2s_methodDesc"
               dataKey="user.external_s2s_method">
         </offeringData>  
         <offeringData
               dataDes="%oauthEPDesc"
               dataKey="user.external_oauth_endpoint"
               validationClass="com.ibm.docs.im.installer.integration.validator.ThirdPartyValidator">
         </offeringData>
         <offeringData
               dataDes="%j2c_aliasDesc"
               dataKey="user.external_j2c_alias"
               validationClass="com.ibm.docs.im.installer.integration.validator.ThirdPartyValidator">
         </offeringData>
         <offeringData
               dataDes="%tokenKeyDesc"
               dataKey="user.external_token_key"
               validationClass="com.ibm.docs.im.installer.integration.validator.ThirdPartyValidator">
         </offeringData>
         <offeringData
               dataDes="%tokenValueDesc"
               dataKey="user.external_s2s_token"
               validationClass="com.ibm.docs.im.installer.integration.validator.ThirdPartyValidator">
         </offeringData>
         <offeringData
               dataDes="%asUserDesc"
               dataKey="user.external_as_user_key"
               validationClass="com.ibm.docs.im.installer.integration.validator.ThirdPartyValidator">
         </offeringData>
         <offeringData
               dataDes="%userProfileURL"
               dataKey="user.external_profiles_url">
         </offeringData>          
         <offeringData
               dataDes="%repoHomeDesc"
               dataKey="user.external_repository_home"
               validationClass="com.ibm.docs.im.installer.integration.validator.ThirdPartyValidator">
         </offeringData>                    
      </offeringBinding>
   </extension>       
   <extension
         point="com.ibm.cic.common.core.offeringUserData">
      <offeringBinding
            offeringId="com.ibm.docs.im.installer"
            offeringVersionRange="[1.0.5,9.0.0)">
         <offeringData
               dataDes="%connInstallLocationDesc"
               dataKey="user.connInstallLocation"
               validationClass="com.ibm.docs.im.installer.conversion.validator.ServerNameValidator">
         </offeringData>
         <offeringData
               dataDes="%connCPUNumberDesc"
               dataKey="user.connCPUNumber">
         </offeringData>
         <offeringData
               dataDes="%connStartPortDesc"
               dataKey="user.connStartPort"
               validationClass="com.ibm.docs.im.installer.conversion.validator.StartingPortValidator">
         </offeringData>          
      </offeringBinding>
   </extension> 
   <extension
         point="com.ibm.cic.common.core.offeringUserData">
      <offeringBinding
            offeringId="com.ibm.docs.im.installer"
            offeringVersionRange="[1.0.5,9.0.0)">
         <offeringData
               dataDes="%docsInstallLocationDesc"
               dataKey="user.docsInstallLocation"
               validationClass="com.ibm.docs.im.installer.docs.validator.DocsValidator">
         </offeringData>
         <offeringData
               dataDes="%connFilesURLDesc"
               dataKey="user.connFilesURL"
               validationClass="com.ibm.docs.im.installer.docs.validator.DocsValidator">
         </offeringData>  
         <offeringData
               dataDes="%connectionsURLDesc"
               dataKey="user.connectionsURL"
               validationClass="com.ibm.docs.im.installer.docs.validator.DocsValidator">
         </offeringData>
         <offeringData
               dataDes="%convServiceURLDesc"
               dataKey="user.convServiceURL"
               validationClass="com.ibm.docs.im.installer.docs.validator.DocsValidator">
         </offeringData>
         <offeringData
               dataDes="%connsAdminDesc"
               dataKey="user.connsAdmin"
               validationClass="com.ibm.docs.im.installer.docs.validator.DocsValidator">
         </offeringData>   
         <offeringData
               dataDes="%tamHostDesc"
               dataKey="user.tamHost"
               validationClass="com.ibm.docs.im.installer.docs.validator.DocsValidator">
         </offeringData> 
         <offeringData
               dataDes="%authorizationDesc"
               dataKey="user.authorization">
         </offeringData>
         <offeringData
               dataDes="%multitenancyDesc"
               dataKey="user.multitenancy">
         </offeringData>
         <offeringData
               dataDes="%nodeJSDesc"
               dataKey="user.nodeJS">
         </offeringData>                                                                       
      </offeringBinding>
   </extension> 
   <extension
         point="com.ibm.cic.common.core.offeringUserData">
      <offeringBinding
            offeringId="com.ibm.docs.im.installer"
            offeringVersionRange="[1.0.5,9.0.0)">
         <offeringData
               dataDefaultValue="Yes"
               dataDes="%viewerEditorInstalled"
               dataKey="user.viewer.editorInstalled">
         </offeringData>
         <offeringData
               dataDefaultValue="http://Connections.renovations.com/conversion"
               dataDes="%viewerConnSrvPath"
               dataKey="user.viewer.conversionSrvPath"
               validationClass="com.ibm.docs.im.installer.viewer.validator.ViewerClusterValidator">
         </offeringData>
         <offeringData
               dataDefaultValue="No"
               dataDes="%viewerCacheControl"
               dataKey="user.viewer.cacheControl">
         </offeringData>
         <offeringData
               dataDefaultValue="No"
               dataDes="%viewerPrintSetting"
               dataKey="user.viewer.printSetting">
         </offeringData>
         <offeringData
               dataDefaultValue="FORM"
               dataDes="%viewerAuthType"
               dataKey="user.viewer.authType">
         </offeringData>
         <offeringData
               dataDes="%viewerAuthServerHostOfDocs"
               dataKey="user.viewer.authServerHostOfDocs"
               validationClass="com.ibm.docs.im.installer.viewer.validator.ViewerClusterValidator">
         </offeringData>
         <offeringData
               dataDefaultValue="False"
               dataDes="%viewerMultitenancy"
               dataKey="user.viewer.multitenancy">
         </offeringData>
         <offeringData
               dataDefaultValue="Yes"
               dataDes="%viewerUploadConvEnablement"
               dataKey="user.viewer.uploadConvEnablement">
         </offeringData>
         <offeringData
               dataDefaultValue="Weekly"
               dataDes="%viewerHKFrequency"
               dataKey="user.viewer.HKFrequency">
         </offeringData>
         <offeringData
               dataDefaultValue="30"
               dataDes="%viewerCleanLstVerOfDocCache"
               dataKey="user.viewer.cleanLstVerOfDocCache"
               validationClass="com.ibm.docs.im.installer.viewer.validator.ViewerClusterValidator">
         </offeringData>
         <offeringData
               dataDefaultValue="256"
               dataDes="%viewerLstVerCleaningTrigger"
               dataKey="user.viewer.lstVerCleaningTrigger"
               validationClass="com.ibm.docs.im.installer.viewer.validator.ViewerClusterValidator">
         </offeringData>
      </offeringBinding>
   </extension>
   <extension
         point="com.ibm.cic.common.core.offeringUserData">
      <offeringBinding
            offeringId="com.ibm.docs.im.installer"
            offeringVersionRange="[1.0.5,9.0.0)">
         <offeringData
               dataDes="%docsExtInstallationPath"
               dataKey="user.docs.ext.installationPath"
               validationClass="com.ibm.docs.im.installer.viewer.validator.ExtensionValidator">
         </offeringData>
         <offeringData
               dataDes="%docsExtDaemonSharedPath"
               dataKey="user.docs.ext.daemonSharedPath"
               validationClass="com.ibm.docs.im.installer.viewer.validator.ExtensionValidator">
         </offeringData>
         <offeringData
               dataDefaultValue="False"
               dataDes="%docsExtIgnoreEvent"
               dataKey="user.docs.ext.ignoreEvent">
         </offeringData>
         <offeringData
               dataDefaultValue="BASIC"
               dataDes="%docsExtAuthType"
               dataKey="user.docs.ext.authType">
         </offeringData>
         <offeringData
               dataDefaultValue="docsAdmin"
               dataDes="%docsExtJ2CAlias"
               dataKey="user.docs.ext.j2cAlias"
               validationClass="com.ibm.docs.im.installer.viewer.validator.ExtensionValidator">
         </offeringData>
         <offeringData
               dataDefaultValue="5.0"
               dataDes="%docsExtICVersion"
               dataKey="user.docs.ext.ICVersion"
               validationClass="com.ibm.docs.im.installer.viewer.validator.ExtensionValidator">
         </offeringData>
         <offeringData
               dataDefaultValue="False"
               dataDes="%viewerExtIgnoreEvent"
               dataKey="user.viewer.ext.ignoreEvent">
         </offeringData>
         <offeringData
               dataDefaultValue="BASIC"
               dataDes="%viewerExtAuthType"
               dataKey="user.viewer.ext.authType">
         </offeringData>
         <offeringData
               dataDefaultValue="viewerAdmin"
               dataDes="%viewerExtJ2CAlias"
               dataKey="user.viewer.ext.j2cAlias"
               validationClass="com.ibm.docs.im.installer.viewer.validator.ExtensionValidator">
         </offeringData>
      </offeringBinding>
   </extension>
   <extension
         point="com.ibm.cic.common.core.offeringUserData">
      <offeringBinding
            offeringId="com.ibm.docs.im.installer"
            offeringVersionRange="[1.0.5,9.0.0)">
         <offeringData
               dataDes="%ecmFNCMISURL"
               dataKey="user.ecm.fncmisURL"
               validationClass="com.ibm.docs.im.installer.ecm.validator.ECMValidator">
         </offeringData>
         <offeringData
               dataDes="%ecmFNCSURL"
               dataKey="user.ecm.fncsURL"
               validationClass="com.ibm.docs.im.installer.ecm.validator.ECMValidator">
         </offeringData>
         <offeringData
               dataDes="%ecmJ2CAlias"
               dataKey="user.ecm.J2CAlias"
               validationClass="com.ibm.docs.im.installer.ecm.validator.ECMValidator">
         </offeringData>
         <offeringData
               dataDes="%ecmCommunitiesURL"
               dataKey="user.ecm.communitiesURL"
               validationClass="com.ibm.docs.im.installer.ecm.validator.ECMValidator">
         </offeringData>
         <offeringData
               dataDes="%ecmNavigatorURL"
               dataKey="user.ecm.navigatorURL"
               validationClass="com.ibm.docs.im.installer.ecm.validator.ECMValidator">
         </offeringData>
      </offeringBinding>
   </extension>
</plugin>
