<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Meritförteckning</title>
</head>
<body  class="concord_Doc_Style_11">

<p class="page" id="resume">

	<p documentBlock="true" restyle="false" concordTemplateComponent="letterhead" class="letterhead">
		<h1>Förnamn Efternamn</h1>
		<ul>
			<li class="addressLine1">Gatuadress 12345</li>
			<li class="addressLine2">123 45 Ort</li>
			<li class="email">epost@exempel.com</li>
			<li class="phone">(123) 456-7890</li>
		</ul>		
	</p>

	<p documentBlock="true" class="section summary">
		<h2>Ändamål</h2>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		-->
	</p>
		
	<p documentBlock="true" class="section">
		<h2>Utbildning</h2>
		<p documentBlock="true"  class="subsection">
			<h3>Skolans namn&nbsp; &nbsp;&nbsp; &nbsp; Orten, Landet</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<li>Avlagd examen <!--Lorem ipsum dolor--> &nbsp;&nbsp;&nbsp;&nbsp;2006-2008</li>
			</ul>
		</p>
		<p documentBlock="true"  class="subsection">	
			<h3>Universitets namn&nbsp; &nbsp;&nbsp; &nbsp;Orten, Landet</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<li>Avlagd examen &nbsp;&nbsp;&nbsp;&nbsp;2002-2006</li>
			</ul>
		</p>
	</p>
	
	<p documentBlock="true"  class="section">
		<h2>Erfarenhet</h2>
		<p documentBlock="true"  class="subsection">
			<h3>Företagets namn&nbsp;&nbsp;&nbsp;&nbsp;Orten, Landet</h3>
			<h4>Kundansvarig  &nbsp;&nbsp;&nbsp;&nbsp;2008-idag</h4>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt.</li>
				-->
			</ul>
		</p>
		<p documentBlock="true"  class="subsection">	
			<h3>Företagets namn&nbsp;&nbsp;&nbsp;&nbsp;Orten, Landet</h3>
			<h4>Kundassistent &nbsp;&nbsp;&nbsp;&nbsp;2006-2008</h4>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Nunc at tellus et est fermentum vehicula. Cras tristique, dolor id viverra varius, sem mi egestas mauris, quis molestie odio ipsum a urna.</li>
				-->
			</ul>
		</p>
		<p documentBlock="true"  class="subsection">	
			<h3>Företagets namn&nbsp;&nbsp;&nbsp;&nbsp;Orten, Landet</h3>
			<h4>Marknadsföringspraktikant &nbsp;&nbsp;&nbsp;&nbsp;2005-2006</h4>
			<ul>
				<!--
				<li>Donec hendrerit ultricies ipsum in bibendum. Aliquam aliquet, diam quis adipiscing semper, arcu nisi viverra nulla, ac vehicula ligula nibh.</li>
				-->
			</ul>
		</p>
	</p>
	
	<p documentBlock="true"  class="section conclusion">
		<h2>Kompetens &amp; intyg</h2>
		<p documentBlock="true"  class="subsection">
			<h3>Kategori 1</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Lorem ipsum dolor sit amet</li>
				<li>Consectetur adipiscing elit</li>
				<li>Suspendisse facilisis ac mi porttitor</li>
				-->
			</ul>
			<h3>Kategori 2</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Nam faucibus nisi vel velit porta viverra</li>
				<li>Sed in augue id massa pulvinar scelerisque</li>
				-->
			</ul>
		</p>
	</p>
	
	<p documentBlock="true"  class="section references" concordTemplateComponent="references" >
		<h2>Referenser</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li>Förnamn Efternamn, Relation &nbsp;&nbsp;&nbsp;&nbsp;(123) 456-7890</li>
			<li>Förnamn Efternamn, Relation &nbsp;&nbsp;&nbsp;&nbsp;(123) 456-7890</li>			
		</ul>
	</p>
	
</p>
</body>
</html>
