

<p class="page" id="researchpaper">


	<p restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Referenser</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" ><span class="author">Efternamn, Förnamn</span> <span class="date">(ÅÅÅÅ).</span> <span class="source">Källnamn.</span> <span class="publisher">Utgivarnamn,</span> <span class="range">start - slut.</span></li>
			<li documentBlock="true" ><span class="author">Efternamn, Förnamn</span> <span class="date">(ÅÅÅÅ).</span> <span class="source">Källnamn.</span> <span class="publisher">Utgivarnamn,</span> <span class="range">start - slut.</span></li>
			<li documentBlock="true" ><span class="author">Efternamn, Förnamn</span> <span class="date">(ÅÅÅÅ).</span> <span class="source">Källnamn.</span> <span class="publisher">Utgivarnamn,</span> <span class="range">start - slut.</span></li>
			<li documentBlock="true" ><span class="author">Efternamn, Förnamn</span> <span class="date">(ÅÅÅÅ).</span> <span class="source">Källnamn.</span> <span class="publisher">Utgivarnamn,</span> <span class="range">start - slut.</span></li>
			<li documentBlock="true" ><span class="author">Efternamn, Förnamn</span> <span class="date">(ÅÅÅÅ).</span> <span class="source">Källnamn.</span> <span class="publisher">Utgivarnamn,</span> <span class="range">start - slut.</span></li>
			<li documentBlock="true" ><span class="author">Efternamn, Förnamn</span> <span class="date">(ÅÅÅÅ).</span> <span class="source">Källnamn.</span> <span class="publisher">Utgivarnamn,</span> <span class="range">start - slut.</span></li>
			<li documentBlock="true" ><span class="author">Efternamn, Förnamn</span> <span class="date">(ÅÅÅÅ).</span> <span class="source">Källnamn.</span> <span class="publisher">Utgivarnamn,</span> <span class="range">start - slut.</span></li>
			<li documentBlock="true" ><span class="author">Efternamn, Förnamn</span> <span class="date">(ÅÅÅÅ).</span> <span class="source">Källnamn.</span> <span class="publisher">Utgivarnamn,</span> <span class="range">start - slut.</span></li>
			<li documentBlock="true" ><span class="author">Efternamn, Förnamn</span> <span class="date">(ÅÅÅÅ).</span> <span class="source">Källnamn.</span> <span class="publisher">Utgivarnamn,</span> <span class="range">start - slut.</span></li>
			<li documentBlock="true" ><span class="author">Efternamn, Förnamn</span> <span class="date">(ÅÅÅÅ).</span> <span class="source">Källnamn.</span> <span class="publisher">Utgivarnamn,</span> <span class="range">start - slut.</span></li>
		</ul>
	</p>

</p>
<p></p>
