<table border="0" padding="0" spacing="0" title="Task" action="create" class="smartTable STStyle17" _moz_resizing="true" concordTemplateComponent="smartTable" restyle="true" >
  <tbody>
    <tr class="tableHeaderRow">
      <th style="width: 150px;">Namn </th>
      <th style="width: 150px;">Prioritet</th>
      <th style="width: 150px;">Förfallodatum</th>
      <th style="width: 150px;">Tilldelat till</th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr class="alternateRow">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr class="alternateRow">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
<p></p>
