<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Curriculum vitae</title>
</head>
<body  class="concord_Doc_Style_11">

<p class="page" id="resume">

	<p documentBlock="true" restyle="false" concordTemplateComponent="letterhead" class="letterhead">
		<h1>Fornavn Etternavn</h1>
		<ul>
			<li class="addressLine1">1234 gateadresse</li>
			<li class="addressLine2">1234 Poststed</li>
			<li class="email">epost@eksempel.com</li>
			<li class="phone">12345678</li>
		</ul>		
	</p>

	<p documentBlock="true" class="section summary">
		<h2>Formål</h2>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		-->
	</p>
		
	<p documentBlock="true" class="section">
		<h2>Utdanning</h2>
		<p documentBlock="true"  class="subsection">
			<h3>Navn på skole&nbsp; &nbsp;&nbsp; &nbsp; By, Fylke</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<li>Grad <!--Lorem ipsum dolor--> &nbsp;&nbsp;&nbsp;&nbsp;2006-2008</li>
			</ul>
		</p>
		<p documentBlock="true"  class="subsection">	
			<h3>Navn på universitet&nbsp; &nbsp;&nbsp; &nbsp; By, Fylke</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<li>Grad &nbsp;&nbsp;&nbsp;&nbsp;2002-2006</li>
			</ul>
		</p>
	</p>
	
	<p documentBlock="true"  class="section">
		<h2>Yrkeserfaring</h2>
		<p documentBlock="true"  class="subsection">
			<h3>Navn på bedrift&nbsp; &nbsp;&nbsp; &nbsp; By, Fylke</h3>
			<h4>Account Manager  &nbsp;&nbsp;&nbsp;&nbsp;2008-Nå</h4>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt.</li>
				-->
			</ul>
		</p>
		<p documentBlock="true"  class="subsection">	
			<h3>Navn på firma&nbsp; &nbsp;&nbsp; &nbsp; By, Fylke</h3>
			<h4>Account Assistant &nbsp;&nbsp;&nbsp;&nbsp;2006-2008</h4>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Nunc at tellus et est fermentum vehicula. Cras tristique, dolor id viverra varius, sem mi egestas mauris, quis molestie odio ipsum a urna.</li>
				-->
			</ul>
		</p>
		<p documentBlock="true"  class="subsection">	
			<h3>Navn på virksomhet&nbsp; &nbsp;&nbsp; &nbsp; By, Fylke</h3>
			<h4>Marketing Intern &nbsp;&nbsp;&nbsp;&nbsp;2005-2006</h4>
			<ul>
				<!--
				<li>Donec hendrerit ultricies ipsum in bibendum. Aliquam aliquet, diam quis adipiscing semper, arcu nisi viverra nulla, ac vehicula ligula nibh.</li>
				-->
			</ul>
		</p>
	</p>
	
	<p documentBlock="true"  class="section conclusion">
		<h2>Kompetanse og sertifiseringer</h2>
		<p documentBlock="true"  class="subsection">
			<h3>Kategori 1</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Lorem ipsum dolor sit amet</li>
				<li>Consectetur adipiscing elit</li>
				<li>Suspendisse facilisis ac mi porttitor</li>
				-->
			</ul>
			<h3>Kategori 2</h3>
			<ul restyle="true" concordtemplatecomponent="list" class="list">
				<!--
				<li>Nam faucibus nisi vel velit porta viverra</li>
				<li>Sed in augue id massa pulvinar scelerisque</li>
				-->
			</ul>
		</p>
	</p>
	
	<p documentBlock="true"  class="section references" concordTemplateComponent="references" >
		<h2>Referanser</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li>Fornavn Etternavn, relasjon &nbsp;&nbsp;&nbsp;&nbsp;12345678</li>
			<li>Fornavn Etternavn, relasjon &nbsp;&nbsp;&nbsp;&nbsp;12345678</li>			
		</ul>
	</p>
	
</p>
</body>
</html>
