<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.ibm.cic.common.core.modelSelectorExpression">
      <expression
            class="com.ibm.docs.im.installer.vfeature.ConvFeature">
      </expression>
      <expression
            class="com.ibm.docs.im.installer.vfeature.DocsFeature">
      </expression>
      <expression
            class="com.ibm.docs.im.installer.vfeature.ViewerFeature">
      </expression>
      <expression
            class="com.ibm.docs.im.installer.vfeature.DocsProxyFeature">
      </expression>
      <expression
            class="com.ibm.docs.im.installer.vfeature.ExtFeature">
      </expression>
      <!--expression
            class="com.ibm.docs.im.installer.vfeature.CCMFeature">
      </expression-->
   </extension>

</plugin>
