# Taken from
The Pillow Book of Sei Shonagon 

Chapter 47

Rare Things

A son-in-law who is praised by his adoptive father; a young bride who is loved by her mother-in-law.
# Do not translate next line
A silver tweezer that is good at plucking out hair.
A servant who does not speak badly of his master.
A person who is in no way eccentric or imperfect, who is superior in both mind and body, and who remains flawless all his life.
# Begin do not translate block
People who live together and still manage to behave with reserve towards each other.  However much these people may try to hide their weaknesses, they usually fail.
To avoid getting inkstains on the notebook into which one is copying stories, poems, or the like.  If it is a very fine notebook, one takes the greatest care not to make a blot; yet somehow one never seems to succeed.
# End do not translate block
When people, whether they be men or women or priests, have promised each other eternal friendship, it is rare for them to stay on good terms until the end.
A servant who is pleasant to his master.
One has given some silk to the fuller and, when he sends it back, it is so beautiful that one cries out in admiration.

Do_Not_Translate this last line since it is not from the original text.
