# SampleEn_US.properties
# Here is a comment statement.
# Comments can occur anywhere in the source file.

StringID = This is translatable text.
Address =Address (translatable)
Clear = Clear (translatable)
InvalidName =Please enter a valid name or address for the server.
VariableExamples = Variables: {0}, {1,date}, {2,anything}\n
Message101 = Here is a message \
where the text exists on multiple lines.\n  Each line containing text must \
end with a continuation character.
// START NON-TRANSLATABLE 
FieldNonTrans = http:\\www.ibm.com\sample\test.html
// END NON-TRANSLATABLE