Created: Dec  7 1999 02:31:17
##1001000 Unable to Open Report File %s on Server
##1001001 Unknown Command %s in Report
##1001002 Incorrect Syntax for Range Format in Report
##1001003 Unknown Member %s in Report