<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="Text/html; charset=UTF-8">
<title>Rechnung</title>
</head>
<body  class="concord_Doc_Style_1">
<table cellspacing="0px" style="margin-top: 0.5cm;margin-bottom: 0.5cm;table-layout: fixed; border-collapse: collapse; width: 100%;"><tbody><tr>
<td style="width: 100%;border-top: 0.5pt solid #000000;border-bottom: 0.5pt solid #000000;padding-top:0.7cm;padding-bottom:0.7cm;">
<p><span style="">Unternehmenslogo </span><span style="color:#cc0066;font-weight:bold;font-size:16pt;">Renovations Inc. Rechnung</span></p>
</td></tr></tbody></table>
<p style="font-weight:bold;font-size:11pt;">An:</p>
<p style="font-weight:bold;font-size:11pt;">Phillipe Babineaux</p>
<p style="font-size:11pt;">Adresse des Empfängers</p>
<p><br class="hideInIE">
</p>
<p><br class="hideInIE">
</p>
<table cellspacing="0px" style="border: 0.5pt solid #333333;table-layout:fixed;word-break:break-all;border-collapse:collapse;">
<tbody>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">Rechnungsnummer</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">Rechnungsdatum</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">P.O. Nummer</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">Verkäufernummer</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">Anfrage- Nummer</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6332999999999998cm;">
<p style="color:#000000;">Weiteres</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
</tbody>
</table>
<p><br class="hideInIE">
</p>
<p><br class="hideInIE">
</p>
<p><br class="hideInIE">
</p>
<table cellspacing="0px" style="border: 0.5pt solid #333333;special-process3:0;table-layout:fixed;word-break:break-all;border-collapse:collapse;">
<tbody>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">Menge</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:8.2968cm;">
<p style="color:#000000;">Beschreibung</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">Stückpreis</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">Gesamtbetrag</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
</tbody>
</table>
<p><br class="hideInIE">
</p>
<p><br class="hideInIE">
</p>
<p><br class="hideInIE">
</p>
<table cellspacing="0px" style="border: 0.5pt solid #333333;special-process3:0;table-layout:fixed;word-break:break-all;border-collapse:collapse;">
<tbody>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">Zwischensumme</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">Umsatzsteuer</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">Versand</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">Fälliger Betrag</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">Bedingungen</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p style="color:#000000;">Zahlbar bis</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
</tbody>
</table>
<p><br class="hideInIE"></p>
<p style="line-height:1.5;text-align:center;font-size:11pt;">Richten Sie Ihre Zahlungen bitte an <span style="font-weight:bold;">Renovations Inc.</span></p>
<p style="line-height:1.5;text-align:center;"><span style="font-weight:bold;font-size:11pt;">Vielen Dank für Ihren Einkauf.</span></p>
</body>
</html>
