<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Begleitschreiben</title>
</head>
<body class="concord_Doc_Style_11">

	<div documentBlock="true" restyle="false"  concordTemplateComponent="letterhead" class="letterhead">
		<h1>Vorname Nachname</h1>
		<ul>
			<li class="addressLine1">Straße 1234</li>
			<li class="addressLine2">12345 Ort</li>
			<li class="email">email@beispiel.com</li>
			<li class="phone">(123) 456-7890</li>
		</ul>
	</div>

		<h2 documentBlock="true" class="section summary">An</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="section list_16">
			<li class="name">Vorname Nachname</li>
			<li class="addressLine1">Straße 1234</li>
			<li class="addressLine2">12345 Ort</li>
			<li class="email">email@beispiel.com</li>
			<li class="phone">(123) 456-7890</li>
		</ul>
		
		<p documentBlock="true" class="section">Sehr geehrte Damen und Herren,</p>
		<!--
		<p documentBlock="true" class="section">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		<p documentBlock="true" class="section">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		<p documentBlock="true" class="section">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		<p documentBlock="true" class="section">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		-->
		<p documentBlock="true" class="section">Mit freundlichen Grüßen,</p>
		<p documentBlock="true" class="section">Vorname Nachname</p>
	
</body>
</html>
