<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="Text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Straße</span></p>
<p><span style="font-weight:bold;">PLZ, Stadt</span></p>
<p><span style="font-weight:bold;">15.02.2012</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Phillipe Babineaux</span></p>
<p><span style="font-weight:bold;">Chief Executive Officer</span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">Straße</span></p>
<p><span style="font-weight:bold;">PLZ, Stadt</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Sehr geehrter Herr Babineaux,</p>
<p><br class="hideInIE"></p>
<p>ich bin erfreut, Ihnen in dieser E-Mail das neueste Produktivitäts-Tool HCL Docs vorstellen zu können.</p>
<p><br class="hideInIE"></p>
<p>HCL Docs ist ein webbasierter Editor zum Erstellen, Teilen und Freigeben von Dokumenten, Tabellen und Präsentationen in Teamarbeit. Hiermit können Sie ganz einfach Dokumente erstellen, die Sie gemeinsam mit Ihren Kollegen bearbeiten, kommentieren und diskutieren können. Darüberhinaus können Sie einzelnen Teammitgliedern bestimmte Abschnitte zuweisen.</p>
<p><br class="hideInIE"></p>
<p>Schreiben Sie mir, wenn Sie weitere Informationen wünschen.</p>
<p><br class="hideInIE"></p>
<p>Mit freundlichen Grüßen</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Senior Sales Manager</span></p>
<p><br class="hideInIE"></p>
<p>Anhänge</p>
</body>
</html>
