<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="Text/html; charset=UTF-8">
<title>Lebenslauf</title>
</head>
<body  class="concord_Doc_Style_1">
<p style="color:#0000ff;text-align:center;font-size:15pt;">Phillipe Babineaux</p>
<p style="color:#333333;text-align:center;font-size:10pt;"> </p>
<p style="color:#333333;text-align:center;font-size:10pt;">Ihre Straße, Ihre Stadt, Ihr Land</p>
<p style="color:#333333;text-align:center;font-size:10pt;">617-555-0000</p>
<p style="color:#333333;text-align:center;font-size:10pt;">phillipe.babineaux@unternehmen.com</p>
<p style="color:#333333;text-align:center;font-size:10pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIN"><li class="lst-cs" value="lst-cs">Zusammenfassung </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">Ich bin ein entspannter Mensch, ich arbeite effizient, organisiert und detailorientiert.</span></p>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIE"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Ausbildung </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-weight:bold;font-size:11pt;">Zuletzt besuchte Universität</span></p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">2000 - 2004</span></p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">Art des Abschlusses, Erstes Hauptfach</span></p>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIR"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Arbeitserfahrung </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="color:#333333;margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Derzeitiger Arbeitgeber, Ort</p>
<p style="color:#333333;margin-left:0.4991cm;font-size:11pt;">2007 - heute</p>
<p style="color:#333333;margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Jobtitel</p>
<ul class="lst-VDEA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li class="ls-d"><ul class="lst-d" >
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Erstellen Sie einen Zeitplan und identifizieren Sie die zum Durchführen des Projekts erforderlichen Ressourcen</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Definieren Sie die Anforderungen des Kunden und erstellen Sie einen Projektplan</span></li>
</ul></li>
</ul>
<p style="margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Name des letzten Arbeitgebers, Ort</p>
<p style="margin-left:0.4991cm;font-size:11pt;">2004 - 2006</p>
<p style="margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Jobtitel</p>
<ul class="lst-VADA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li class="ls-d"><ul class="lst-d" >
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Erstellen Sie einen Zeitplan und identifizieren Sie die zum Durchführen des Projekts erforderlichen Ressourcen</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Definieren Sie die Anforderungen des Kunden und erstellen Sie einen Projektplan</span></li>
</ul></li>
</ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHEN"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Interessen </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul class="lst-VCEA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Am wichtigsten sind mir meine Kinder. Ich verbringe sehr viel Zeit mit ihnen und nehme an allen ihren Aktivitäten teil.</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Ich lese sehr gerne entweder bestimmte Internetseiten oder von mir abonnierte RSS-Feeds, ab und zu auch ein Buch oder ein Hörbuch.</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Ich bin sportlich aktiv. Ich versuche, regelmäßig zu trainieren und an Ligaspielen teilzunehmen. Zu meinen Aktivitäten gehören: Radfahren, Laufen, Schwimmen, Spazieren, Fußball und Golf.</span></li>
</ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PEIN"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Referenzen </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">Liste der Referenzinformationen.</span></p>
</body>
</html>
