<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Adresa</span></p>
<p><span style="font-weight:bold;">PSČ, mesto, štát</span></p>
<p><span style="font-weight:bold;">2012/02/15</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Phillipe Babineaux</span></p>
<p><span style="font-weight:bold;">Chief Executive Officer</span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">Adresa</span></p>
<p><span style="font-weight:bold;">PSČ, mesto, štát</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Váž. pán Babineaux,</p>
<p><br class="hideInIE"></p>
<p>prostredníctvom tohto e-mailu by som Vám rád predstavil najnovší nástroj produktivity - HCL Docs.</p>
<p><br class="hideInIE"></p>
<p>Produkt HCL Docs je webový editor na vytváranie, zdieľanie a spoločné vytváranie dokumentov, tabuliek a prezenátcií. Ide o lepší spôsob vytvárania dokumentov, pretože môžete súbežne upravovať s kolegami, komentovať a diskutovať v kontexte a priraďovať sekcie členom tímu.</p>
<p><br class="hideInIE"></p>
<p>Ak potrebujete viac informácií, kontaktujte ma, prosím.</p>
<p><br class="hideInIE"></p>
<p>S pozdravom</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Senior Sales Manager</span></p>
<p><br class="hideInIE"></p>
<p>Záver</p>
</body>
</html>
