

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Referencie</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >Meno, priezvisko (YYYY). Meno zdroja. Meno vydavateľa, od - do.</li>
			<li documentBlock="true" >Meno, priezvisko (YYYY). Meno zdroja. Meno vydavateľa, od - do.</li>
			<li documentBlock="true" >Meno, priezvisko (YYYY). Meno zdroja. Meno vydavateľa, od - do.</li>
			<li documentBlock="true" >Meno, priezvisko (YYYY). Meno zdroja. Meno vydavateľa, od - do.</li>
			<li documentBlock="true" >Meno, priezvisko (YYYY). Meno zdroja. Meno vydavateľa, od - do.</li>
			<li documentBlock="true" >Meno, priezvisko (YYYY). Meno zdroja. Meno vydavateľa, od - do.</li>
			<li documentBlock="true" >Meno, priezvisko (YYYY). Meno zdroja. Meno vydavateľa, od - do.</li>
			<li documentBlock="true" >Meno, priezvisko (YYYY). Meno zdroja. Meno vydavateľa, od - do.</li>
			<li documentBlock="true" >Meno, priezvisko (YYYY). Meno zdroja. Meno vydavateľa, od - do.</li>
			<li documentBlock="true" >Meno, priezvisko (YYYY). Meno zdroja. Meno vydavateľa, od - do.</li>
		</ul>
	</div>

</div>
<p></p>
