<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>회의록</title>
</head>
<body  class="concord_Doc_Style_2">

<p class="page">

	<p documentBlock="true" restyle="false"  concordTemplateComponent="letterhead" class="letterhead">
		<h1>미팅 이름</h1>
		<ul>
			<li>프로젝트 이름</li>
			<li>회사 이름</li>
		</ul>
		<hr></hr>
	</p>


	<p documentBlock="true"  class="section">
		<h2>참석자</h2>
		<table class="smartTable STStyle4" restyle="true" concordTemplateComponent="smartTable">
		<tbody>
			<tr class="tableHeaderRow">
				<th style="width: 200px;">이름</th>
				<th style="width: 250px;">이메일 주소</th>
				<th style="width: 250px;">직위</th>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
		</tbody>
		</table>
		
	</p>
		
	<p documentBlock="true"  class="section">
		<h2>의제</h2>
		<table class="smartTable STStyle4" restyle="true" concordTemplateComponent="smartTable">
		<tbody>
			<tr class="tableHeaderRow">
				<th style="width: 150px;">항목</th>
				<th style="width: 200px;">소유자</th>
				<th style="width: 150px;">시간</th>
				<th style="width: 350px;">설명</th>

			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
		</tbody>
		</table>
			
	</p>
		
	<p documentBlock="true"  class="section">
		<h2>수행 항목</h2>
		<table class="smartTable STStyle4" restyle="true" concordTemplateComponent="smartTable">
		<tbody>
			<tr class="tableHeaderRow">
				<th style="width: 150px;">수행 항목</th>
				<th style="width: 200px;">소유자</th>
				<th style="width: 150px;">만기 날짜</th>
				<th style="width: 350px;">설명</th>

			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
		</tbody>
		</table>
			
		
		
	</p>
	
	<p documentBlock="true"  class="section">
		<h2>참고</h2>
		<ul>
		<!--
		<li>In veri quidam appetere vix, eum no nonumy aliquid sensibus. </li>
		<li>Vix id sumo suavitate cotidieque. Dignissim definiebas intellegebat eu qui, laoreet impedit senserit per ad, te est illum discere aliquam. </li>
		<li>Ullamcorper philosophia vix no, no ubique utroque mei, veri decore omittam ne ius. </li>
		-->
		</ul>

		
	</p>
	
</p>
</body>
</html>
