<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>뉴스레터</title>
</head>
<body  class="concord_Doc_Style_10">

<p class="page" id="newsletter">

	<p documentBlock="true" restyle="false" concordTemplateComponent="letterhead" class="letterhead">
		<h1>뉴스레터 제목 또는 공지사항</h1>
		<ul>
			<li class="business">회사 이름</li>
			<li class="addressLine1">(우편번호) 시/도, 구/군/시, 동/면/읍</li>
			<li class="addressLine2">상세 주소</li>
			<li class="email">email@example.com</li>
			<li class="phone">123-456-7890</li>
		</ul>
		<hr></hr>
	</p>

	<p documentBlock="true"  class="section summary">
		<h2>뉴스 속보</h2>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>		
		-->
	</p>

	<p documentBlock="true" class="section">
		<h2>주제 1</h2>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>		
		-->
	</p>

	<p documentBlock="true" class="section">
		<h2>주제 2</h2>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>		
		-->
	</p>
	
	<p documentBlock="true" class="section reference">
		<h2>자세한 정보</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li><a href="#">링크 1</a></li>
			<li><a href="#">링크 2</a></li>
			<li><a href="#">링크 3</a></li>						
		</ul>
	</p>
	
</p>
</body>
</html>
