

<p class="page" id="researchpaper">


	<p restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>참고 문헌</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" ><span class="author">성명</span><span class="date">(YYYY).</span> <span class="source">원본 이름.</span> <span class="publisher">출판사 이름,</span> <span class="range">시작 - 끝.</span></li>
			<li documentBlock="true" ><span class="author">성명</span><span class="date">(YYYY).</span> <span class="source">원본 이름.</span> <span class="publisher">출판사 이름,</span> <span class="range">시작 - 끝.</span></li>
			<li documentBlock="true" ><span class="author">성명</span><span class="date">(YYYY).</span> <span class="source">원본 이름.</span> <span class="publisher">출판사 이름,</span> <span class="range">시작 - 끝.</span></li>
			<li documentBlock="true" ><span class="author">성명</span><span class="date">(YYYY).</span> <span class="source">원본 이름.</span> <span class="publisher">출판사 이름,</span> <span class="range">시작 - 끝.</span></li>
			<li documentBlock="true" ><span class="author">성명</span><span class="date">(YYYY).</span> <span class="source">원본 이름.</span> <span class="publisher">출판사 이름,</span> <span class="range">시작 - 끝.</span></li>
			<li documentBlock="true" ><span class="author">성명</span><span class="date">(YYYY).</span> <span class="source">원본 이름.</span> <span class="publisher">출판사 이름,</span> <span class="range">시작 - 끝.</span></li>
			<li documentBlock="true" ><span class="author">성명</span><span class="date">(YYYY).</span> <span class="source">원본 이름.</span> <span class="publisher">출판사 이름,</span> <span class="range">시작 - 끝.</span></li>
			<li documentBlock="true" ><span class="author">성명</span><span class="date">(YYYY).</span> <span class="source">원본 이름.</span> <span class="publisher">출판사 이름,</span> <span class="range">시작 - 끝.</span></li>
			<li documentBlock="true" ><span class="author">성명</span><span class="date">(YYYY).</span> <span class="source">원본 이름.</span> <span class="publisher">출판사 이름,</span> <span class="range">시작 - 끝.</span></li>
			<li documentBlock="true" ><span class="author">성명</span><span class="date">(YYYY).</span> <span class="source">원본 이름.</span> <span class="publisher">출판사 이름,</span> <span class="range">시작 - 끝.</span></li>
		</ul>
	</p>

</p>
<p></p>
