<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Fattura</title>
</head>
<body  class="concord_Doc_Style_7">

<p class="page" id="invoice">

	<p documentBlock="true" restyle="false"  concordTemplateComponent="letterhead" class="letterhead">
		<p>Rimettere il pagamento a</p>
		<h1>Nome azienda</h1>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li class="addressLine1">Via 1234</li>
			<li class="addressLine2">Città, Stato 12345</li>
			<li class="email">email@example.com</li>
			<li class="phone">(123) 456-7890</li>
		</ul>
		<hr></hr>
	</p>

	<p documentBlock="true"  class="section summary">
		<h2>Dati di fatturazione</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li>Numero fattura</li>
			<li class="date">Data fattura</li>
			<li class="date">Scadenza</li>
		</ul>
	</p>

	<p documentBlock="true"  class="section">
		<h2>Destinatario fattura</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list_16">
			<li class="name">Nome Cognome</li>
			<li class="addressLine1">Via 1234</li>
			<li class="addressLine2">Città, Stato 12345</li>
			<li class="email">email@example.com</li>
			<li class="phone">(123) 456-7890</li>
		</ul>
	</p>
	
	<p documentBlock="true"  class="section">
		<h2>Informazioni dettagliate</h2>
		<table documentBlock="true" restyle="true" class="smartTable STStyle3" concordTemplateComponent="smartTable">
			<tr class="tableHeaderRow">
				<th>Data</th>
				<th>Articolo</th>
				<th>Descrizione</th>
				<th>Importo</th>
			</tr>
			<tr>
				<td>GG/MM/AAAA</td>
				<td>Manodopera</td>
		<!--
				<td>Dignissim definiebas intellegebat eu qui, laoreet impedit</td>
		-->
				<td>$50,00</td>
			</tr>
			<tr class="alternateRow">
				<td>GG/MM/AAAA</td>
				<td>Manodopera</td>
		<!--
				<td>Sit ne sint aliquip nusquam, ut oblique salutandi sea, no erat </td>
		-->
				<td>$50,00</td>
			</tr>
			<tr>
				<td colspan="3">Totale</td>
				<td>$0,00</td>
			</tr>
		</table>
	</p>
		
	<p documentBlock="true" class="section conclusion">
		<h2>Scadenza pagamento</h2>
		<ul>
			<li>Totale fattura: $0,00</li>
			<li>Pagamenti/crediti: $0,00</li>
			<li>Saldo dovuto: $0,00</li>
		</ul>
	</p>
	
</p>
</body>
</html>
