<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Lettera di accompagnamento</title>
</head>
<body class="concord_Doc_Style_11">

<p class="page" id="coverletter">

	<p documentBlock="true" restyle="false"  concordTemplateComponent="letterhead" class="letterhead">
		<h1>Nome Cognome</h1>
		<ul>
			<li class="addressLine1">Via 1234</li>
			<li class="addressLine2">Città, Stato 12345</li>
			<li class="email">email@example.com</li>
			<li class="phone">(123) 456-7890</li>
		</ul>
	</p>

	<p documentBlock="true" class="section summary">
		<h2>Destinatario</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list_16">
			<li class="name">Nome Cognome</li>
			<li class="addressLine1">Via 1234</li>
			<li class="addressLine2">Città, Stato 12345</li>
			<li class="email">email@example.com</li>
			<li class="phone">(123) 456-7890</li>
		</ul>
	</p>
		
	<p documentBlock="true"  class="section">
		<p>Gentile Nome,</p>
		<!--
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis turpis ac mi porttitor vel pharetra ante tincidunt. Nam faucibus nisi vel velit porta viverra.</p>
		-->
		<p>Cordiali saluti,</p>
		<p>Nome Cognome</p>
	</p>
	
</p>
</body>
</html>
