

<p class="page" id="researchpaper">


	<p restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Riferimenti</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" ><span class="author">Cognome, Nome</span> <span class="date">(AAAA).</span> <span class="source">Fonte.</span> <span class="publisher">Editore,</span> <span class="range">inizio - fine.</span></li>
			<li documentBlock="true" ><span class="author">Cognome, Nome</span> <span class="date">(AAAA).</span> <span class="source">Fonte.</span> <span class="publisher">Editore,</span> <span class="range">inizio - fine.</span></li>
			<li documentBlock="true" ><span class="author">Cognome, Nome</span> <span class="date">(AAAA).</span> <span class="source">Fonte.</span> <span class="publisher">Editore,</span> <span class="range">inizio - fine.</span></li>
			<li documentBlock="true" ><span class="author">Cognome, Nome</span> <span class="date">(AAAA).</span> <span class="source">Fonte.</span> <span class="publisher">Editore,</span> <span class="range">inizio - fine.</span></li>
			<li documentBlock="true" ><span class="author">Cognome, Nome</span> <span class="date">(AAAA).</span> <span class="source">Fonte.</span> <span class="publisher">Editore,</span> <span class="range">inizio - fine.</span></li>
			<li documentBlock="true" ><span class="author">Cognome, Nome</span> <span class="date">(AAAA).</span> <span class="source">Fonte.</span> <span class="publisher">Editore,</span> <span class="range">inizio - fine.</span></li>
			<li documentBlock="true" ><span class="author">Cognome, Nome</span> <span class="date">(AAAA).</span> <span class="source">Fonte.</span> <span class="publisher">Editore,</span> <span class="range">inizio - fine.</span></li>
			<li documentBlock="true" ><span class="author">Cognome, Nome</span> <span class="date">(AAAA).</span> <span class="source">Fonte.</span> <span class="publisher">Editore,</span> <span class="range">inizio - fine.</span></li>
			<li documentBlock="true" ><span class="author">Cognome, Nome</span> <span class="date">(AAAA).</span> <span class="source">Fonte.</span> <span class="publisher">Editore,</span> <span class="range">inizio - fine.</span></li>
			<li documentBlock="true" ><span class="author">Cognome, Nome</span> <span class="date">(AAAA).</span> <span class="source">Fonte.</span> <span class="publisher">Editore,</span> <span class="range">inizio - fine.</span></li>
		</ul>
	</p>

</p>
<p></p>
