<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Dirección postal</span></p>
<p><span style="font-weight:bold;">Ciudad, Provincia, Código postal</span></p>
<p><span style="font-weight:bold;">15/02/2012</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Phillipe Babineaux</span></p>
<p><span style="font-weight:bold;">Jefe ejecutivo</span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">Dirección postal</span></p>
<p><span style="font-weight:bold;">Ciudad, Provincia, Código postal</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Querido Sr. Babineaux,</p>
<p><br class="hideInIE"></p>
<p>Tengo el honor de presentarle la herramienta de productividad más reciente, HCL Docs, a través de este mensaje.</p>
<p><br class="hideInIE"></p>
<p>HCL Docs es un editor basado en web para crear, compartir y crear de forma colaborativa documentos, hojas de cálculo y presentaciones. Es una mejor manera de crear documentos, porqué puede editar conjuntamente con sus compañeros, comentar y debatir en contexto, y asignar secciones a miembros del equipo.</p>
<p><br class="hideInIE"></p>
<p>No dude en ponerse en contacto conmigo si necesita más información.</p>
<p><br class="hideInIE"></p>
<p>Atentamente,</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Director ejecutivo de ventas</span></p>
<p><br class="hideInIE"></p>
<p>Archivos adjuntos</p>
</body>
</html>
