<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p style="line-height:1.5;text-align:right;font-weight:bold;font-size:10pt;">1 Calle principal, su ciudad, su estado, su país</p>
<p style="line-height:1.5;text-align:right;font-weight:bold;font-size:10pt;">617-555-0000</p>
<table cellspacing="0px" style="border-top:3pt solid #99CCFF;border-bottom:3pt solid #99CCFF;table-layout:fixed;word-break:break-all;border-collapse:collapse;">
<tbody>
<tr>
<td style="width:6.2cm;padding:0.1994cm;border:none ;vertical-align:top;">
<p style="color:#663300;font-weight:bold;font-size:16pt;">MEMORÁNDUM</p>
</td>
<td style="width:9.3cm;padding:0.1994cm;border:none ;vertical-align:top;"></td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;">Para:</p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="font-weight:bold;font-size:11pt;">Phillipe Babineaux</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;">De:</p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="font-weight:bold;font-size:11pt;">Joe</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;">Fecha:</p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="font-weight:bold;font-size:11pt;">15/02/2012</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;">Asunto:</p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="font-weight:bold;font-size:11pt;">Título</span></p>
</td>
</tr>
<tr>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:right;">CC:</p>
</td>
<td style="padding:0.1994cm;border:none ;vertical-align:top;">
<p style="text-align:left;"><span style="font-weight:bold;font-size:11pt;">John</span></p>
</td>
</tr>
</tbody>
</table>
<p><br class="hideInIE">
</p>
<p style="font-size:11pt;">Escriba su mensaje aquí...</p>
</body>
</html>
