<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Currículum vitae</title>
</head>
<body  class="concord_Doc_Style_1">
<p style="color:#0000ff;text-align:center;font-size:15pt;">Phillipe Babineaux</p>
<p style="color:#333333;text-align:center;font-size:10pt;"> </p>
<p style="color:#333333;text-align:center;font-size:10pt;">1 Calle principal, su ciudad, su estado, su país</p>
<p style="color:#333333;text-align:center;font-size:10pt;">617-555-0000</p>
<p style="color:#333333;text-align:center;font-size:10pt;">phillipe.babineaux@yourcompany.com</p>
<p style="color:#333333;text-align:center;font-size:10pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIN"><li class="lst-cs" value="lst-cs">Resumen </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">Soy una persona de trato afable, eficiente, muy organizada y detallista.</span></p>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIE"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Formación </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-weight:bold;font-size:11pt;">Nombre de la universidad a la que ha asistido recientemente</span></p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">2000 - 2004</span></p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">Tipo de diploma, Título</span></p>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIR"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Experiencia laboral </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="color:#333333;margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Nombre de la empresa actual, ubicación</p>
<p style="color:#333333;margin-left:0.4991cm;font-size:11pt;">2007 - Actualidad</p>
<p style="color:#333333;margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Puesto</p>
<ul class="lst-VDEA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li class="ls-d"><ul class="lst-d" >
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Crear la planificación e identificar los recursos para guiar el proyecto</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Comprender las necesidades del cliente y establecer el plan del proyecto</span></li>
</ul></li>
</ul>
<p style="margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Nombre de la última empresa, ubicación</p>
<p style="margin-left:0.4991cm;font-size:11pt;">2004 - 2006</p>
<p style="margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Puesto</p>
<ul class="lst-VADA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li class="ls-d"><ul class="lst-d" >
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Crear la planificación e identificar los recursos para guiar el proyecto</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Comprender las necesidades del cliente y establecer el plan del proyecto</span></li>
</ul></li>
</ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHEN"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Intereses </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul class="lst-VCEA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Lo más importante son mis hijos. Me encanta pasar tiempo con ellos y participar en cualquier actividad en la que tomen parte.</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Disfruto leyendo en línea tanto en sitios web concretos como en canales de información RSS a los que estoy suscrito y, de vez en cuando, disfruto con un libro o un audiolibro.</span></li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Me gusta permanecer activo. Intento seguir una rutina regular de ejercicio como parte de una liga deportiva. Algunas de mis actividades incluyen: bicicleta, correr, natación, pasear, jugar al futbol y al golf.</span></li>
</ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PEIN"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Referencias </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">Enumere la información de referencia.</span></p>
</body>
</html>
