<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Actas de reunión</title>
</head>
<body  class="concord_Doc_Style_2">

<p class="page">

	<p documentBlock="true" restyle="false"  concordTemplateComponent="letterhead" class="letterhead">
		<h1>Nombre de la reunión</h1>
		<ul>
			<li>Nombre del proyecto</li>
			<li>Nombre de la empresa</li>
		</ul>
		<hr></hr>
	</p>


	<p documentBlock="true"  class="section">
		<h2>Asistentes</h2>
		<table class="smartTable STStyle4" restyle="true" concordTemplateComponent="smartTable">
		<tbody>
			<tr class="tableHeaderRow">
				<th style="width: 200px;">Nombre</th>
				<th style="width: 250px;">Dirección de correo electrónico</th>
				<th style="width: 250px;">Título</th>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
		</tbody>
		</table>
		
	</p>
		
	<p documentBlock="true"  class="section">
		<h2>Programa</h2>
		<table class="smartTable STStyle4" restyle="true" concordTemplateComponent="smartTable">
		<tbody>
			<tr class="tableHeaderRow">
				<th style="width: 150px;">Artículo</th>
				<th style="width: 200px;">Propietario</th>
				<th style="width: 150px;">Hora</th>
				<th style="width: 350px;">Descripción</th>

			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
		</tbody>
		</table>
			
	</p>
		
	<p documentBlock="true"  class="section">
		<h2>Elementos de acción</h2>
		<table class="smartTable STStyle4" restyle="true" concordTemplateComponent="smartTable">
		<tbody>
			<tr class="tableHeaderRow">
				<th style="width: 150px;">Elemento de acción</th>
				<th style="width: 200px;">Propietario</th>
				<th style="width: 150px;">Fecha de vencimiento</th>
				<th style="width: 350px;">Descripción</th>

			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
			<tr class="alternateRow">
				<td> </td>
				<td> </td>
				<td> </td> 	<td> </td>
			</tr>
		</tbody>
		</table>
			
		
		
	</p>
	
	<p documentBlock="true"  class="section">
		<h2>Notas</h2>
		<ul>
		<!--
		<li>In veri quidam appetere vix, eum no nonumy aliquid sensibus. </li>
		<li>Vix id sumo suavitate cotidieque. Dignissim definiebas intellegebat eu qui, laoreet impedit senserit per ad, te est illum discere aliquam. </li>
		<li>Ullamcorper philosophia vix no, no ubique utroque mei, veri decore omittam ne ius. </li>
		-->
		</ul>

		
	</p>
	
</p>
</body>
</html>
