

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Referencias</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >Nombre, Apellido (AAAA). Nombre de origen. Nombre de editorial, inicio - fin.</li>
			<li documentBlock="true" >Nombre, Apellido (AAAA). Nombre de origen. Nombre de editorial, inicio - fin.</li>
			<li documentBlock="true" >Nombre, Apellido (AAAA). Nombre de origen. Nombre de editorial, inicio - fin.</li>
			<li documentBlock="true" >Nombre, Apellido (AAAA). Nombre de origen. Nombre de editorial, inicio - fin.</li>
			<li documentBlock="true" >Nombre, Apellido (AAAA). Nombre de origen. Nombre de editorial, inicio - fin.</li>
			<li documentBlock="true" >Nombre, Apellido (AAAA). Nombre de origen. Nombre de editorial, inicio - fin.</li>
			<li documentBlock="true" >Nombre, Apellido (AAAA). Nombre de origen. Nombre de editorial, inicio - fin.</li>
			<li documentBlock="true" >Nombre, Apellido (AAAA). Nombre de origen. Nombre de editorial, inicio - fin.</li>
			<li documentBlock="true" >Nombre, Apellido (AAAA). Nombre de origen. Nombre de editorial, inicio - fin.</li>
			<li documentBlock="true" >Nombre, Apellido (AAAA). Nombre de origen. Nombre de editorial, inicio - fin.</li>
		</ul>
	</div>

</div>
<p></p>
