<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Račun</title>
</head>
<body  class="concord_Doc_Style_1">
<table cellspacing="0px" style="margin-top: 0.5cm;margin-bottom: 0.5cm;table-layout: fixed; border-collapse: collapse;"><tbody><tr>
<td style="vertical-align:middle;width:16.27cm;border-top: 0.5pt solid #000000;border-bottom: 0.5pt solid #000000;padding-top:0.7cm;padding-bottom:0.7cm;">
<p><span>Logotip podjetja </span><span style="color:#cc0066;font-weight:bold;font-size:16pt;">Renovations Inc. RAČUN</span></p>
</td></tr></tbody></table>
<p style="font-weight:bold;font-size:11pt;">Za:</p>
<p style="font-weight:bold;font-size:11pt;">Phillipe Babineaux</p>
<p style="font-size:11pt;">Naslov prejemnika</p>
<p><br class="hideInIE">
</p>
<p><br class="hideInIE">
</p>
<table cellspacing="0px" style="border: 0.5pt solid #333333;table-layout:fixed;word-break:break-all;border-collapse:collapse;">
<tbody>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>ŠT. RAČUNA</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>DATUM RAČUNA</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>ŠT. NAROČILNICE</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>ŠT. PRODAJALCA</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>ŠT. ZAHTEVE</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6332999999999998cm;">
<p>DRUGO</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
</tbody>
</table>
<p><br class="hideInIE">
</p>
<p><br class="hideInIE">
</p>
<p><br class="hideInIE">
</p>
<table cellspacing="0px" style="border: 0.5pt solid #333333;special-process3:0;table-layout:fixed;word-break:break-all;border-collapse:collapse;">
<tbody>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>KOLIČINA</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:8.2968cm;">
<p>OPIS</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>CENA ENOTE</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>SKUPAJ</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
</tbody>
</table>
<p><br class="hideInIE">
</p>
<p><br class="hideInIE">
</p>
<p><br class="hideInIE">
</p>
<table cellspacing="0px" style="border: 0.5pt solid #333333;special-process3:0;table-layout:fixed;word-break:break-all;border-collapse:collapse;">
<tbody>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>DELNA VSOTA</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>DAVEK OD PRODAJE</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>POŠILJKA</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>ZAHTEVANA KOLIČINA</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>POGOJI</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;background-color:#99ccff;vertical-align:top;width:2.6316cm;">
<p>ROK PLAČILA</p>
</td>
</tr>
<tr>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
<td style="padding:0.1006cm;border: 0.5pt solid #333333;vertical-align:top;">
<p><br class="hideInIE">
</p>
</td>
</tr>
</tbody>
</table>
<p><br class="hideInIE"></p>
<p style="line-height:1.5;text-align:center;font-size:11pt;">Ček naslovite na podjetje <span style="font-weight:bold;">Renovations Inc.</span></p>
<p style="line-height:1.5;text-align:center;"><span style="font-weight:bold;font-size:11pt;">ZAHVALJUJEMO SE VAM ZA SODELOVANJE!</span></p>
</body>
</html>
