<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Naslov</span></p>
<p><span style="font-weight:bold;">Kraj, država, poštna št.</span></p>
<p><span style="font-weight:bold;">2012/02/15</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Phillipe Babineaux</span></p>
<p><span style="font-weight:bold;">Izvršni direktor</span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">Naslov</span></p>
<p><span style="font-weight:bold;">Kraj, država, poštna št.</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Spoštovani g. Babineaux,</p>
<p><br class="hideInIE"></p>
<p>V čast mi je, da Vam lahko v tem e-poštnem sporočilu predstavim najnovejše orodje za storilnost HCL Docs.</p>
<p><br class="hideInIE"></p>
<p>HCL Docs je spletni urejevalnik za ustvarjanje, skupno rabo ter večpredstavnostno programiranje dokumentov, preglednic in predstavitev. Predstavlja boljši način za ustvarjanje dokumentov, saj omogoča skupno urejanje, podajanje komentarjev in razpravljanje v kontekstu ter dodeljevanje odsekov članom ekipe.</p>
<p><br class="hideInIE"></p>
<p>Če potrebujete več informacij, sem Vam na voljo.</p>
<p><br class="hideInIE"></p>
<p>S spoštovanjem,</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Višji vodja prodaje</span></p>
<p><br class="hideInIE"></p>
<p>Priloge</p>
</body>
</html>
