

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Reference</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >Ime, priimek (leto). Ime vira. Ime založnika, zač. dat.-konč. dat.</li>
			<li documentBlock="true" >Ime, priimek (leto). Ime vira. Ime založnika, zač. dat.-konč. dat.</li>
			<li documentBlock="true" >Ime, priimek (leto). Ime vira. Ime založnika, zač. dat.-konč. dat.</li>
			<li documentBlock="true" >Ime, priimek (leto). Ime vira. Ime založnika, zač. dat.-konč. dat.</li>
			<li documentBlock="true" >Ime, priimek (leto). Ime vira. Ime založnika, zač. dat.-konč. dat.</li>
			<li documentBlock="true" >Ime, priimek (leto). Ime vira. Ime založnika, zač. dat.-konč. dat.</li>
			<li documentBlock="true" >Ime, priimek (leto). Ime vira. Ime založnika, zač. dat.-konč. dat.</li>
			<li documentBlock="true" >Ime, priimek (leto). Ime vira. Ime založnika, zač. dat.-konč. dat.</li>
			<li documentBlock="true" >Ime, priimek (leto). Ime vira. Ime založnika, zač. dat.-konč. dat.</li>
			<li documentBlock="true" >Ime, priimek (leto). Ime vira. Ime založnika, zač. dat.-konč. dat.</li>
		</ul>
	</div>

</div>
<p></p>
