<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Helbidea</span></p>
<p><span style="font-weight:bold;">Hiria, probintzia, posta-kodea</span></p>
<p><span style="font-weight:bold;">2012/02/15</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Phillipe Babineaux</span></p>
<p><span style="font-weight:bold;">Zuzendari nagusia</span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">Helbidea</span></p>
<p><span style="font-weight:bold;">Hiria, probintzia, posta-kodea</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Dear Mr. Babineaux,</p>
<p><br class="hideInIE"></p>
<p>Harrotasun handiz, HCL Docs produktibitate-tresna aurkezten dizut mezu elektroniko honen bidez.
</p>
<p><br class="hideInIE"></p>
<p>HCL Docs interneten oinarritutako editore bat da. Dokumentuak, kalkulu-orriak eta aurkezpenak sortzeko, partekatzeko eta elkarlanean lantzeko balio du. Dokumentuak sortzeko erarik onena da, lankideekin batera editatu, iruzkindu eta kontestuan eztabaidatu ahal dituzulako, eta taldeko kideei sekzioak eslei diezazkiezulako. </p>
<p><br class="hideInIE"></p>
<p>Mesedez, zalantza egin gabe jarri nirekin harremanetan informazio gehiago nahi izanez gero.</p>
<p><br class="hideInIE"></p>
<p>Adeitasunez,</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Salmenta-gerente nagusia</span></p>
<p><br class="hideInIE"></p>
<p>Eranskinak</p>
</body>
</html>
