<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Curriculuma</title>
</head>
<body  class="concord_Doc_Style_1">
<p style="color:#0000ff;text-align:center;font-size:15pt;">Phillipe Babineaux</p>
<p style="color:#333333;text-align:center;font-size:10pt;"> </p>
<p style="color:#333333;text-align:center;font-size:10pt;">Kalea, zenbakia, zure hiria, zure probintzia, zure herrialdea </p>
<p style="color:#333333;text-align:center;font-size:10pt;">617-555-0000</p>
<p style="color:#333333;text-align:center;font-size:10pt;">phillipe.babineaux@yourcompany.com</p>
<p style="color:#333333;text-align:center;font-size:10pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIN"><li class="lst-cs" value="lst-cs">Laburpena </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">Pertsona eramangarria naiz, eraginkorra, oso antolatua eta beti nago xehetasunei begira. </span> </p>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIE"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Heziketa
</li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-weight:bold;font-size:11pt;">Unibertsitatearen izena </span> </p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">2000 - 2004</span></p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">Titulu-mota, ikasketen izena </span> </p>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHIR"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Lan-esperientzia </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="color:#333333;margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Uneko enplegatzailearen izena, kokalekua </p>
<p style="color:#333333;margin-left:0.4991cm;font-size:11pt;">2007 - Gaur</p>
<p style="color:#333333;margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Lanaren izenburua </p>
<ul class="lst-VDEA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li class="ls-d"><ul class="lst-d" >
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Sortu programa bat eta identifikatu proiektua gidatzeko baliabideak </span> </li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Ulertu bezeroaren beharrak eta sortu proiektu-plan bat </span> </li>
</ul></li>
</ul>
<p style="margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Azken enplegatzailearen izena, kokalekua </p>
<p style="margin-left:0.4991cm;font-size:11pt;">2004 - 2006</p>
<p style="margin-left:0.4991cm;font-weight:bold;font-size:11pt;">Lanaren izenburua</p>
<ul class="lst-VADA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li class="ls-d"><ul class="lst-d" >
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Sortu programa bat eta identifikatu proiektua gidatzeko baliabideak </span> </li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Ulertu bezeroaren beharrak eta sortu proiektu-plan bat </span> </li>
</ul></li>
</ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PHEN"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Interesak
</li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul class="lst-VCEA" types="lst-d,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1">
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Garrantzitsuena nire seme-alabak dira. Beraiekin denbora emateaz izugarri gozatzen dut, eta haiek parte diren edozein jardueratan parte hartzeaz ere bai. </span> </li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Web-orri zehatzak eta RSS jarioen bidez harpidetu naizen orriak irakurtzeaz gozatzen dut, eta noizean behin liburu edo audiolibururen bat ere irakurtzea gustatzen zait. </span> </li>
<li style="font-size:11pt;" class="lst-d"><span style="color:#333333;font-size:11pt;">Aktibo egotea gustatzen zait. Kirol-liga bateko parte izanda, ariketa-errutina bat jarraitzen ahalegintzen naiz. Barruko jardueren artean, honako hauek daude: bizikletan aritzea, korrika egitea, igeri egitea, ibiltzea, futbolean jokatzea eta golfean jokatzea. </span> </li>
</ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<ul types="lst-cs,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1:lst-d,1:lst-a,1:lst-c,1" class="lst-PEIN"><li style="font-size: 12pt;" class="lst-cs" value="lst-cs">Erreferentziak </li></ul>
<p style="margin-left:0.4991cm;font-size:11pt;"> </p>
<p style="margin-left:0.4991cm;"><span style="font-size:11pt;">Zerrendatu erreferentzien informazioa. </span> </p>
</body>
</html>
