

<div class="page" id="researchpaper">


	<div restyle="true"  documentBlock="true" class="references" concordTemplateComponent="references" >
		<h2>Erreferentziak</h2>
		<ul restyle="true" concordtemplatecomponent="list" class="list">
			<li documentBlock="true" >Izena, abizena (UUUU). Jatorrizko izena. Argitaratzailearen izena, hasiera - amaiera.</li>
			<li documentBlock="true" >Izena, abizena (UUUU). Jatorrizko izena.
Argitaratzailearen izena, hasiera - amaiera.</li>
			<li documentBlock="true" >Izena, abizena (UUUU). Jatorrizko izena. 
Argitaratzailearen izena, hasiera - amaiera.</li>
			<li documentBlock="true" >Izena, abizena (UUUU). Jatorrizko izena. 
Argitaratzailearen izena, hasiera - amaiera.</li>
			<li documentBlock="true" >Izena, abizena (UUUU). Jatorrizko izena. 
Argitaratzailearen izena, hasiera - amaiera.</li>
			<li documentBlock="true" >Izena, abizena (UUUU). Jatorrizko izena. 
Argitaratzailearen izena, hasiera - amaiera.</li>
			<li documentBlock="true" >Izena, abizena (UUUU). Jatorrizko izena. 
Argitaratzailearen izena, hasiera - amaiera.</li>
			<li documentBlock="true" >Izena, abizena (UUUU). Jatorrizko izena. 
Argitaratzailearen izena, hasiera - amaiera.</li>
			<li documentBlock="true" >Izena, abizena (UUUU). Jatorrizko izena. 
Argitaratzailearen izena, hasiera - amaiera.</li>
			<li documentBlock="true" >Izena, abizena (UUUU). Jatorrizko izena. 
Argitaratzailearen izena, hasiera - amaiera.</li>
		</ul>
	</div>

</div>
<p></p>
