<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Street Address</span></p>
<p><span style="font-weight:bold;">City, ST, ZIP Code</span></p>
<p><span style="font-weight:bold;">2012/02/15</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Phillipe Babineaux</span></p>
<p><span style="font-weight:bold;">Chief Executive Officer</span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">Street Address</span></p>
<p><span style="font-weight:bold;">City, ST, ZIP Code</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Dear Mr. Babineaux,</p>
<p><br class="hideInIE"></p>
<p>I am honored to introduce the latest productivity tool HCL Docs to you via this email.</p>
<p><br class="hideInIE"></p>
<p>HCL Docs is a web-based editor for creating, sharing and collaboratively authoring documents, spreadsheets and presentations. It is a better way to create documents, because you can co-edit with colleagues, comment and discuss in context, and assign sections to team members.</p>
<p><br class="hideInIE"></p>
<p>Please feel free to contact me if you need more information.</p>
<p><br class="hideInIE"></p>
<p>Sincerely,</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Senior Sales Manager</span></p>
<p><br class="hideInIE"></p>
<p>Enclosures</p>
</body>
</html>