<div class='cellBorder'>
	<div dojoAttachPoint='range' class='cellBorderRange'>
		<div dojoType="writer.ui.widget.CellBorderRange" dojoAttachPoint='rangePanel'></div>
	</div>
	<div class='cellBorderSep'></div>
	<div dojoAttachPoint='details' class='cellBorderDetails'>
		<div dojoType="writer.ui.widget.CellBorderWidth" dojoAttachPoint='widthPicker' title='${nls.border_width}'></div>
		<div dojoType="writer.ui.widget.CellBorderType" dojoAttachPoint='typePicker' title='${nls.border_type}'></div>
		<div dojoType="writer.ui.widget.CellBorderColor" dojoAttachPoint='colorBtn' title='${nls.border_color}'></div>
	</div>
</div>