<div  dojoAttachPoint="containerNode" class="dijitInline dijitColorPalette">
	<table class="dijitPaletteTable" cellSpacing="0" cellPadding="0">
		<thead><tr><td colspan="10" tabindex ="0" align="center" dojoAttachPoint="autoNode" dojoAttachEvent="onclick:onAutoClick" title ="${0}">${0}</td></tr></thead>
		<tbody dojoAttachPoint="gridNode"></tbody>
		<tfoot><tr><td colspan="10" tabindex ="0" align="center" dojoAttachPoint="moreNode" dojoAttachEvent="onclick:onMoreClick" title ="${2}">${1}</td></tr></tfoot>
	</table>
</div>
