<div class="table-picker" style=" -moz-user-select: none;background:#fff;padding:10px 5px;" data-dojo-attach-point="containerNode">
	<div style="width: 100%; height: 100%;">
		<div class="table-picker-mousecatcher" data-dojo-attach-point="catcherNode" data-dojo-attach-event="onmousemove:onMouseMove"></div>
		<div class="table-picker-unhighlighted" data-dojo-attach-point="unhighlightedNode"></div>
		<div class="table-picker-highlighted" data-dojo-attach-point="highlightedNode" tabindex="0" ></div>
	</div>
	<div class="table-picker-status" data-dojo-attach-point="statusNode"></div>
</div>
