<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Джо</span></p>
<p><span style="font-weight:bold;">Адрес</span></p>
<p><span style="font-weight:bold;">Город, область, индекс</span></p>
<p><span style="font-weight:bold;">15.02.2012</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Филипп Бабино</span></p>
<p><span style="font-weight:bold;">Генеральный директор</span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">Адрес</span></p>
<p><span style="font-weight:bold;">Город, область, индекс</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Господин Бабино,</p>
<p><br class="hideInIE"></p>
<p>Я с радостью представляю вам новый инструмент для повышения производительности - HCL Docs.</p>
<p><br class="hideInIE"></p>
<p>HCL Docs - веб-редактор, предназначенный для создания и совместной работы над документами, таблицами и презентациями. С его помощью можно создавать документы и вносить в них изменения совместно с коллегами, добавлять комментарии и проводить обсуждение, а также назначать разделы отдельным участникам коллектива.</p>
<p><br class="hideInIE"></p>
<p>С удовольствием отвечу на любые ваши вопросы.</p>
<p><br class="hideInIE"></p>
<p>С уважением,</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Джо</span></p>
<p><span style="font-weight:bold;">Старший менеджер по продажам</span></p>
<p><br class="hideInIE"></p>
<p>Приложения</p>
</body>
</html>
