<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body  class="concord_Doc_Style_1">
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Adresa</span></p>
<p><span style="font-weight:bold;">Grad, ulica, poštanski broj</span></p>
<p><span style="font-weight:bold;">2012/02/15</span></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Phillipe Babineaux</span></p>
<p><span style="font-weight:bold;">Glavni izvršni direktor</span></p>
<p><span style="font-weight:bold;">Renovations Inc.</span></p>
<p><span style="font-weight:bold;">Adresa</span></p>
<p><span style="font-weight:bold;">Grad, ulica, poštanski broj</span></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p>Dragi g. Babineaux,</p>
<p><br class="hideInIE"></p>
<p>Imam čast predstaviti vam najnoviji alat za produktivnost, HCL Docs, putem ove e-pošte.</p>
<p><br class="hideInIE"></p>
<p>HCL Docs je editor temeljen na webu za kreiranje, dijeljenje i zajedničko stvaranje dokumenata, proračunskih tablica i prezentacija. To je bolji način kreiranja dokumenata jer možete zajedno s kolegama uređivati dokument, komentirati i raspravljati unutar konteksta i dodijeliti dijelove članovima tima.</p>
<p><br class="hideInIE"></p>
<p>Slobodno mi se obratite ako trebate dodatne informacije.</p>
<p><br class="hideInIE"></p>
<p>Srdačan pozdrav,</p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><br class="hideInIE"></p>
<p><span style="font-weight:bold;">Joe</span></p>
<p><span style="font-weight:bold;">Viši voditelj prodaje</span></p>
<p><br class="hideInIE"></p>
<p>Prilozi</p>
</body>
</html>
