<div class = "grid-container" role="region" dojoAttachPoint="containerNode, focusNode">
<div class = "grid-overlay-container" dojoAttachPoint="decoratorViews">
</div>
<div class = "grid-view-container" dojoAttachPoint="contentViews">
	<div class = "grid-view-container-top" dojoAttachPoint = "topview">
	<div class="grid-subview" dojoAttachPoint="ltSubviewNode"></div
	><div class="grid-subview" dojoAttachPoint="rtSubviewNode"></div>
	</div>
	<div class = "grid-view-container-bottom" dojoAttachPoint = "bottomview">
	<div class="grid-subview" dojoAttachPoint="lbSubviewNode"></div
	><div class="grid-subview" dojoAttachPoint="rbSubviewNode"></div>
	</div>
</div>

<canvas class = "websheet-canvas" dojoAttachPoint = "basicLayer"></canvas>
<canvas class = "canvas-layer" dojoAttachPoint = "widgetLayer"></canvas>
<div class = "grid-scrollbar grid-scrollbar-y" dojoAttachPoint = "yScrollNode, vScrollNode"><div></div></div>
<div class = "grid-scrollbar grid-scrollbar-x" dojoAttachPoint = "xScrollNode, hScrollNode"><div></div></div>
</div>