
<div class="permissionItemOutter">
	<div class="permissionItemDiv">
		<div class="permissionItemHeader">
			<div>
				<span class="permissionTypeIcon" dojoAttachPoint="permissionType" tabindex="0" role="tooltip"></span>
				<span class="permissionAddr" dojoAttachPoint="permissionAddr" tabindex="0" role="tooltip"></span>
				<span class="creator" dojoAttachPoint="creator" tabindex="0" role="tooltip"></span>
				<span dojoAttachPoint="actionIcons" class="actionIconSpan">
					<span class="editPermissionIcon" dojoAttachPoint="editPermission" tabindex="0" title="Update" role="button"></span>
					<span class="removePermissionIcon" dojoAttachPoint="removePermission" tabindex="0" title="Delete" role="button"></span>
				</span>
			</div>
		</div>
		<div class="userIconListArea">
			<div dojoType="websheet.ACL.UserIconList" dojoAttachPoint="userIcons" ></div>
		</div>
	</div>
</div>
